Repository Jackela/Novel-Engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-test-markers, frontend-lint, frontend-type-check

.pre-commit-config.yaml:

# Pre-commit hooks for Novel Engine
# See https://pre-commit.com for more information

repos:
  # Test marker validation
  - repo: local
    hooks:
      - id: validate-test-markers
        name: Validate test pyramid markers
        entry: python scripts/testing/validate-test-markers.py
        language: system
        files: ^tests/.*test_.*\.py$
        pass_filenames: true
        verbose: true
        description: |
          Ensures all test functions have proper pyramid markers
          (@pytest.mark.unit, @pytest.mark.integration, or @pytest.mark.e2e).

          To bypass temporarily, include [skip-marker-check] in commit message.

  # Frontend quality gates
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend Lint
        entry: npm run lint
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        dir: frontend

      - id: frontend-type-check
        name: Frontend Type Check
        entry: npm run type-check
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false
        dir: frontend

  # Standard Python hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=100]

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  # Linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args:
          - --max-line-length=100
          - --extend-ignore=E203,W503
          - --exclude=.git,__pycache__,.venv,build,dist

  # Type checking (optional - can be slow)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [types-all]
  #       args: [--ignore-missing-imports]

# Configuration
default_language_version:
  python: python3.11

# Skip specific hooks when needed
# To skip marker validation: SKIP=validate-test-markers git commit -m "message"
# Or include [skip-marker-check] in commit message

test honcho and ai provider resilience
  .github/workflows/ci.yml
  Makefile
  README.md
  src/shared/infrastructure/health/checks/honcho_health_check.py
  src/shared/infrastructure/honcho/client.py
  src/shared/infrastructure/honcho/message_handler.py
  src/shared/infrastructure/honcho/session_manager.py
  src/shared/infrastructure/honcho/workspace_manager.py
  tests/contexts/ai/infrastructure/test_text_generation_providers.py
  tests/shared/infrastructure/honcho/test_honcho_client.py
  tests/shared/infrastructure/honcho/test_honcho_health_check.py
  tests/shared/infrastructure/honcho/test_honcho_managers.py
Due: validate-test-markers

test honcho and ai provider resilience (#159)
  .github/workflows/ci.yml
  Makefile
  README.md
  src/shared/infrastructure/health/checks/honcho_health_check.py
  src/shared/infrastructure/honcho/client.py
  src/shared/infrastructure/honcho/message_handler.py
  src/shared/infrastructure/honcho/session_manager.py
  src/shared/infrastructure/honcho/workspace_manager.py
  tests/contexts/ai/infrastructure/test_text_generation_providers.py
  tests/shared/infrastructure/honcho/test_honcho_client.py
  tests/shared/infrastructure/honcho/test_honcho_health_check.py
  tests/shared/infrastructure/honcho/test_honcho_managers.py
Due: validate-test-markers

chore: add repository pre-commit gates
  .pre-commit-config.yaml
  README.md
Due: none

fix: avoid legacy token flow in session storage
  frontend/src/shared/storage.ts
Due: frontend-lint, frontend-type-check

test: cover refresh session store
  tests/unit/infrastructure/auth/test_refresh_sessions.py
Due: validate-test-markers

chore: finalize project landing cleanup
  openspec/changes/archive/2026-05-26-update-codeql-alerts/proposal.md
  openspec/changes/archive/2026-05-26-update-codeql-alerts/specs/tdd-workflow/spec.md
  openspec/changes/archive/2026-05-26-update-codeql-alerts/tasks.md
  openspec/specs/tdd-workflow/spec.md
  pyproject.toml
  uv.lock
Due: none

chore: finalize project landing cleanup (#164)
  openspec/changes/archive/2026-05-26-update-codeql-alerts/proposal.md
  openspec/changes/archive/2026-05-26-update-codeql-alerts/specs/tdd-workflow/spec.md
  openspec/changes/archive/2026-05-26-update-codeql-alerts/tasks.md
  openspec/specs/tdd-workflow/spec.md
  pyproject.toml
  uv.lock
Due: none

fix dashscope sidecar schema coercion
  src/contexts/ai/infrastructure/providers/dashscope_text_generation_provider.py
  tests/contexts/ai/infrastructure/test_text_generation_providers.py
  tests/text_generation_contract_support.py
Due: validate-test-markers

fix: coerce DashScope sidecar schema fields
  src/contexts/ai/infrastructure/providers/dashscope_text_generation_provider.py
  tests/contexts/ai/infrastructure/test_text_generation_providers.py
  tests/text_generation_contract_support.py
Due: validate-test-markers

fix dashscope mechanical prose leakage
  src/contexts/narrative/application/services/local_writing_engine.py
  tests/apps/cli/test_novel_engine.py
Due: validate-test-markers

fix: sanitize mechanical DashScope prose phrases
  src/contexts/narrative/application/services/local_writing_engine.py
  tests/apps/cli/test_novel_engine.py
Due: validate-test-markers

fix dashscope non-object chapter responses
  src/contexts/ai/infrastructure/providers/dashscope_text_generation_provider.py
  tests/contexts/ai/infrastructure/test_text_generation_providers.py
Due: validate-test-markers

fix: accept DashScope non-object chapter responses
  src/contexts/ai/infrastructure/providers/dashscope_text_generation_provider.py
  tests/contexts/ai/infrastructure/test_text_generation_providers.py
Due: validate-test-markers

fix editorial review provider fallback
  src/contexts/narrative/application/services/local_writing_engine.py
  tests/apps/api/test_workspaces.py
  tests/apps/cli/test_novel_engine.py
Due: validate-test-markers

fix: fall back when editorial provider review fails
  src/contexts/narrative/application/services/local_writing_engine.py
  tests/apps/api/test_workspaces.py
  tests/apps/cli/test_novel_engine.py
Due: validate-test-markers

fix chapter surface cleanup guard
  src/contexts/narrative/application/services/local_writing_engine.py
  tests/apps/cli/test_novel_engine.py
Due: validate-test-markers

fix: guard chapter surface cleanup before review
  src/contexts/narrative/application/services/local_writing_engine.py
  tests/apps/cli/test_novel_engine.py
Due: validate-test-markers

fix dashscope longform retry evidence
  scripts/uat/run_dashscope_longform_uat.py
  src/contexts/narrative/application/services/local_writing_engine.py
  tests/apps/cli/test_novel_engine.py
  tests/scripts/test_run_dashscope_longform_uat.py
Due: validate-test-markers

fix: harden DashScope longform UAT retries
  scripts/uat/run_dashscope_longform_uat.py
  src/contexts/narrative/application/services/local_writing_engine.py
  tests/apps/cli/test_novel_engine.py
  tests/scripts/test_run_dashscope_longform_uat.py
Due: validate-test-markers

docs: refresh DashScope live UAT evidence
  docs/reports/uat/LONGFORM_DASHSCOPE_LIVE_EVIDENCE.json
  docs/reports/uat/LONGFORM_DASHSCOPE_LIVE_EVIDENCE.md
Due: none

docs: add release readiness checklist
  docs/reports/INDEX.md
  docs/reports/RELEASE_READINESS.md
Due: none

fix UAT review polling and session labels
  frontend/src/app/types/auth.ts
  frontend/src/features/auth/AuthProvider.test.tsx
  frontend/src/features/auth/AuthProvider.tsx
  frontend/src/features/auth/LandingPage.tsx
  frontend/src/features/auth/LoginPage.tsx
  frontend/src/features/auth/sessionDisplay.ts
  frontend/src/features/story/StoryWorkbenchPage.test.tsx
  frontend/src/features/story/StoryWorkbenchPage.tsx
  frontend/src/features/story/useStoryWorkbench.test.tsx
  frontend/src/features/story/useStoryWorkbench.ts
  frontend/src/shared/storage.test.ts
  frontend/src/shared/storage.ts
  frontend/tests/e2e/frontend-full-audit.spec.ts
  src/apps/api/dependencies.py
  src/apps/api/routes/workspaces.py
  src/contexts/identity/interface/http/auth_router.py
  tests/apps/api/test_auth.py
  tests/apps/api/test_workspaces.py
Due: validate-test-markers, frontend-lint, frontend-type-check

fix-pnpm-ci-bootstrap
  .github/workflows/ci.yml
Due: none

align-node-and-pnpm-versions
  .github/workflows/ci.yml
Due: none

run-e2e-through-migration-lifecycle
  frontend/scripts/start-e2e-stack.mjs
Due: none

confine-web-import-paths
  docs/api/openapi.current.json
  openspec/specs/novel-studio/spec.md
  src/contexts/studio/interface/http/router.py
  tests/apps/api/test_studio.py
Due: validate-test-markers

modernize-ci-node24-pnpm
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

[codex] modernize Node and pnpm CI (#186)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

ci: set SECURITY_CORS_ORIGINS in container test
  .github/workflows/ci.yml
Due: none
