Repository Jackela/Novel-Engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-test-markers, frontend-lint, frontend-type-check

.pre-commit-config.yaml:

# Pre-commit hooks for Novel Engine
# See https://pre-commit.com for more information

repos:
  # Test marker validation
  - repo: local
    hooks:
      - id: validate-test-markers
        name: Validate test pyramid markers
        entry: python scripts/testing/validate-test-markers.py
        language: system
        files: ^tests/.*test_.*\.py$
        pass_filenames: true
        verbose: true
        description: |
          Ensures all test functions have proper pyramid markers
          (@pytest.mark.unit, @pytest.mark.integration, or @pytest.mark.e2e).

          To bypass temporarily, include [skip-marker-check] in commit message.

  # Frontend quality gates
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend Lint
        entry: npm run lint
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        dir: frontend

      - id: frontend-type-check
        name: Frontend Type Check
        entry: npm run type-check
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false
        dir: frontend

  # Standard Python hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=100]

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  # Linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args:
          - --max-line-length=100
          - --extend-ignore=E203,W503
          - --exclude=.git,__pycache__,.venv,build,dist

  # Type checking (optional - can be slow)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [types-all]
  #       args: [--ignore-missing-imports]

# Configuration
default_language_version:
  python: python3.11

# Skip specific hooks when needed
# To skip marker validation: SKIP=validate-test-markers git commit -m "message"
# Or include [skip-marker-check] in commit message

feat: SIM-017 - Application - Full Simulation Integration
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/world/application/services/__init__.py
  src/contexts/world/application/services/world_simulation_service.py
  tests/unit/contexts/world/application/services/test_world_simulation_service.py
Due: validate-test-markers

feat: SIM-018 - API - Simulation Router
  src/api/app.py
  src/api/main_api_server.py
  src/api/routers/simulation.py
  tests/api/routers/test_simulation.py
Due: validate-test-markers

feat: SIM-026 - Frontend - Rumor Board
  frontend/src/components/world/RumorBoard.tsx
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/rumorApi.ts
  frontend/src/types/schemas.ts
  frontend/tests/e2e/rumor-board.spec.ts
  src/api/app.py
  src/api/main_api_server.py
  src/api/routers/rumors.py
Due: frontend-lint, frontend-type-check

feat: SIM-029 - Application - Snapshot Service
  src/contexts/world/application/services/snapshot_service.py
  tests/unit/contexts/world/application/services/test_snapshot_service.py
Due: validate-test-markers

feat: SIM-030 - API - Snapshot Router
  src/api/app.py
  src/api/main_api_server.py
  src/api/routers/snapshots.py
  tests/api/routers/test_snapshots.py
Due: validate-test-markers

docs: Update PRD - mark SIM-018, SIM-026, SIM-029, SIM-030 as passed
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: SIM-031 - Frontend - Simulation Dashboard
  frontend/src/app/router.tsx
  frontend/src/features/simulation/SimulationDashboard.tsx
  frontend/src/features/simulation/index.ts
  frontend/src/features/simulation/stores/simulationStore.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/simulationApi.ts
  frontend/src/pages/SimulationPage.tsx
  frontend/src/shared/components/layout/Sidebar.tsx
  frontend/src/types/schemas.ts
  frontend/tests/e2e/simulation-dashboard.spec.ts
Due: frontend-lint, frontend-type-check

docs: Update PRD - mark SIM-031 as passed
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

fix: World Simulation - Test quality improvements
  tests/api/routers/test_simulation.py
  tests/api/routers/test_snapshots.py
  tests/unit/contexts/world/application/services/test_snapshot_service.py
  tests/unit/contexts/world/domain/test_world_state_aggregate.py
Due: validate-test-markers

fix: CI - Replace hex colors with HSL variables, fix E2E tests
  frontend/src/components/world/DiplomacyMatrix.tsx
  frontend/src/mocks/handlers.ts
  frontend/tests/e2e/dashboard-interactions.spec.ts
Due: frontend-lint, frontend-type-check

fix layering violations and stabilize e2e ci
  .gitignore
  docs/api/openapi.json
  frontend/playwright.config.ts
  frontend/src/components/world/CalendarDisplay.tsx
  frontend/src/features/prompts/components/PromptsPage.tsx
  frontend/src/features/simulation/SimulationDashboard.tsx
  frontend/src/features/world/WorldPage.tsx
  frontend/src/lib/api/calendarApi.ts
  frontend/src/lib/api/client.ts
  frontend/tests/e2e/calendar.spec.ts
  frontend/tests/e2e/dashboard-core-uat.spec.ts
  frontend/tests/e2e/diplomacy.spec.ts
  frontend/tests/e2e/location-tree.spec.ts
  frontend/tests/e2e/simulation-dashboard.spec.ts
  frontend/tests/e2e/story-generation.spec.ts
  frontend/tests/e2e/timeline.spec.ts
  src/api/routers/calendar.py
  src/api/routers/diplomacy.py
  src/api/routers/rumors.py
  src/api/routers/simulation.py
  src/api/routers/snapshots.py
  src/api/routers/world.py
  src/api/schemas.py
  src/contexts/knowledge/application/use_cases/create_knowledge_entry.py
  src/contexts/knowledge/application/use_cases/delete_knowledge_entry.py
  src/contexts/knowledge/application/use_cases/retrieve_agent_context.py
  src/contexts/knowledge/application/use_cases/update_knowledge_entry.py
  src/contexts/world/domain/entities/rumor.py
  src/contexts/world/domain/entities/world_snapshot.py
  tests/unit/contexts/knowledge/application/use_cases/test_hexagonal_layering.py
Due: validate-test-markers, frontend-lint, frontend-type-check

chore: ignore local runtime artifacts and remove cached bytecode
  .gitignore
  scripts/ralph/.last-branch
  src/contexts/knowledge/application/services/__pycache__/__init__.cpython-312.pyc
  src/contexts/knowledge/application/services/__pycache__/knowledge_ingestion_service.cpython-312.pyc
Due: none

docs: record post-implementation quality fixes in ralph progress
  scripts/ralph/progress.txt
Due: none

test: make ReactionType iteration explicit for CodeQL
  tests/unit/contexts/character/application/services/test_character_reactor.py
Due: validate-test-markers

feat(prep-001): Split schemas.py - Character & Narrative schemas
  .claude/commands/opsx/apply.md
  .claude/commands/opsx/archive.md
  .claude/commands/opsx/explore.md
  .claude/commands/opsx/propose.md
  .claude/skills/openspec-apply-change/SKILL.md
  .claude/skills/openspec-archive-change/SKILL.md
  .claude/skills/openspec-explore/SKILL.md
  .claude/skills/openspec-propose/SKILL.md
  .github/prompts/opsx-apply.prompt.md
  .github/prompts/opsx-archive.prompt.md
  .github/prompts/opsx-explore.prompt.md
  .github/prompts/opsx-propose.prompt.md
  .github/skills/openspec-apply-change/SKILL.md
  .github/skills/openspec-archive-change/SKILL.md
  .github/skills/openspec-explore/SKILL.md
  .github/skills/openspec-propose/SKILL.md
  .opencode/command/opsx-apply.md
  .opencode/command/opsx-archive.md
  .opencode/command/opsx-explore.md
  .opencode/command/opsx-propose.md
  .opencode/skills/openspec-apply-change/SKILL.md
  .opencode/skills/openspec-archive-change/SKILL.md
  .opencode/skills/openspec-explore/SKILL.md
  .opencode/skills/openspec-propose/SKILL.md
  openspec/config.yaml
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/schemas/__init__.py
  src/api/schemas/character_schemas.py
  src/api/schemas/narrative_schemas.py
  src/api/schemas/remaining_schemas.py
Due: none

refactor(prep-002): Complete schema modularization - split remaining_schemas.py by domain
  src/api/schemas/__init__.py
  src/api/schemas/experiment_schemas.py
  src/api/schemas/knowledge_schemas.py
  src/api/schemas/lore_schemas.py
  src/api/schemas/orchestration_schemas.py
  src/api/schemas/remaining_schemas.py
  src/api/schemas/social_schemas.py
  src/api/schemas/system_schemas.py
  src/api/schemas/world_schemas.py
Due: none

docs(prep-002): Add OpenSpec change artifacts and update schema docs
  openspec/changes/split-schemas-by-domain/.openspec.yaml
  openspec/changes/split-schemas-by-domain/design.md
  openspec/changes/split-schemas-by-domain/proposal.md
  openspec/changes/split-schemas-by-domain/specs/spec.md
  openspec/changes/split-schemas-by-domain/tasks.md
  src/api/schemas/__init__.py
Due: none

feat(prep-003): Fix Domain Import Violations
  .importlinter
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/character/domain/value_objects/__init__.py
  src/contexts/character/domain/value_objects/character_context.py
  src/contexts/character/infrastructure/generators/llm_character_generator.py
  src/contexts/story/application/ports/scene_generator_port.py
  src/contexts/story/application/services/scene_service.py
  src/contexts/story/domain/__init__.py
  src/contexts/story/domain/value_objects/__init__.py
  src/contexts/story/domain/value_objects/scene_generation.py
  src/contexts/story/infrastructure/generators/llm_scene_generator.py
Due: none

feat(prep-004): Decompose BrainSettingsPage into modular panels
  frontend/src/features/routing/components/BrainSettingsPage.tsx
  frontend/src/features/routing/components/panels/ApiKeyPanel.tsx
  frontend/src/features/routing/components/panels/ModelConfigPanel.tsx
  frontend/src/features/routing/components/panels/RagConfigPanel.tsx
  frontend/src/features/routing/components/panels/RealtimeUsagePanel.tsx
  frontend/src/features/routing/components/panels/TokenAnalyticsPanel.tsx
  frontend/src/features/routing/components/panels/index.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat(prep-005): Add Resource & Asset Engine domain types
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/world/domain/entities/__init__.py
  src/contexts/world/domain/entities/resource.py
  src/contexts/world/domain/value_objects/__init__.py
  src/contexts/world/domain/value_objects/faction_resources.py
  src/contexts/world/domain/value_objects/resource_type.py
  src/contexts/world/domain/value_objects/resource_yield.py
  tests/unit/contexts/world/domain/value_objects/test_resources.py
Due: validate-test-markers

feat(prep-006): Add Territory Control System to Location entity
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/world/domain/entities/location.py
  tests/unit/contexts/world/domain/entities/test_location.py
Due: validate-test-markers

feat(prep-007): Add Diplomacy Matrix Mechanics with pact entities
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/world/domain/aggregates/diplomacy_matrix.py
  src/contexts/world/domain/entities/__init__.py
  src/contexts/world/domain/entities/diplomatic_pact.py
  tests/unit/contexts/world/domain/entities/test_diplomatic_pact.py
Due: validate-test-markers

feat(prep-008): Add Population & Demographics tracking
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/world/domain/entities/faction.py
  src/contexts/world/domain/entities/location.py
  tests/unit/contexts/world/domain/entities/test_location.py
Due: validate-test-markers

feat(prep-014): Caching upgrade with LRU+TTL using cachetools
  requirements.txt
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/caching/__init__.py
  src/caching/lru_cache.py
  src/contexts/knowledge/application/services/__init__.py
  src/contexts/knowledge/application/services/embedding_cache_service.py
  src/contexts/knowledge/infrastructure/adapters/embedding_generator_adapter.py
  tests/unit/caching/__init__.py
  tests/unit/caching/test_lru_cache.py
  tests/unit/contexts/knowledge/application/services/test_embedding_cache_service.py
Due: validate-test-markers

feat(prep-009): Robust Event Bus with outbox pattern
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/events/__init__.py
  src/events/event_bus.py
  src/events/outbox.py
  tests/unit/events/__init__.py
  tests/unit/events/test_outbox.py
Due: validate-test-markers

feat(prep-010): World State Snapshot APIs
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/main_api_server.py
  src/api/routers/world_state.py
  src/api/schemas/world_schemas.py
  tests/api/routers/test_world_state.py
Due: validate-test-markers

feat(prep-011): Add geopolitical map visualization with territory control
  frontend/src/components/world/LocationTree.tsx
  frontend/src/lib/api/worldStateApi.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat(prep-012): Add diplomacy matrix grid visualization
  frontend/src/components/world/DiplomacyGrid.tsx
  frontend/src/lib/api/worldStateApi.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat(prep-013): Add chat session persistence with SQLite backend
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/routers/brain_settings.py
  src/contexts/knowledge/infrastructure/models/chat_session.py
  src/contexts/knowledge/infrastructure/repositories/chat_session_repository.py
Due: none

feat(prep-015): Complete Vanguard Stability Check validation
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/events/outbox.py
Due: none

docs(openspec): Mark split-schemas-by-domain as completed
  openspec/changes/split-schemas-by-domain/.openspec.yaml
  openspec/changes/split-schemas-by-domain/tasks.md
Due: none

docs: add geopolitics consolidation implementation plan
  docs/plans/2026-02-27-geopolitics-consolidation.md
Due: none

feat(geopolitics): add domain events for war, alliance, and territory changes
  src/contexts/world/domain/events/geopolitics_events.py
  tests/unit/contexts/world/domain/events/test_geopolitics_events.py
Due: validate-test-markers

feat(geopolitics): add GeopoliticsService with war/alliance/territory operations
  src/contexts/world/application/services/geopolitics_service.py
  tests/unit/contexts/world/application/test_geopolitics_service.py
Due: validate-test-markers

feat(geopolitics): add unified geopolitics router with diplomacy/territory/resources endpoints
  src/api/app.py
  src/api/routers/geopolitics.py
  tests/integration/api/test_geopolitics_api.py
Due: validate-test-markers

deprecate(diplomacy): mark old routers as deprecated in favor of geopolitics
  src/api/routers/diplomacy.py
  src/api/routers/world_state.py
Due: none

feat(frontend): add unified geopolitics API hooks with TanStack Query
  frontend/src/features/world/api/geopoliticsApi.ts
  frontend/src/types/schemas.ts
Due: frontend-lint, frontend-type-check

test(geopolitics): add pytest markers to new test files
  tests/integration/api/test_geopolitics_api.py
  tests/unit/contexts/world/application/test_geopolitics_service.py
  tests/unit/contexts/world/domain/events/test_geopolitics_events.py
Due: validate-test-markers
