Repository Jackela/Novel-Engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-test-markers, frontend-lint, frontend-type-check

.pre-commit-config.yaml:

# Pre-commit hooks for Novel Engine
# See https://pre-commit.com for more information

repos:
  # Test marker validation
  - repo: local
    hooks:
      - id: validate-test-markers
        name: Validate test pyramid markers
        entry: python scripts/testing/validate-test-markers.py
        language: system
        files: ^tests/.*test_.*\.py$
        pass_filenames: true
        verbose: true
        description: |
          Ensures all test functions have proper pyramid markers
          (@pytest.mark.unit, @pytest.mark.integration, or @pytest.mark.e2e).

          To bypass temporarily, include [skip-marker-check] in commit message.

  # Frontend quality gates
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend Lint
        entry: npm run lint
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        dir: frontend

      - id: frontend-type-check
        name: Frontend Type Check
        entry: npm run type-check
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false
        dir: frontend

  # Standard Python hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=100]

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  # Linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args:
          - --max-line-length=100
          - --extend-ignore=E203,W503
          - --exclude=.git,__pycache__,.venv,build,dist

  # Type checking (optional - can be slow)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [types-all]
  #       args: [--ignore-missing-imports]

# Configuration
default_language_version:
  python: python3.11

# Skip specific hooks when needed
# To skip marker validation: SKIP=validate-test-markers git commit -m "message"
# Or include [skip-marker-check] in commit message

fix: restore realtime reconnects and json schema types
  frontend/src/mocks/handlers.ts
  frontend/src/shared/hooks/useRealtimeEvents.ts
  frontend/src/shared/hooks/useWebSocketProgress.ts
  src/api/schemas.py
Due: frontend-lint, frontend-type-check

chore: snapshot openapi schema and finalize golden master for pr
  docs/api/openapi.json
  frontend/src/features/campaigns/CampaignsPage.tsx
  frontend/src/features/orchestration/OrchestrationPage.tsx
  frontend/src/features/weaver/WeaverPage.tsx
  frontend/src/shared/components/layout/TopBar.tsx
  frontend/src/types/schemas.ts
Due: frontend-lint, frontend-type-check

chore: update documentation to reflect weaver architecture and contract-first protocols
  CLAUDE.md
  README.md
Due: none

chore: align documentation with weaver and contract-first stack
  AGENTS.md
  README.en.md
  docs/adr/FE-001-ssot-and-server-state.md
  docs/api/INDEX.md
  docs/api/schemas.md
  docs/architecture/SYSTEM_ARCHITECTURE.md
  docs/architecture/technical-constraints.md
  docs/design/UI_VISUAL_DESIGN_SPEC.md
  docs/index.md
  docs/pr/002-ts-ssot-frontend.md
  docs/security/SEC-001-HTTPONLY-COOKIE-MIGRATION.md
  docs/specifications/UI_DESIGN_SPEC.md
  frontend/DESIGN_SYSTEM.md
  frontend/FAST_TESTS_BEST_PRACTICES.md
  openspec/project.md
  specs/002-ts-ssot-frontend/research.md
Due: none

Align frontend test paths and API module
  .github/workflows/tests.yml
  frontend/package.json
  frontend/src/features/campaigns/api/campaignApi.ts
  frontend/src/features/characters/api/characterApi.ts
  frontend/src/features/orchestration/api/orchestrationApi.ts
  frontend/src/features/stories/api/storyApi.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/index.ts
  frontend/vitest.integration.config.ts
  scripts/validate_ci_locally.ps1
Due: frontend-lint, frontend-type-check

Align E2E CI with smoke suite
  .github/workflows/tests.yml
  frontend/tests/e2e/smoke-weaver-workflow.spec.ts
  scripts/validate_ci_locally.ps1
Due: none

chore: harden weaver ui tests and cleanup ai docs
  frontend/src/__tests__/AppRouterWarnings.test.tsx
  frontend/src/features/characters/CharacterCreationDialog.test.tsx
  frontend/src/features/characters/CharactersPage.tsx
  frontend/src/features/characters/components/CharacterCard.tsx
  frontend/src/features/characters/components/CharacterForm.tsx
  frontend/src/features/weaver/components/WeaverToolbar.tsx
  frontend/src/features/weaver/components/nodes/WeaverNode.tsx
  frontend/src/services/dtoTransforms.ts
  frontend/src/test/dto.transforms.test.ts
  frontend/tests/e2e/weaver-character-journey.spec.ts
Due: frontend-lint, frontend-type-check

chore(release): seal v0.2.0 golden master - strict ci, visual protocol, and security hardening
  AGENTS.md
  frontend/package-lock.json
  frontend/src/app/router.tsx
  frontend/src/pages/WeaverPreviewPage.tsx
Due: frontend-lint, frontend-type-check

fix(m2): switch to Gemini adapter and refine weaver layout
  frontend/src/features/weaver/WeaverPage.tsx
  src/contexts/character/infrastructure/generators/llm_character_generator.py
  tests/integration/contexts/character/test_llm_generation.py
Due: validate-test-markers, frontend-lint, frontend-type-check

fix(frontend): add non-null assertions to test array accesses
  frontend/src/features/weaver/hooks/__tests__/useCharacterGeneration.test.tsx
Due: frontend-lint, frontend-type-check

feat(m2.2): define scene generation API contracts
  docs/api/openapi.current.json
  frontend/src/types/schemas.ts
  src/api/app.py
  src/api/main_api_server.py
  src/api/routers/scene.py
  src/api/schemas.py
Due: frontend-lint, frontend-type-check

feat(m2.2): implement scene generation backend with TDD
  src/api/routers/scene.py
  src/contexts/story/__init__.py
  src/contexts/story/application/__init__.py
  src/contexts/story/application/ports/__init__.py
  src/contexts/story/application/ports/scene_generator_port.py
  src/contexts/story/application/services/__init__.py
  src/contexts/story/application/services/scene_service.py
  src/contexts/story/infrastructure/__init__.py
  src/contexts/story/infrastructure/generators/__init__.py
  src/contexts/story/infrastructure/generators/llm_scene_generator.py
  src/contexts/story/infrastructure/prompts/__init__.py
  src/contexts/story/infrastructure/prompts/scene_gen.yaml
  tests/integration/contexts/story/__init__.py
  tests/integration/contexts/story/test_llm_scene_generator.py
  tests/unit/contexts/story/__init__.py
  tests/unit/contexts/story/test_scene_service.py
Due: validate-test-markers

feat(m2.2): implement scene generation frontend with smart layout and bdd tests
  frontend/src/features/weaver/WeaverPage.tsx
  frontend/src/features/weaver/components/SceneGenerationDialog.tsx
  frontend/src/features/weaver/components/WeaverCanvas.tsx
  frontend/src/features/weaver/components/WeaverToolbar.tsx
  frontend/src/features/weaver/components/nodes/SceneNode.tsx
  frontend/src/features/weaver/components/nodes/index.ts
  frontend/src/features/weaver/hooks/__tests__/useSceneGeneration.test.tsx
  frontend/src/features/weaver/hooks/useSceneGeneration.ts
  frontend/src/features/weaver/store/weaverStore.ts
  frontend/src/features/weaver/types.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/sceneApi.ts
  frontend/tests/e2e/weaver-scene-generation.spec.ts
Due: frontend-lint, frontend-type-check

feat: [ARCH-RECOVER-001] - Verify & Enforce Architecture
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/routers/scene.py
  src/contexts/narratives/application/command_handlers/narrative_arc_command_handlers.py
  src/contexts/narratives/application/ports/__init__.py
  src/contexts/narratives/application/ports/narrative_arc_repository_port.py
  src/contexts/narratives/application/query_handlers/narrative_arc_query_handlers.py
  src/contexts/narratives/application/services/narrative_arc_application_service.py
  src/contexts/narratives/infrastructure/repositories/narrative_arc_repository.py
  src/contexts/story/application/services/scene_service.py
  src/contexts/world/application/queries/__init__.py
  src/contexts/world/infrastructure/queries/__init__.py
  src/contexts/world/infrastructure/queries/world_queries.py
Due: none

feat: [WORLD-001] - World Domain Modeling (DDD)
  src/contexts/world/domain/entities/__init__.py
  src/contexts/world/domain/entities/faction.py
  src/contexts/world/domain/entities/history_event.py
  src/contexts/world/domain/entities/location.py
  src/contexts/world/domain/entities/world_setting.py
  tests/unit/contexts/world/domain/test_world_entities.py
Due: validate-test-markers

feat: [WORLD-002] - World Generator Adapter
  src/contexts/world/application/ports/__init__.py
  src/contexts/world/application/ports/world_generator_port.py
  src/contexts/world/infrastructure/generators/__init__.py
  src/contexts/world/infrastructure/generators/llm_world_generator.py
  src/contexts/world/infrastructure/prompts/world_gen.yaml
  tests/integration/contexts/world/__init__.py
  tests/integration/contexts/world/test_world_generation_integration.py
  tests/unit/contexts/world/infrastructure/__init__.py
  tests/unit/contexts/world/infrastructure/test_llm_world_generator.py
Due: validate-test-markers

feat: [WORLD-001] - World Domain Modeling (DDD) - Verified
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [WORLD-002] - World Generator Adapter - Verified
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [WORLD-003] - World Graph Visualization
  frontend/src/features/weaver/components/WeaverCanvas.tsx
  frontend/src/features/weaver/components/nodes/FactionNode.tsx
  frontend/src/features/weaver/components/nodes/WorldNode.tsx
  frontend/src/features/weaver/components/nodes/index.ts
  frontend/src/features/weaver/hooks/useWorldGeneration.ts
  frontend/src/features/weaver/store/weaverStore.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/worldApi.ts
  frontend/src/types/schemas.ts
  src/api/app.py
  src/api/main_api_server.py
  src/api/routers/world.py
Due: frontend-lint, frontend-type-check

feat: [DOCS-001] - System Handover
  README.en.md
  README.md
  docs/api/openapi.current.json
  docs/architecture/world_engine.mermaid
Due: none

feat: [REF-001] - Frontend Architecture & UX Overhaul
  frontend/src/features/weaver/components/nodes/CharacterNode.tsx
  frontend/src/features/weaver/components/nodes/EventNode.tsx
  frontend/src/features/weaver/components/nodes/FactionNode.tsx
  frontend/src/features/weaver/components/nodes/LocationNode.tsx
  frontend/src/features/weaver/components/nodes/SceneNode.tsx
  frontend/src/features/weaver/components/nodes/WorldNode.tsx
  frontend/src/features/weaver/hooks/useCharacterGeneration.ts
  frontend/src/features/weaver/hooks/useSceneGeneration.ts
  frontend/src/features/weaver/hooks/useWorldGeneration.ts
Due: frontend-lint, frontend-type-check

chore: update PRD and progress for REF-001 completion
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [REF-002] - Backend Code Quality & Docs
  src/contexts/world/domain/entities/faction.py
  src/contexts/world/domain/entities/history_event.py
  src/contexts/world/domain/entities/location.py
  src/contexts/world/domain/entities/world_setting.py
  src/contexts/world/infrastructure/generators/llm_world_generator.py
  src/contexts/world/infrastructure/projections/example_usage.py
Due: none

feat: [INT-001] - End-to-End wiring Check
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/index.ts
  scripts/verify_e2e.py
Due: frontend-lint, frontend-type-check

chore: update PRD and progress for INT-001 completion
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: complete standardization tasks (STD-001, STD-002, STD-003)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/feature_request.md
  .importlinter
  =2.0.0
  CLAUDE.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/slider.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/features/weaver/components/CharacterGenerationDialog.tsx
  frontend/src/features/weaver/components/SceneGenerationDialog.tsx
  frontend/src/features/weaver/components/WeaverToolbar.tsx
  frontend/src/features/weaver/components/nodes/CharacterNode.tsx
  frontend/src/features/weaver/components/nodes/EventNode.tsx
  frontend/src/features/weaver/components/nodes/FactionNode.tsx
  frontend/src/features/weaver/components/nodes/LocationNode.tsx
  frontend/src/features/weaver/components/nodes/SceneNode.tsx
  frontend/src/features/weaver/components/nodes/WeaverNode.tsx
  frontend/src/features/weaver/components/nodes/WorldNode.tsx
  frontend/tests/e2e/utils/spatial-assertions.ts
  frontend/tests/e2e/weaver-smoke.spec.ts
  pyproject.toml
  scripts/ralph/.last-branch
  scripts/ralph/CLAUDE.md
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  scripts/ralph/ralph.sh
  src/contexts/ai/application/ports/__init__.py
  src/contexts/ai/application/ports/cache_port.py
  src/contexts/ai/application/ports/cost_tracking_port.py
  src/contexts/ai/application/ports/rate_limiting_port.py
  src/contexts/ai/application/ports/retry_policy_port.py
  src/contexts/ai/application/services/execute_llm_service.py
  src/contexts/ai/infrastructure/policies/caching.py
  src/contexts/ai/infrastructure/policies/cost_tracking.py
  src/contexts/ai/infrastructure/policies/rate_limiting.py
  src/contexts/ai/infrastructure/policies/retry_fallback.py
  src/contexts/world/ARCHITECTURE.md
  uv.lock
Due: frontend-lint, frontend-type-check

chore: finalize all tasks
  scripts/ralph/CLAUDE.md
Due: none

feat: [NAR-001] BDD spec for story generation flow
  frontend/tests/e2e/story-generation.spec.ts
  scripts/ralph/prd.json
Due: none

feat: [NAR-002] Streaming narrative service with SSE
  scripts/ralph/prd.json
  src/api/app.py
  src/api/routers/narratives.py
  src/api/schemas.py
  src/contexts/narratives/application/services/narrative_stream_service.py
Due: none

feat: [NAR-003] Frontend immersive editor with streaming support
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/router.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/features/stories/StoryEditorPage.tsx
  frontend/src/features/stories/components/NarrativeEditor.tsx
  frontend/src/features/stories/hooks/index.ts
  frontend/src/features/stories/hooks/useStoryStream.ts
  frontend/src/pages/StoryEditorPage.tsx
  frontend/tests/e2e/story-generation.spec.ts
  scripts/ralph/prd.json
Due: frontend-lint, frontend-type-check

feat: [FIX-001] Router verification and smoke tests
  frontend/tests/e2e/smoke-test.spec.ts
  scripts/ralph/prd.json
Due: none

feat: [FIX-002] Component zombie cleanup
  frontend/src/features/agent-interface/AgentInterface.css
  frontend/src/features/agent-interface/AgentInterface.tsx
  frontend/src/features/narrative/NarrativeDisplay.css
  frontend/src/features/narrative/NarrativeDisplay.tsx
  scripts/ralph/prd.json
Due: frontend-lint, frontend-type-check

feat: [FIX-003] Strict type hygiene verified
  scripts/ralph/prd.json
Due: none

feat: [CLEAN-001] Fix routing and add missing routes
  frontend/src/app/router.tsx
  frontend/src/features/dashboard/components/DashboardShell.tsx
  frontend/src/features/narrative/NarrativePage.tsx
  frontend/src/features/narrative/index.ts
  frontend/src/features/world/WorldPage.tsx
  frontend/src/features/world/index.ts
  frontend/src/pages/NarrativePage.tsx
  frontend/src/pages/WorldPage.tsx
  scripts/ralph/prd.json
  scripts/verify_routes.py
Due: frontend-lint, frontend-type-check

feat: [CLEAN-002] Dead code extermination
  scripts/ralph/prd.json
  src/contexts/character/infrastructure/generators/llm_character_generator.py
Due: none
