Repository Jackela/Novel-Engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-test-markers, frontend-lint, frontend-type-check

.pre-commit-config.yaml:

# Pre-commit hooks for Novel Engine
# See https://pre-commit.com for more information

repos:
  # Test marker validation
  - repo: local
    hooks:
      - id: validate-test-markers
        name: Validate test pyramid markers
        entry: python scripts/testing/validate-test-markers.py
        language: system
        files: ^tests/.*test_.*\.py$
        pass_filenames: true
        verbose: true
        description: |
          Ensures all test functions have proper pyramid markers
          (@pytest.mark.unit, @pytest.mark.integration, or @pytest.mark.e2e).

          To bypass temporarily, include [skip-marker-check] in commit message.

  # Frontend quality gates
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend Lint
        entry: npm run lint
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        dir: frontend

      - id: frontend-type-check
        name: Frontend Type Check
        entry: npm run type-check
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false
        dir: frontend

  # Standard Python hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=100]

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  # Linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args:
          - --max-line-length=100
          - --extend-ignore=E203,W503
          - --exclude=.git,__pycache__,.venv,build,dist

  # Type checking (optional - can be slow)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [types-all]
  #       args: [--ignore-missing-imports]

# Configuration
default_language_version:
  python: python3.11

# Skip specific hooks when needed
# To skip marker validation: SKIP=validate-test-markers git commit -m "message"
# Or include [skip-marker-check] in commit message

test(character): add comprehensive tests for Honcho memory system
  tests/contexts/character/application/use_cases/__pycache__/test_recall_character_memories.cpython-312-pytest-8.4.2.pyc
  tests/contexts/character/application/use_cases/__pycache__/test_remember_character_event.cpython-312-pytest-8.4.2.pyc
  tests/contexts/character/application/use_cases/test_recall_character_memories.py
  tests/contexts/character/application/use_cases/test_remember_character_event.py
  tests/contexts/character/infrastructure/adapters/__pycache__/test_honcho_memory_adapter.cpython-312-pytest-8.4.2.pyc
  tests/contexts/character/infrastructure/adapters/test_honcho_memory_adapter.py
  tests/shared/infrastructure/honcho/__pycache__/test_config.cpython-312-pytest-8.4.2.pyc
  tests/shared/infrastructure/honcho/test_config.py
Due: validate-test-markers

chore(config): add Honcho configuration and remove ChromaDB
  config/honcho.yaml
  scripts/migrate_chroma_to_honcho.py
Due: none

chore: commit current changes before applying stashes
  src/apps/api/dependencies.py
  src/apps/api/health.py
  src/contexts/character/application/use_cases/recall_character_memories.py
  src/contexts/character/application/use_cases/remember_character_event.py
  src/contexts/character/application/use_cases/summarize_character_arc.py
  src/contexts/character/domain/aggregates/character.py
  src/contexts/character/domain/ports/memory_port.py
  src/contexts/character/infrastructure/adapters/honcho_memory_adapter.py
  src/contexts/identity/domain/aggregates/user.py
  src/contexts/knowledge/application/ports/i_embedding_service.py
  src/contexts/knowledge/application/ports/i_vector_store.py
  src/contexts/knowledge/application/services/knowledge_ingestion_service.py
  src/contexts/knowledge/application/services/rerank_service.py
  src/contexts/knowledge/application/services/retrieval_service.py
  src/contexts/knowledge/domain/aggregates/knowledge_base.py
  src/contexts/knowledge/domain/entities/document.py
  src/shared/infrastructure/config/settings.py
  src/shared/infrastructure/honcho/client.py
  src/shared/infrastructure/persistence/database.py
  tests/apps/api/test_health.py
  tests/contexts/character/application/use_cases/test_recall_character_memories.py
  tests/contexts/character/application/use_cases/test_remember_character_event.py
  tests/contexts/character/infrastructure/adapters/test_honcho_memory_adapter.py
Due: validate-test-markers

fix: CI test failures - trunk configuration and test fixes
  .trunk/.gitignore
  .trunk/configs/.hadolint.yaml
  .trunk/configs/.markdownlint.yaml
  .trunk/configs/.shellcheckrc
  .trunk/configs/ruff.toml
  .trunk/configs/svgo.config.mjs
  .trunk/trunk.yaml
  contexts/world/domain/value_objects/coordinates.py
  examples/demos/demo_chronicler_integration.py
  frontend/src/contexts/AuthContext.tsx
  frontend/src/features/dashboard/Dashboard.tsx
  frontend/tests/e2e/dashboard-core-uat.spec.ts
  frontend/tests/e2e/navigation-flows.spec.ts
  frontend/tests/e2e/user-journey.spec.ts
  frontend/tests/unit/components/decision/DecisionPointDialog.test.tsx
  openspec/changes/update-codeql-alerts/proposal.md
  openspec/changes/update-codeql-alerts/specs/tdd-workflow/spec.md
  openspec/changes/update-codeql-alerts/tasks.md
  src/agent_lifecycle_manager.py
  src/agents/director_agent_integrated.py
  src/ai_intelligence/story_quality_engine.py
  src/api/main_api_server.py
  src/api/routers/guest.py
  src/api/story_generation_api.py
  src/core/database_manager.py
  src/director_agent_base.py
  src/infrastructure/s3_manager.py
  src/interactions/equipment_system/monitoring/performance_monitor.py
  src/interactions/interaction_engine_system/type_processors/interaction_type_processors.py
  tests/test_episodic_memory.py
  tests/test_layered_memory.py
  tests/test_semantic_memory.py
  tests/unit/quality/analyzer_script.py
  tests/unit/test_persona_agent_comprehensive.py
Due: validate-test-markers, frontend-lint, frontend-type-check

refactor: w5-vanguard - split world schemas and cleanup openspec
  .gitignore
  docs/api/openapi.current.json
  frontend/package.json
  frontend/public/mockServiceWorker.js
  prd.json
  scripts/ralph/.last-branch
  scripts/ralph/archive/2026-02-03-feat/character-evolution/prd.json
  scripts/ralph/archive/2026-02-03-feat/character-evolution/progress.txt
  scripts/ralph/progress.txt
  src/api/schemas/world_schemas.py
  src/contexts/character/application/services/__init__.py
  src/contexts/character/domain/ports/__init__.py
  src/contexts/character/infrastructure/adapters/__init__.py
  src/contexts/identity/application/exceptions.py
  src/contexts/identity/application/services/__init__.py
  src/contexts/identity/application/services/authentication_service.py
  src/contexts/identity/application/services/identity_service.py
  src/contexts/identity/domain/ports/__init__.py
  src/contexts/identity/domain/ports/authentication_port.py
  src/contexts/identity/domain/ports/user_repository_port.py
  src/contexts/identity/domain/repositories/user_repository.py
  src/contexts/identity/infrastructure/repositories/__init__.py
  src/contexts/identity/infrastructure/repositories/postgres_user_repository.py
  src/contexts/identity/interface/http/error_handlers.py
  src/contexts/knowledge/application/services/__init__.py
  src/contexts/world/domain/ports/__init__.py
  src/contexts/world/interface/http/__init__.py
  src/shared/infrastructure/honcho/__init__.py
  src/shared/infrastructure/persistence/__init__.py
Due: none

feat: consolidate remaining stash changes - identity, knowledge, world contexts
  src/contexts/identity/domain/types.py
  src/contexts/identity/interface/http/auth_router.py
  src/contexts/knowledge/application/exceptions.py
  src/contexts/knowledge/application/services/knowledge_service.py
  src/contexts/knowledge/domain/ports/__init__.py
  src/contexts/knowledge/domain/ports/document_repository_port.py
  src/contexts/knowledge/domain/ports/knowledge_repository_port.py
  src/contexts/knowledge/interface/http/error_handlers.py
  src/contexts/knowledge/interface/http/knowledge_router.py
  src/contexts/world/application/exceptions.py
  src/contexts/world/domain/aggregates/world_state.py
  src/contexts/world/domain/entities/faction.py
  src/contexts/world/domain/entities/history_event.py
  src/contexts/world/domain/entities/location.py
  src/contexts/world/domain/entities/rumor.py
  src/contexts/world/domain/entities/world_snapshot.py
  src/contexts/world/domain/errors.py
  src/contexts/world/domain/ports/rumor_repository_port.py
  src/contexts/world/interface/http/error_handlers.py
  src/contexts/world/interface/http/world_router.py
  src/shared/infrastructure/auth/jwt_utils.py
  src/shared/infrastructure/persistence/connection_pool.py
  src/shared/infrastructure/persistence/session_manager.py
Due: none

fix(ci): resolve test failures and workflow configuration
  .github/workflows/python-tests.yml
  tests/__pycache__/test_episodic_memory.cpython-312-pytest-8.4.2.pyc
  tests/apps/api/__pycache__/test_main.cpython-312-pytest-8.4.2.pyc
  tests/apps/api/test_main.py
  tests/contexts/knowledge/infrastructure/repositories/test_postgres_document_repository.py
  tests/contexts/narrative/infrastructure/repositories/test_postgres_chapter_repository.py
  tests/contexts/narrative/infrastructure/repositories/test_postgres_scene_repository.py
  tests/contexts/narrative/infrastructure/repositories/test_postgres_story_repository.py
  tests/contexts/world/domain/entities/test_rumor.py
  tests/unit/__pycache__/test_persona_agent_comprehensive.cpython-312-pytest-8.4.2.pyc
  tests/unit/infrastructure/config/__pycache__/test_config_manager.cpython-312-pytest-8.4.2.pyc
Due: validate-test-markers

fix(test): accept degraded status in async health test
  tests/apps/api/test_main.py
Due: validate-test-markers

style: fix import order in test_postgres_world_state_queries.py
  tests/contexts/world/infrastructure/persistence/test_postgres_world_state_queries.py
Due: validate-test-markers

style: fix all remaining Ruff import order errors
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/a830a0fc3062_initial_migration.py
  docs/database-migrations.md
  src/contexts/identity/interface/http/error_handlers.py
  src/contexts/knowledge/infrastructure/migrations/__init__.py
  src/contexts/knowledge/infrastructure/migrations/__pycache__/__init__.cpython-312.pyc
  src/contexts/knowledge/infrastructure/migrations/__pycache__/migrate_yaml_prompts.cpython-312.pyc
  src/contexts/knowledge/interface/http/error_handlers.py
  src/contexts/narrative/interface/http/error_handlers.py
  src/contexts/world/application/services/rumor_propagation_service.py
  src/contexts/world/application/services/rumor_statistics_service.py
  src/contexts/world/application/services/simulation/protocols.py
  src/contexts/world/interface/http/error_handlers.py
  src/contexts/world/interface/http/world_router.py
  src/core/result.py
  src/shared/interface/http/error_handlers.py
Due: none

cleanup: remove all legacy, migration, and compatibility code
  src/contexts/world/application/services/__pycache__/rumor_propagation_service.cpython-312.pyc
  tests/apps/api/__pycache__/test_main.cpython-312-pytest-8.4.2.pyc
Due: none

ci: fix workflow - remove alembic check and add verbose install
  .github/workflows/python-tests.yml
Due: none

ci: install dev dependencies for tests
  .github/workflows/python-tests.yml
Due: none

ci: separate dependency install steps with better error handling
  .github/workflows/python-tests.yml
Due: none

fix: resolve all test failures from cleanup
  src/contexts/world/application/services/__pycache__/rumor_propagation_service.cpython-312.pyc
  tests/__pycache__/test_layered_memory.cpython-312-pytest-8.4.2.pyc
  tests/__pycache__/test_semantic_memory.cpython-312-pytest-8.4.2.pyc
  tests/contexts/world/infrastructure/persistence/test_postgres_world_state_batch.py
  tests/contexts/world/infrastructure/persistence/test_postgres_world_state_crud.py
  tests/contexts/world/infrastructure/persistence/test_postgres_world_state_queries.py
  tests/contexts/world/infrastructure/persistence/test_postgres_world_state_snapshots.py
  tests/contexts/world/infrastructure/persistence/test_postgres_world_state_versioning.py
  tests/evaluation/__pycache__/__init__.cpython-312.pyc
  tests/evaluation/__pycache__/test_golden_dataset.cpython-312-pytest-8.4.2.pyc
  tests/test_episodic_memory.py
  tests/test_layered_memory.py
  tests/test_semantic_memory.py
  tests/unit/infrastructure/config/__pycache__/test_config_manager.cpython-312-pytest-8.4.2.pyc
  tests/unit/infrastructure/config/__pycache__/test_settings.cpython-312-pytest-8.4.2.pyc
  tests/unit/infrastructure/config/test_config_manager.py
  tests/unit/infrastructure/config/test_settings.py
Due: validate-test-markers

fix: add missing AsyncMock import
  tests/contexts/world/infrastructure/persistence/test_postgres_world_state_batch.py
Due: validate-test-markers

fix: add missing AsyncMock imports to world state tests
  tests/contexts/world/infrastructure/persistence/test_postgres_world_state_queries.py
  tests/contexts/world/infrastructure/persistence/test_postgres_world_state_snapshots.py
  tests/contexts/world/infrastructure/persistence/test_postgres_world_state_versioning.py
Due: validate-test-markers

ci: improve dependency installation with timeout and lower coverage threshold
  .github/workflows/python-tests.yml
Due: none

style: fix remaining Ruff import order and unused import errors
  src/apps/api/health.py
  src/contexts/world/application/services/__pycache__/rumor_propagation_service.cpython-312.pyc
  src/contexts/world/application/services/rumor_propagation_service.py
  src/shared/application/__pycache__/result.cpython-312.pyc
  src/shared/application/result.py
  src/shared/domain/__pycache__/exceptions.cpython-312.pyc
  src/shared/domain/exceptions.py
  src/shared/infrastructure/health/checks/circuit_breaker_health_check.py
  src/shared/infrastructure/health/checks/database_health_check.py
  src/shared/infrastructure/health/checks/honcho_health_check.py
  src/shared/infrastructure/health/health_checker.py
  src/shared/infrastructure/persistence/__pycache__/database.cpython-312.pyc
  src/shared/infrastructure/persistence/database.py
  src/shared/interface/http/middleware/__init__.py
  src/shared/interface/http/middleware/error_bubbling_middleware.py
  tests/unit/infrastructure/health/test_health_checker.py
  tests/unit/infrastructure/persistence/test_database.py
Due: validate-test-markers

ci: add verbose test output and import check
  .github/workflows/python-tests.yml
Due: none

Clean frontend toolchain and remove legacy warnings
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.svg
  frontend/scripts/run-playwright.mjs
  frontend/src/app/router.tsx
  frontend/src/features/auth/AuthProvider.test.tsx
  frontend/src/features/dashboard/useDashboard.test.tsx
  frontend/src/main.tsx
  frontend/tests/setup.ts
  frontend/tests/test-utils.ts
  src/contexts/identity/interface/http/error_handlers.py
  src/contexts/narrative/interface/http/error_handlers.py
  src/contexts/world/interface/http/error_handlers.py
  src/shared/infrastructure/logging/config.py
Due: frontend-lint, frontend-type-check

Fix CI validation and SSE event handling
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/hooks/useDashboardEvents.test.tsx
  frontend/src/hooks/useDashboardEvents.ts
  pyproject.toml
  src/contexts/identity/interface/http/auth_router.py
  src/contexts/knowledge/interface/http/document_routes.py
  src/contexts/knowledge/interface/http/knowledge_base_routes.py
  src/contexts/knowledge/interface/http/search_routes.py
  src/contexts/world/interface/http/world_router.py
  src/events/outbox.py
Due: frontend-lint, frontend-type-check

Fix CI install and test packaging
  .github/workflows/ci.yml
  pyproject.toml
  scripts/__init__.py
Due: none

Fix CI workflow and golden dataset import
  .github/workflows/ci.yml
  tests/evaluation/test_golden_dataset.py
Due: validate-test-markers

Stabilize CI workflow and lint packaging
  .github/workflows/ci.yml
  pyproject.toml
  tests/evaluation/test_golden_dataset.py
Due: validate-test-markers

Fix backend CI gates and evaluation imports
  .github/workflows/ci.yml
  .gitignore
  src/apps/api/routes/dashboard.py
  src/contexts/knowledge/application/services/knowledge_service.py
  src/contexts/knowledge/infrastructure/runtime.py
  src/contexts/knowledge/infrastructure/vectorStores/chroma_vector_store.py
  src/contexts/knowledge/interface/http/error_handlers.py
  src/contexts/world/interface/http/error_handlers.py
  tests/apps/api/test_runtime.py
  tests/contexts/knowledge/application/services/test_knowledge_service.py
  tests/evaluation/__init__.py
  tests/evaluation/test_golden_dataset.py
Due: validate-test-markers

Track evaluation harness and narrow ignore rule
  .gitignore
  scripts/evaluation/__init__.py
  scripts/evaluation/run_golden_dataset.py
Due: none

Run backend tests against default config
  .github/workflows/ci.yml
Due: none

Harden health readiness error handling
  src/apps/api/health.py
  tests/apps/api/test_health.py
Due: validate-test-markers

feat: add qwen smoke and continuity regression corpus
  src/contexts/ai/infrastructure/providers/openai_text_generation_provider.py
  src/contexts/narrative/application/services/story_workflow_service.py
  tests/contexts/narrative/application/test_qwen_provider_smoke.py
  tests/contexts/narrative/application/test_story_regression_corpus.py
  tests/fixtures/narrative/chapter_regression_corpus.json
Due: validate-test-markers

chore: narrow codeql scan to active product surface
  .github/codeql/codeql-config.yml
  docs/security/codeql-alerts.md
Due: none

chore: mark codeql alerts task complete
  openspec/changes/update-codeql-alerts/tasks.md
Due: none

chore: upgrade codeql workflow actions
  .github/workflows/codeql.yml
Due: none
