Repository Jackela/Novel-Engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-test-markers, frontend-lint, frontend-type-check

validate-test-markers:
  name: Validate test pyramid markers
  entry: python scripts/testing/validate-test-markers.py
  language: system
  pass_filenames: true
  verbose: true
  description: 'Ensures all test functions have proper pyramid markers
  
    (@pytest.mark.unit, @pytest.mark.integration, or @pytest.mark.e2e).
  
  
  ...

frontend-lint:
  name: Frontend Lint
  entry: npm run lint
  language: system
  pass_filenames: false
  dir: frontend

frontend-type-check:
  name: Frontend Type Check
  entry: npm run type-check
  language: system
  pass_filenames: false
  dir: frontend

fix(codeql): Fix YAML indentation and query filters
  .github/codeql-config.yml
Due: none

fix(workflows): Fix python-tests.yml quality checks
  .github/workflows/python-tests.yml
Due: none

chore(ci): Add local CI verification script
  .actrc
  AGENTS.md
  Makefile
  scripts/ci-local.sh
Due: none

fix(security): Fix CodeQL security alerts
  .github/codeql-config.yml
  frontend/src/components/ui/markdown.tsx
  frontend/src/features/prompts/components/PromptEditorPage.tsx
  frontend/src/features/stories/components/NarrativeEditor.tsx
  src/agents/character_interpreter.py
  src/agents/persona_core.py
  src/performance/monitoring.py
Due: frontend-lint, frontend-type-check

fix(quality): Fix Ruff lint errors and temporarily allow MyPy failures
  .github/workflows/python-tests.yml
  tests/agents/test_persona_agent_detailed.py
  tests/api/routers/test_snapshots.py
  tests/contexts/interactions/test_negotiation_service.py
  tests/contexts/narratives/test_narrative_arc_repository.py
  tests/contexts/narratives/test_narrative_generation_service.py
  tests/contexts/narratives/test_story_arc_service.py
  tests/core/test_event_bus.py
  tests/core/test_llm_service.py
  tests/e2e/test_multiplayer_negotiation.py
  tests/e2e/test_user_auth.py
  tests/integration/api/test_faction_intel_api.py
  tests/interactions/test_interaction_engine.py
  tests/unit/api/routers/test_characters_router.py
  tests/unit/api/routers/test_narratives_router.py
  tests/unit/api/routers/test_world_router.py
  tests/unit/api/schemas/test_character_schemas.py
  tests/unit/api/schemas/test_narrative_schemas.py
  tests/unit/api/schemas/test_system_schemas.py
  tests/unit/api/services/test_character_router_service.py
  tests/unit/api/services/test_orchestration_service.py
  tests/unit/contexts/character/application/services/test_character_application_service.py
  tests/unit/contexts/character/application/services/test_character_reactor.py
  tests/unit/contexts/character/domain/test_character_events.py
  tests/unit/contexts/character/domain/test_character_id.py
  tests/unit/contexts/character/infrastructure/repositories/test_character_repository.py
  tests/unit/contexts/knowledge/domain/test_knowledge_entry.py
  tests/unit/contexts/narrative/domain/test_chapter.py
  tests/unit/contexts/narrative/domain/test_scene.py
  tests/unit/contexts/narrative/domain/test_story.py
  tests/unit/contexts/world/domain/entities/test_rumor.py
  tests/unit/contexts/world/infrastructure/repositories/test_in_memory_event_repository.py
  tests/unit/contexts/world/infrastructure/repositories/test_in_memory_location_repository.py
  tests/unit/core/test_logging_system.py
  tests/unit/infrastructure/test_redis_manager.py
Due: validate-test-markers

fix(tests): Fix Python Test Suite failures
  requirements.txt
  tests/unit/contexts/character/domain/test_character_aggregate.py
  tests/unit/contexts/character/domain/test_character_events.py
  tests/unit/contexts/character/domain/test_character_faction.py
  tests/unit/contexts/character/domain/test_character_goal.py
  tests/unit/contexts/character/domain/test_character_id.py
  tests/unit/contexts/character/domain/test_character_memory.py
  tests/unit/contexts/world/application/services/test_faction_intent_generator.py
  tests/unit/contexts/world/application/services/test_world_simulation_service_unit.py
  tests/unit/contexts/world/domain/test_faction_leadership.py
  tests/unit/contexts/world/domain/test_world_entities.py
  tests/unit/contexts/world/domain/test_world_state_aggregate.py
Due: validate-test-markers

fix(pre-commit): Align pre-commit with CI to catch issues early
  .pre-commit-config.yaml
  AGENTS.md
  scripts/ci-check-requirements.py
Due: none

fix(deps): Synchronize requirements.txt with pyproject.toml
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  requirements/requirements-test.txt
Due: none

test: Fix 67+ failing tests across the codebase
  src/infrastructure/redis_manager.py
  src/infrastructure/state_store/postgres.py
  src/infrastructure/state_store/redis.py
  tests/unit/api/routers/test_characters_router.py
  tests/unit/api/routers/test_world_router.py
  tests/unit/api/services/test_character_router_service.py
  tests/unit/api/services/test_orchestration_service.py
  tests/unit/contexts/world/infrastructure/repositories/test_in_memory_event_repository.py
  tests/unit/contexts/world/infrastructure/repositories/test_in_memory_location_repository.py
  tests/unit/infrastructure/state_store/test_postgres_state_store.py
  tests/unit/infrastructure/state_store/test_redis_state_store.py
  tests/unit/infrastructure/test_redis_manager.py
Due: validate-test-markers

style: Fix ruff import sorting and unused imports
  src/infrastructure/redis_manager.py
  test_fixes/testfix_79184a59-7efc-4a6c-a8db-351d5006d8da.spec.ts
  tests/unit/api/routers/test_characters_router.py
  tests/unit/api/routers/test_world_router.py
  tests/unit/infrastructure/state_store/test_postgres_state_store.py
Due: validate-test-markers

fix(mypy): Batch-13 fix type errors in character context
  src/contexts/character/__init__.py
  src/contexts/character/application/services/character_application_service.py
  src/contexts/character/domain/value_objects/character_reaction.py
  src/contexts/character/infrastructure/__init__.py
  src/contexts/character/infrastructure/persistence/__init__.py
  src/contexts/character/infrastructure/persistence/character_models.py
  src/contexts/character/infrastructure/repositories/__init__.py
  src/contexts/character/infrastructure/repositories/character_repository.py
Due: none

fix(mypy): Batch-16 fix type errors in subjective context
  src/api/routers/horoscope_router.py
  src/bridge/dialogue_manager.py
  src/bridge/types.py
  src/bridges/multi_agent_bridge/performance/cost_tracker.py
  src/bridges/multi_agent_bridge/performance/performance_budget.py
  src/bridges/multi_agent_bridge/performance/performance_metrics.py
  src/caching/semantic_cache_adapter.py
  src/contexts/character/__init__.py
  src/contexts/character/application/services/character_application_service.py
  src/contexts/character/domain/value_objects/character_reaction.py
  src/contexts/character/infrastructure/__init__.py
  src/contexts/character/infrastructure/persistence/__init__.py
  src/contexts/character/infrastructure/persistence/character_models.py
  src/contexts/character/infrastructure/repositories/__init__.py
  src/contexts/knowledge/services/horoscope_service.py
  src/contexts/subjective/infrastructure/persistence/subjective_models.py
  src/contexts/subjective/infrastructure/repositories/turn_brief_repository.py
  src/director/agent_manager.py
  src/events/event_bus.py
  src/events/event_processor.py
  src/infrastructure/enterprise_storage_manager.py
  src/infrastructure/observability.py
  src/infrastructure/redis_manager.py
  src/infrastructure/s3_manager.py
  src/workspaces/guest_session.py
  tests/test_horoscope_service.py
Due: validate-test-markers

fix(mypy): Batch-11 fix type errors in agents module
  src/agents/decision_engine.py
  src/agents/director_agent_base.py
  src/agents/enhanced_decision_engine.py
  src/agents/memory_interface.py
  src/agents/persona_agent/agent.py
  src/agents/persona_agent/integrated.py
  src/contexts/orchestration/infrastructure/monitoring/__init__.py
Due: none

fix(mypy): Batch-6 fix type errors in performance modules
  src/performance/advanced_caching.py
  src/performance/distributed_caching.py
  src/performance/monitoring.py
  src/performance/monitoring/performance_monitoring.py
  src/performance/optimization/performance_optimization.py
  src/performance/optimization/performance_optimization_engine.py
  src/performance_optimizations/async_processing_improvements.py
  src/performance_optimizations/director_agent_loop_optimizer.py
  src/performance_optimizations/intelligent_caching_system.py
  src/performance_optimizations/memory_leak_fixes.py
  src/performance_optimizations/memory_optimization_gc.py
  src/performance_optimizations/persona_agent_async_patch.py
Due: none

fix(mypy): Batch-1 and remaining batches - fix type errors in narratives and performance
  src/contexts/narratives/application/command_handlers/narrative_arc_command_handlers.py
  src/contexts/narratives/application/query_handlers/narrative_arc_query_handlers.py
  src/contexts/narratives/domain/events/narrative_events.py
  src/contexts/narratives/domain/services/causal_graph_service.py
  src/contexts/narratives/domain/services/narrative_planning_engine.py
  src/contexts/narratives/infrastructure/repositories/narrative_arc_repository.py
  src/performance/advanced_caching.py
  src/performance/monitoring.py
  src/performance/monitoring/performance_monitoring.py
  src/performance/optimization/performance_optimization.py
  src/performance_optimizations/director_agent_loop_optimizer.py
  src/performance_optimizations/memory_leak_fixes.py
  src/performance_optimizations/memory_optimization_gc.py
  src/performance_optimizations/persona_agent_async_patch.py
Due: none

fix(mypy): Fix type errors across codebase
  pyproject.toml
  requirements.txt
  src/contexts/knowledge/application/services/budget_alert_service.py
  src/contexts/narratives/domain/services/narrative_planning_engine.py
  src/contexts/world/domain/events/world_events.py
  src/workspaces/guest_session.py
Due: none

fix(mypy): Batch-A fix type annotations (380 errors)
  src/api/api_integration_helpers.py
  src/core/logging_system.py
  src/events/event_bus.py
  src/performance/advanced_caching.py
  src/performance/monitoring.py
  src/performance/optimization/performance_optimization.py
  src/performance/optimization/performance_optimization_engine.py
  src/performance_optimizations/intelligent_caching_system.py
  src/performance_optimizations/memory_leak_fixes.py
  src/security/enterprise_security_manager.py
  src/security/security_dashboard.py
  src/security/security_logging.py
Due: none

fix(mypy): Batch-C remove unreachable code (50 errors)
  =1.5.0,
  src/contexts/character/domain/value_objects/character_goal.py
  src/contexts/character/domain/value_objects/character_memory.py
  src/contexts/knowledge/application/services/budget_alert_service.py
  src/contexts/narratives/domain/services/narrative_planning_engine.py
  src/contexts/world/domain/entities/faction_intent.py
  src/contexts/world/domain/events/geopolitics_events.py
  src/contexts/world/domain/events/intent_events.py
  src/contexts/world/domain/events/time_events.py
  src/contexts/world/domain/events/world_events.py
  src/interactions/equipment_system/modifications/modification_system.py
  src/workspaces/guest_session.py
Due: none

fix(ci): Fix CI dependencies - cryptography and pandas
  src/bridge/llm_coordinator.py
  src/contexts/world/domain/events/geopolitics_events.py
  src/contexts/world/domain/events/intent_events.py
  src/contexts/world/domain/events/time_events.py
  src/interactions/equipment_system/modifications/modification_system.py
  src/interactions/interaction_engine_system/processing/interaction_processor.py
  src/workspaces/guest_session.py
Due: none

fix: SyntaxError in async generator (turn_api.py)
  src/contexts/orchestration/api/turn_api.py
Due: none

fix(mypy): Complete type error fixes - approaching zero
  .pre-commit-config.yaml
  scripts/ci-mypy-zero-tolerance.py
  src/agents/director_agent_base.py
  src/api/api_integration_helpers.py
  src/bridge/llm_coordinator.py
  src/bridges/multi_agent_bridge/enhanced_multi_agent_bridge_modular.py
  src/bridges/multi_agent_bridge/llm_processing/llm_batch_processor.py
  src/caching/registry.py
  src/contexts/world/application/services/simulation_sanity_checker.py
  src/contexts/world/application/services/time_service.py
  src/contexts/world/domain/value_objects/coordinates.py
  src/core/database_manager.py
  src/core/narrative/emergent_narrative.py
  src/core/service_container.py
  src/events/event_bus.py
  src/infrastructure/redis_manager.py
  src/infrastructure/state_store/factory.py
  src/infrastructure/state_store/managers.py
  src/interactions/equipment/modifications.py
  src/interactions/equipment/system.py
  src/interactions/equipment_system/modifications/modification_system.py
  src/interactions/interaction_engine_system/core/types.py
  src/interactions/interaction_engine_system/processing/interaction_processor.py
  src/performance/advanced_caching.py
  src/performance/optimization/performance_optimization_engine.py
  src/performance/tests/performance_validation.py
  src/quality/code_quality_monitor.py
  src/security/enterprise_security_manager.py
  src/security/security_dashboard.py
  src/templates/character/character_template_manager.py
  src/templates/character/learning_system.py
  src/templates/character/persona_persistence.py
  src/templates/character/template_processor.py
  src/templates/context_renderer.py
Due: none

fix(mypy): Near-zero MyPy errors - 94.5% reduction
  pyproject.toml
  src/api/api_integration_helpers.py
  src/api/context7_integration_api.py
  src/api/deps.py
  src/api/error_handlers.py
  src/api/health_system.py
  src/api/logging_system.py
  src/api/main_api_server.py
  src/api/monitoring.py
  src/api/production_server.py
  src/api/routers/auth.py
  src/api/routers/cache.py
  src/api/routers/characters.py
  src/api/routers/dialogue.py
  src/api/routers/experiments.py
  src/api/routers/guest.py
  src/api/routers/prompts.py
  src/api/services/experiment_router_service.py
  src/api/versioning.py
  src/contexts/character/domain/value_objects/skills.py
  src/contexts/interactions/domain/value_objects/negotiation_party.py
  src/contexts/interactions/domain/value_objects/proposal_terms.py
  src/contexts/narratives/infrastructure/repositories/narrative_arc_repository.py
  src/contexts/orchestration/domain/value_objects/phase_status.py
  src/contexts/world/domain/value_objects/coordinates.py
  src/core/database_manager.py
  src/core/iron_laws_processor.py
  src/core/narrative/causal_graph.py
  src/core/narrative/emergent_narrative.py
  src/core/narrative/narrative_actions.py
  src/core/narrative/narrative_coherence.py
  src/core/narrative/negotiation.py
  src/core/narrative/types.py
  src/core/performance_cache.py
  src/core/service_container.py
  src/core/subjective_reality.py
  src/core/system_orchestrator.py
  src/core/world_state_coordinator.py
Due: none

fix: Resolve all Ruff F821 errors - CI ready
  src/api/deps.py
  src/api/health_system.py
  src/api/main_api_server.py
  src/api/production_server.py
  src/api/routers/characters.py
  src/bridges/multi_agent_bridge/enhanced_multi_agent_bridge_modular.py
  src/contexts/ai/infrastructure/policies/retry_fallback.py
  src/contexts/subjective/domain/aggregates/turn_brief.py
  src/contexts/world/application/services/geopolitics_service.py
  src/contexts/world/application/services/simulation_sanity_checker.py
  src/core/narrative/emergent_narrative.py
  src/core/performance_cache.py
  src/core/system_orchestrator.py
  src/database/context_db.py
Due: none

fix(ci): Optimize pre-push hooks and fix remaining CI issues
  .pre-commit-config.yaml
  scripts/ci-mypy-warning.py
  src/api/deps.py
  src/api/main_api_server.py
  src/bridges/multi_agent_bridge/enhanced_multi_agent_bridge_modular.py
  src/contexts/ai/infrastructure/policies/retry_fallback.py
  src/core/system_orchestrator.py
  src/database/context_db.py
Due: none

fix(mypy): Zero errors in remaining directories
  src/agents/director_agent_integrated.py
  src/core/iron_laws_processor.py
  src/performance/optimization/performance_optimization_engine.py
Due: none

fix(mypy): Zero errors in src/api/
  src/api/api_integration_helpers.py
  src/api/deps.py
  src/api/enhanced_documentation_system.py
  src/api/error_handlers.py
  src/api/health_system.py
  src/api/logging_system.py
  src/api/main_api_server.py
  src/api/monitoring.py
  src/api/production_server.py
  src/api/routers/characters.py
  src/api/routers/dialogue.py
  src/api/routers/experiments.py
  src/api/routers/health.py
  src/api/routers/meta.py
  src/api/routers/simulations.py
  src/api/routers/snapshots.py
  src/api/routers/structure/beats.py
  src/api/routers/world_rumors.py
  src/api/services/experiment_router_service.py
  src/api/versioning.py
  src/contexts/character/application/commands/character_command_handlers.py
  src/contexts/character/domain/events/character_events.py
  src/contexts/character/domain/value_objects/context_models.py
  src/contexts/character/infrastructure/generators/llm_character_generator.py
  src/contexts/story/infrastructure/generators/llm_scene_generator.py
  src/core/database_manager.py
  src/core/iron_laws_processor.py
  src/core/narrative/emergent_narrative.py
  src/core/narrative/narrative_coherence.py
  src/core/narrative/negotiation.py
  src/core/subjective_reality.py
  src/interactions/character_interaction_processor.py
  src/interactions/engine/generators/content_generator.py
  src/interactions/engine/interaction_engine.py
  src/interactions/equipment_system/dynamic_equipment_system_modular.py
Due: none

fix(mypy): Zero errors in src/api/ - part 2
  src/core/system_orchestrator/orchestrator.py
  src/core/system_orchestrator/types.py
Due: none

fix: SyntaxError - add missing async keyword to generate_stream_async methods
  src/contexts/ai/infrastructure/providers/ollama_provider.py
  src/contexts/ai/infrastructure/providers/openai_provider.py
Due: none

ci(codeql): Add exclusions for known type-debt files
  .github/codeql-config.yml
Due: none

ci(pre-push): Add syntax check hook to catch SyntaxError before CI
  .pre-commit-config.yaml
  scripts/ci-syntax-check.py
Due: none

fix: CodeQL配置YAML语法错误
  .github/codeql-config.yml
Due: none

fix(pre-push): 修复 hooks 不拦截 CI 失败的问题
  .pre-commit-config.yaml
  scripts/ci-test-import-check.py
Due: none

fix: 修复 CI Python Tests 失败的异步生成器问题
  scripts/ci-test-import-check.py
  src/contexts/ai/application/services/execute_llm_service.py
Due: none

security: Add nosec comments for CodeQL false positives
  .github/workflows/python-tests.yml
  pyproject.toml
  src/contexts/knowledge/infrastructure/adapters/neo4j/graph_store.py
  src/contexts/knowledge/infrastructure/adapters/neo4j/query_builder.py
  src/infrastructure/redis_manager.py
  src/infrastructure/state_store/config.py
  src/infrastructure/state_store/redis.py
  src/infrastructure/state_store/s3.py
  src/performance/advanced_caching.py
  src/performance_optimizations/intelligent_caching_system.py
  src/security/auth_system.py
  src/security/ssl_config.py
  tests/smoke/test_api_health.py
Due: validate-test-markers

Path conditions:
  validate-test-markers: any of: ^tests/.*test_.*\.py$
  frontend-lint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  frontend-type-check: any of: ^frontend/src/.*\.(ts|tsx)$
