Repository Jackela/Novel-Engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-test-markers, frontend-lint, frontend-type-check

.pre-commit-config.yaml:

# Pre-commit hooks for Novel Engine
# See https://pre-commit.com for more information

repos:
  # Test marker validation
  - repo: local
    hooks:
      - id: validate-test-markers
        name: Validate test pyramid markers
        entry: python scripts/testing/validate-test-markers.py
        language: system
        files: ^tests/.*test_.*\.py$
        pass_filenames: true
        verbose: true
        description: |
          Ensures all test functions have proper pyramid markers
          (@pytest.mark.unit, @pytest.mark.integration, or @pytest.mark.e2e).

          To bypass temporarily, include [skip-marker-check] in commit message.

  # Frontend quality gates
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend Lint
        entry: npm run lint
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        dir: frontend

      - id: frontend-type-check
        name: Frontend Type Check
        entry: npm run type-check
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false
        dir: frontend

  # Standard Python hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=100]

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  # Linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args:
          - --max-line-length=100
          - --extend-ignore=E203,W503
          - --exclude=.git,__pycache__,.venv,build,dist

  # Type checking (optional - can be slow)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [types-all]
  #       args: [--ignore-missing-imports]

# Configuration
default_language_version:
  python: python3.11

# Skip specific hooks when needed
# To skip marker validation: SKIP=validate-test-markers git commit -m "message"
# Or include [skip-marker-check] in commit message

feat: [CHAR-034] Frontend: 'Generate Backstory' Button
  frontend/src/components/graph/RelationshipGraph.tsx
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/relationshipApi.ts
  frontend/src/mocks/handlers.ts
  frontend/src/types/schemas.ts
  src/api/routers/relationships.py
  src/api/schemas.py
Due: frontend-lint, frontend-type-check

chore: Update PRD and progress for CHAR-034
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [CHAR-035] Domain: Character Group/Faction Dynamics
  src/api/main_api_server.py
  src/api/routers/factions.py
  src/api/schemas.py
  src/contexts/character/domain/aggregates/character.py
  src/contexts/world/domain/entities/faction.py
  tests/unit/contexts/character/domain/test_character_faction.py
  tests/unit/contexts/world/domain/test_faction_leadership.py
Due: validate-test-markers

feat: [CHAR-036] Frontend: Faction Roster
  frontend/src/features/factions/components/FactionMembers.tsx
  frontend/src/features/factions/index.ts
  frontend/src/lib/api/factionApi.ts
  frontend/src/lib/api/index.ts
  frontend/src/mocks/handlers.ts
  frontend/src/types/schemas.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: [CHAR-037] Sidebar 'Characters' Sort
  frontend/src/components/narrative/WorldSidebarTab.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/types/schemas.ts
Due: frontend-lint, frontend-type-check

chore: Update PRD and progress for CHAR-037
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [CHAR-038] UX: Quick Create from Editor
  frontend/src/components/editor/MentionSuggestion.tsx
  frontend/src/components/narrative/EditorComponent.tsx
  frontend/src/components/narrative/NarrativeEditorLayout.tsx
  frontend/src/features/characters/components/QuickCreateCharacterDialog.tsx
  frontend/src/features/characters/index.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: [CHAR-039] Data: Export Character Sheet
  frontend/src/features/characters/CharacterDetailsDialog.tsx
  frontend/src/lib/api/exportApi.ts
  frontend/src/lib/api/index.ts
Due: frontend-lint, frontend-type-check

feat: [CHAR-040] E2E Character Lifecycle Test
  frontend/tests/e2e/character-lifecycle.spec.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [VIS-001] Setup Design Tokens and Font System
  CONVENTIONS.md
  DESIGN_SYSTEM.md
  frontend/index.html
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.js
  scripts/ralph/prd.json
Due: none

feat: [VIS-002] Refactor Component Directory Structure
  frontend/src/app/ProtectedLayout.tsx
  frontend/src/components/composed/AppShell.tsx
  frontend/src/components/composed/index.ts
  frontend/src/components/graph/RelationshipGraph.tsx
  frontend/src/components/graph/index.ts
  frontend/src/components/graph/nodes/CharacterNode.tsx
  frontend/src/components/graph/nodes/index.ts
  frontend/src/shared/components/layout/index.ts
Due: frontend-lint, frontend-type-check

chore: Update PRD and progress for VIS-002
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [VIS-003] Create Editor Typography System
  frontend/.stylelintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/narrative/EditorComponent.tsx
  frontend/src/main.tsx
  frontend/src/styles/editor.css
Due: frontend-lint, frontend-type-check

feat: [VIS-004] Enhance Weaver Node Styling
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.js
Due: none

feat: [VIS-005] Implement Typography Mode Switcher
  frontend/src/shared/components/layout/TopBar.tsx
  frontend/src/shared/components/layout/TypographyToggle.tsx
  frontend/src/shared/components/layout/index.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: [VIS-006] Implement Visual Regression Testing Baseline
  frontend/tests/e2e/visual-regression.spec.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

fix: add missing pytest markers and update validation script
  scripts/testing/validate-test-markers.py
  tests/unit/api/routers/test_narrative_generation_router.py
  tests/unit/contexts/narrative/infrastructure/repositories/test_in_memory_narrative_repository.py
  tests/unit/contexts/story/application/services/test_context_assembler.py
  tests/unit/contexts/world/application/test_social_graph_service.py
  tests/unit/contexts/world/domain/test_item.py
  tests/unit/contexts/world/domain/test_lore_entry.py
  tests/unit/contexts/world/domain/test_relationship.py
  tests/unit/contexts/world/domain/test_world_rule.py
  tests/unit/contexts/world/domain/test_world_state_aggregate.py
Due: validate-test-markers

fix: update test-pyramid-monitor-fast.py to recognize module-level pytestmark
  scripts/testing/test-pyramid-monitor-fast.py
Due: none

fix: resolve CI integration test failures
  src/api/error_handlers.py
  tests/integration/contexts/world/test_world_generation_integration.py
Due: validate-test-markers

fix: improve E2E test selectors for CI reliability
  frontend/tests/e2e/accessibility.spec.ts
  frontend/tests/e2e/dashboard-mobile.spec.ts
  frontend/tests/e2e/guest-workspace-persistence.spec.ts
  frontend/tests/e2e/narrative-gen.spec.ts
  frontend/tests/e2e/navigation-flows.spec.ts
  frontend/tests/e2e/pages/DecisionDialogPage.ts
  frontend/tests/e2e/story-generation.spec.ts
  frontend/tests/e2e/utils/auth.ts
  frontend/tests/e2e/weaver-character-generation.spec.ts
  frontend/tests/e2e/weaver-journey.spec.ts
  frontend/tests/e2e/weaver-scene-generation.spec.ts
  frontend/tests/e2e/world-generation.spec.ts
Due: none

fix: update test_error_handling.py mock paths and endpoints
  tests/integration/test_error_handling.py
Due: validate-test-markers

fix: improve error handling and test isolation
  src/api/routers/world.py
  src/contexts/character/application/services/generation_service.py
  src/security/input_validation.py
Due: none

fix: improve E2E test configuration and MSW support
  frontend/playwright.config.ts
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
Due: frontend-lint, frontend-type-check

fix: add structlog to requirements.txt
  requirements.txt
Due: none

fix: set _api_key in unit test fixtures to avoid CI failures
  tests/unit/contexts/world/infrastructure/test_dialogue_generation.py
  tests/unit/contexts/world/infrastructure/test_llm_world_generator.py
  tests/unit/contexts/world/infrastructure/test_relationship_history_generation.py
Due: validate-test-markers

fix: resolve CI lint errors and improve security scanning
  frontend/src/components/narrative/EditorComponent.tsx
  scripts/codeql-local.ps1
  scripts/validate_ci_locally.ps1
  src/bridge/llm_coordinator.py
  src/contexts/knowledge/infrastructure/repositories/postgresql_knowledge_repository.py
  src/contexts/orchestration/api/turn_api.py
  src/contexts/orchestration/main.py
  src/core/llm_service.py
  src/database/context_db.py
  src/director_components/campaign_logging.py
  src/director_components/error_handler.py
  src/director_components/world_state.py
  src/infrastructure/postgresql_manager.py
  src/infrastructure/redis_manager.py
  src/infrastructure/s3_manager.py
  src/infrastructure/state_store.py
  src/memory/semantic_memory.py
  src/performance/advanced_caching.py
  src/performance_optimizations/async_llm_integration.py
  src/performance_optimizations/intelligent_caching_system.py
  src/quality/code_quality_monitor.py
  src/security/auth_system.py
  src/security/rate_limiting.py
Due: frontend-lint, frontend-type-check

fix: add path traversal protection to campaigns API
  src/api/routers/campaigns.py
Due: none

chore: remove unused imports flagged by CodeQL
  contexts/ai/infrastructure/providers/mock_llm_provider.py
  tests/integration/api/test_character_api.py
  tests/integration/api/test_orchestration_api.py
Due: validate-test-markers

fix: address CodeQL security and code quality alerts
  src/api/routers/campaigns.py
  src/api/schemas.py
  src/api/services/events_service.py
  tests/e2e/narrative-generation.spec.ts
  tests/integration/api-characters.test.ts
  tests/unit/test_world_state_coordinator.py
Due: validate-test-markers

fix: use parameterized logging to prevent log injection
  src/api/routers/structure.py
Due: none

fix: add safe logging function to prevent log injection
  src/api/routers/structure.py
Due: none

fix: use parsed UUIDs in log statements to prevent log injection
  src/api/routers/structure.py
Due: none

fix: resolve all CodeQL security alerts
  .github/codeql-config.yml
  .github/workflows/codeql.yml
  frontend/tests/e2e/weaver-smoke.spec.ts
  frontend/tests/e2e/world-building.spec.ts
  src/agents/persona_agent/integrated.py
  src/api/main_api_server.py
  src/api/routers/campaigns.py
  src/api/routers/dialogue.py
  src/api/routers/factions.py
  src/api/routers/goals.py
  src/api/routers/memories.py
  src/api/routers/narrative_generation.py
  src/api/routers/narratives.py
  src/api/routers/structure.py
  src/contexts/character/domain/aggregates/character.py
  src/contexts/narrative/domain/entities/chapter.py
  src/contexts/story/application/services/context_assembler.py
  src/contexts/world/application/services/social_graph_service.py
  src/contexts/world/domain/entities/faction.py
  src/contexts/world/domain/entities/history_event.py
  src/contexts/world/domain/entities/item.py
  src/contexts/world/domain/entities/location.py
  src/contexts/world/domain/entities/lore_entry.py
  src/contexts/world/domain/entities/relationship.py
  src/contexts/world/domain/entities/world_rule.py
  src/contexts/world/domain/entities/world_setting.py
  src/contexts/world/domain/value_objects/coordinates.py
  src/contexts/world/infrastructure/generators/llm_world_generator.py
  tests/e2e/character-creation.spec.ts
  tests/mocks/llm_handlers.ts
  tests/unit/contexts/character/domain/test_character_faction.py
  tests/unit/contexts/world/domain/test_world_entities.py
  tests/unit/contexts/world/infrastructure/test_llm_world_generator.py
Due: validate-test-markers

fix: restore GoalStatus/GoalUrgency imports and update coordinates test
  src/contexts/character/domain/aggregates/character.py
  tests/unit/contexts/world/domain/test_coordinates_value_object.py
Due: validate-test-markers

fix: resolve CodeQL security alerts with UUID-based sanitization
  src/api/routers/campaigns.py
  src/api/routers/factions.py
  src/api/routers/goals.py
  src/api/routers/memories.py
  src/api/routers/narrative_generation.py
  src/api/routers/structure.py
  src/contexts/world/domain/entities/history_event.py
  src/contexts/world/domain/entities/item.py
  src/contexts/world/domain/entities/location.py
  src/contexts/world/domain/entities/lore_entry.py
  src/contexts/world/domain/entities/relationship.py
  src/contexts/world/domain/entities/world_rule.py
  src/contexts/world/domain/entities/world_setting.py
Due: none

fix: use whitelist registry for campaign file lookup
  src/api/routers/campaigns.py
Due: none

Fix CodeQL findings and stabilize e2e auth/layout
  frontend/index.html
  frontend/src/app/layout.tsx
  frontend/src/components/GlobalSearch.tsx
  frontend/src/components/graph/RelationshipGraph.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/features/auth/hooks/useAuth.ts
  frontend/src/features/characters/CharactersPage.tsx
  frontend/src/features/characters/components/CharacterCard.tsx
  frontend/src/features/characters/components/CharacterForm.tsx
  frontend/src/features/dashboard/components/panels/AnalyticsPanel.tsx
  frontend/src/mocks/handlers.ts
  frontend/tests/e2e/character-lifecycle.spec.ts
  frontend/tests/e2e/pages/DashboardPage.ts
  frontend/tests/e2e/pages/LandingPage.ts
  frontend/tests/e2e/utils/auth.ts
  frontend/tests/e2e/utils/waitForReady.ts
  scripts/codeql-local.ps1
  scripts/codeql-local.sh
  scripts/ralph/CLAUDE.md
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  scripts/validate_ci_locally.ps1
  scripts/validate_ci_locally.sh
  src/api/main_api_server.py
  src/api/routers/goals.py
  src/api/routers/memories.py
  src/api/routers/narrative_generation.py
  src/api/routers/structure.py
  src/api/schemas.py
  src/contexts/character/domain/aggregates/character.py
  src/contexts/narratives/application/services/narrative_stream_service.py
  src/contexts/story/application/ports/scene_generator_port.py
  src/contexts/story/application/services/context_assembler.py
  src/contexts/world/application/ports/world_generator_port.py
  src/contexts/world/domain/entities/faction.py
  src/contexts/world/infrastructure/generators/character_profile_generator.py
  tests/unit/contexts/character/domain/test_character_goal.py
  tests/unit/contexts/narrative/domain/entities/test_scene_entity.py
  tests/unit/test_world_state_coordinator.py
Due: validate-test-markers, frontend-lint, frontend-type-check

Fix CodeQL alerts and local CI scan
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/components/graph/RelationshipGraph.tsx
  frontend/src/features/dashboard/components/panels/AnalyticsPanel.tsx
  scripts/codeql-local.ps1
  scripts/codeql-local.sh
  scripts/validate_ci_locally.ps1
  scripts/validate_ci_locally.sh
  src/api/main_api_server.py
  src/api/routers/goals.py
  src/api/schemas.py
Due: frontend-lint, frontend-type-check
