Repository Jackela/Novel-Engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-test-markers, frontend-lint, frontend-type-check

validate-test-markers:
  name: Validate test pyramid markers
  entry: python scripts/testing/validate-test-markers.py
  language: system
  pass_filenames: true
  verbose: true
  description: 'Ensures all test functions have proper pyramid markers
  
    (@pytest.mark.unit, @pytest.mark.integration, or @pytest.mark.e2e).
  
  
  ...

frontend-lint:
  name: Frontend Lint
  entry: npm run lint
  language: system
  pass_filenames: false
  dir: frontend

frontend-type-check:
  name: Frontend Type Check
  entry: npm run type-check
  language: system
  pass_filenames: false
  dir: frontend

feat: [DIR-041] - Add mood_shift to Beat entity for Director Mode pacing
  src/contexts/narrative/domain/entities/beat.py
  tests/unit/contexts/narrative/domain/test_beat.py
Due: validate-test-markers

feat: [DIR-042] - Beat Editor UI with dnd-kit drag-and-drop
  frontend/src/features/director/api/beatApi.ts
  frontend/src/features/director/components/BeatList.tsx
  frontend/src/types/schemas.ts
  src/api/routers/structure.py
  src/api/schemas.py
Due: frontend-lint, frontend-type-check

feat: [DIR-043] - Domain: Pacing Metrics
  src/contexts/narrative/application/services/__init__.py
  src/contexts/narrative/application/services/pacing_service.py
  src/contexts/narrative/domain/entities/scene.py
  tests/unit/contexts/narrative/application/services/__init__.py
  tests/unit/contexts/narrative/application/services/test_pacing_service.py
  tests/unit/contexts/narrative/domain/entities/test_scene_entity.py
Due: validate-test-markers

feat: [DIR-044] - Pacing Graph Visualizer
  frontend/src/features/director/api/pacingApi.ts
  frontend/src/features/director/components/ChapterDashboard.tsx
  frontend/src/features/director/components/PacingGraph.tsx
  frontend/src/features/director/index.ts
  frontend/src/types/schemas.ts
  src/api/routers/structure.py
  src/api/schemas.py
Due: frontend-lint, frontend-type-check

feat: [DIR-045] - Domain: Conflict System
  frontend/src/types/schemas.ts
  src/api/routers/structure.py
  src/api/schemas.py
  src/contexts/narrative/domain/entities/__init__.py
  src/contexts/narrative/domain/entities/conflict.py
  tests/unit/contexts/narrative/domain/test_conflict.py
Due: validate-test-markers, frontend-lint, frontend-type-check

feat: [DIR-046] - Frontend: Conflict Manager
  frontend/src/features/director/api/conflictApi.ts
  frontend/src/features/director/components/ConflictPanel.tsx
  frontend/src/features/director/index.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: [DIR-047] - AI: Beat Suggester
  src/contexts/world/infrastructure/generators/__init__.py
  src/contexts/world/infrastructure/generators/llm_world_generator.py
  src/contexts/world/infrastructure/prompts/beat_suggester.yaml
  tests/unit/contexts/world/infrastructure/test_llm_world_generator.py
Due: validate-test-markers

feat: [DIR-048] - Frontend: AI Beat Suggestions UI
  frontend/src/features/director/api/beatSuggestionApi.ts
  frontend/src/features/director/components/BeatList.tsx
  frontend/src/features/director/components/BeatSuggestionPopover.tsx
  frontend/src/features/director/index.ts
  frontend/src/types/schemas.ts
  scripts/ralph/.last-branch
  scripts/ralph/archive/2026-02-03-feat/character-evolution/prd.json
  scripts/ralph/archive/2026-02-03-feat/character-evolution/progress.txt
  scripts/ralph/progress.txt
  src/api/routers/structure.py
  src/api/schemas.py
Due: frontend-lint, frontend-type-check

feat: [DIR-049] - Domain: Plotlines (Threads)
  src/api/routers/structure.py
  src/api/schemas.py
  src/contexts/narrative/domain/entities/__init__.py
  src/contexts/narrative/domain/entities/plotline.py
  src/contexts/narrative/domain/entities/scene.py
  tests/unit/contexts/narrative/domain/entities/test_scene_entity.py
  tests/unit/contexts/narrative/domain/test_plotline.py
Due: validate-test-markers

docs: [DIR-049] - Update PRD and progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [DIR-050] - Frontend: Plotline Manager
  frontend/src/features/director/api/plotlineApi.ts
  frontend/src/features/director/components/PlotlineManager.tsx
  frontend/src/features/director/index.ts
  frontend/src/features/weaver/components/nodes/SceneNode.tsx
  frontend/src/features/weaver/types.ts
  frontend/src/types/schemas.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: [DIR-051] - Integration: Plotline Filtering
  frontend/src/features/weaver/components/PlotlineFilter.tsx
  frontend/src/features/weaver/components/WeaverCanvas.tsx
  frontend/src/features/weaver/components/WeaverToolbar.tsx
  frontend/src/features/weaver/index.ts
  frontend/src/features/weaver/store/weaverStore.ts
Due: frontend-lint, frontend-type-check

docs: [DIR-051] - Update PRD and progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [DIR-052] - Domain: Foreshadowing Tracker
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/routers/structure.py
  src/api/schemas.py
  src/contexts/narrative/domain/entities/__init__.py
  src/contexts/narrative/domain/entities/foreshadowing.py
  tests/unit/contexts/narrative/domain/test_foreshadowing.py
Due: validate-test-markers

feat: [DIR-053] - Frontend: Foreshadowing UI
  frontend/src/features/director/api/foreshadowingApi.ts
  frontend/src/features/director/components/ForeshadowingPanel.tsx
  frontend/src/features/director/index.ts
  frontend/src/features/weaver/components/WeaverCanvas.tsx
  frontend/src/features/weaver/components/edges/ForeshadowingEdge.tsx
  frontend/src/features/weaver/components/edges/index.ts
  frontend/src/features/weaver/index.ts
  frontend/src/features/weaver/utils/foreshadowingUtils.ts
  frontend/src/types/schemas.ts
Due: frontend-lint, frontend-type-check

docs: [DIR-053] - Update PRD and progress log
  scripts/ralph/prd.json
Due: none

docs: [DIR-053] - Update progress log with learnings
  scripts/ralph/progress.txt
Due: none

feat: [DIR-054] - UX: Chapter Board View
  frontend/src/features/director/api/sceneApi.ts
  frontend/src/features/director/components/ChapterBoard.tsx
  frontend/src/features/director/index.ts
  frontend/src/lib/api/narrativeApi.ts
  frontend/src/types/schemas.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/routers/structure.py
  src/api/schemas.py
  src/contexts/narrative/domain/entities/__init__.py
  src/contexts/narrative/domain/entities/scene.py
Due: frontend-lint, frontend-type-check

feat: [DIR-055] - Domain: Chapter Structural Analysis
  src/contexts/narrative/application/services/__init__.py
  src/contexts/narrative/application/services/chapter_analysis_service.py
  tests/unit/contexts/narrative/application/services/test_chapter_analysis_service.py
Due: validate-test-markers

docs: [DIR-055] - Update PRD progress
  scripts/ralph/prd.json
Due: none

docs: [DIR-055] - Update progress log
  scripts/ralph/progress.txt
Due: none

feat: [DIR-055] - Domain: Chapter Structural Analysis
  frontend/src/features/director/api/chapterAnalysisApi.ts
  frontend/src/features/director/components/ChapterHealth.tsx
  frontend/src/features/director/index.ts
  frontend/src/types/schemas.ts
  scripts/ralph/prd.json
  src/api/routers/structure.py
  src/api/schemas.py
Due: frontend-lint, frontend-type-check

docs: [DIR-056] - Update progress log
  scripts/ralph/progress.txt
Due: none

feat: [DIR-057] - AI: Scene Critique Agent
  src/contexts/world/infrastructure/generators/__init__.py
  src/contexts/world/infrastructure/generators/llm_world_generator.py
  src/contexts/world/infrastructure/prompts/scene_critique.yaml
  tests/unit/contexts/world/infrastructure/test_llm_world_generator.py
Due: validate-test-markers

docs: [DIR-057] - Update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [DIR-058] - Frontend: Critique Sidebar
  frontend/src/features/director/api/critiqueApi.ts
  frontend/src/features/director/components/CritiqueSidebar.tsx
  frontend/src/features/director/index.ts
  frontend/src/types/schemas.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/routers/structure.py
  src/api/schemas.py
Due: frontend-lint, frontend-type-check

feat: [DIR-059] - Data: Export Outline Report
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/outlineExportApi.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: [DIR-060] - E2E: Director Workflow Test
  frontend/tests/e2e/director-mode.spec.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

chore: [CIT-000] - Initialize Operation Code Citadel
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [CIT-001] - Backend Schema Synchronization Audit
  docs/api/openapi.current.json
  docs/api/openapi.json
  docs/api/schema-drift-report.md
  scripts/audit_schema_sync.py
  scripts/manual_schema_audit.py
  scripts/ralph/.last-branch
  scripts/ralph/archive/2026-02-03-feat/director-mode/prd.json
  scripts/ralph/archive/2026-02-03-feat/director-mode/progress.txt
  scripts/ralph/progress.txt
  src/api/schemas.py
Due: none

chore: [CIT-001] - Update PRD and progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [CIT-002] - Frontend: Eliminate Duplicate Type Definitions
  frontend/src/services/dtoTransforms.ts
  frontend/src/types/schemas.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: [CIT-003] - Establish Result Pattern Implementation
  docs/architecture/error-handling.md
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/routers/orchestration.py
  src/api/services/orchestration_service.py
  src/contexts/character/application/services/character_application_service.py
  src/contexts/narrative/application/services/pacing_service.py
  src/core/result.py
Due: none

feat: [CIT-004] - Remove Character-Orchestration Coupling
  .importlinter
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [CIT-004.5] - Extract Router Business Logic
  src/api/routers/characters.py
  src/api/services/__init__.py
  src/api/services/character_router_service.py
  src/api/services/http_cache_service.py
Due: none

feat: [CIT-005] - Frontend: Consolidate State Management Strategy
  docs/architecture/state-management.md
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [CIT-006] - Backend: Resolve TODOs
  docs/quality/todo-tracker.md
  src/api/knowledge_api.py
  src/api/production_server.py
  src/contexts/character/application/commands/character_command_handlers.py
  src/contexts/knowledge/infrastructure/adapters/embedding_generator_adapter.py
  src/contexts/world/application/commands/handlers.py
  src/infrastructure/enterprise_storage_manager.py
Due: none

chore: [CIT-006] - Update PRD and progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [CIT-007] - Frontend: Resolve TODOs
  frontend/src/components/narrative/NarrativeEditorLayout.tsx
  frontend/src/features/director/components/PlotlineManager.tsx
  frontend/src/types/schemas.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/routers/structure.py
  src/api/schemas.py
Due: frontend-lint, frontend-type-check

feat: [CIT-008] - Docs: Create Missing ADRs
  docs/adr/ADR-004-director-mode.md
  docs/adr/ADR-005-state-management.md
  docs/adr/ADR-006-result-pattern.md
  docs/adr/index.md
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

Path conditions:
  validate-test-markers: any of: ^tests/.*test_.*\.py$
  frontend-lint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  frontend-type-check: any of: ^frontend/src/.*\.(ts|tsx)$
