Repository Jackela/Novel-Engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-test-markers, frontend-lint, frontend-type-check

validate-test-markers:
  name: Validate test pyramid markers
  entry: python scripts/testing/validate-test-markers.py
  language: system
  pass_filenames: true
  verbose: true
  description: 'Ensures all test functions have proper pyramid markers
  
    (@pytest.mark.unit, @pytest.mark.integration, or @pytest.mark.e2e).
  
  
  ...

frontend-lint:
  name: Frontend Lint
  entry: npm run lint
  language: system
  pass_filenames: false
  dir: frontend

frontend-type-check:
  name: Frontend Type Check
  entry: npm run type-check
  language: system
  pass_filenames: false
  dir: frontend

feat: [BRAIN-032B] - Graph Retrieval - Explain Mode
  src/contexts/knowledge/application/services/__init__.py
  src/contexts/knowledge/application/services/__pycache__/__init__.cpython-312.pyc
  src/contexts/knowledge/application/services/graph_retrieval_service.py
  tests/unit/contexts/knowledge/application/services/test_graph_retrieval_service.py
Due: validate-test-markers

docs: [BRAIN-032B] - Mark story as passing and update progress log
  scripts/ralph/prd.json
Due: none

docs: [BRAIN-032B] - Mark story as passing and update progress log
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-033] - Frontend: Brain Settings
  frontend/src/features/routing/api/brainSettingsApi.ts
  frontend/src/features/routing/components/BrainSettingsPage.tsx
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/app.py
  src/api/routers/brain_settings.py
  src/api/schemas.py
Due: frontend-lint, frontend-type-check

feat: [BRAIN-034B] - Token Tracker - Budget Alert System
  scripts/ralph/prd.json
  src/contexts/knowledge/application/ports/i_budget_alert_repository.py
  src/contexts/knowledge/application/services/__init__.py
  src/contexts/knowledge/application/services/budget_alert_service.py
  src/contexts/knowledge/domain/models/__init__.py
  src/contexts/knowledge/domain/models/budget_alert.py
  src/contexts/knowledge/infrastructure/adapters/in_memory_budget_alert_repository.py
  tests/unit/contexts/knowledge/application/services/test_budget_alert_service.py
Due: validate-test-markers

docs: [BRAIN-034B] - Mark story as passing and update progress log
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-035A] - Cost Dashboard Charts
  frontend/src/features/routing/api/brainSettingsApi.ts
  frontend/src/features/routing/components/BrainSettingsPage.tsx
  src/api/routers/brain_settings.py
Due: frontend-lint, frontend-type-check

docs: [BRAIN-035A] - Mark story as passing in PRD
  scripts/ralph/prd.json
Due: none

docs: [BRAIN-035A] - Add progress log entry
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-035B-01] - Dashboard: Model Comparison Table
  frontend/src/features/routing/api/brainSettingsApi.ts
  frontend/src/features/routing/components/BrainSettingsPage.tsx
  src/api/routers/brain_settings.py
Due: frontend-lint, frontend-type-check

docs: [BRAIN-035B-01] - Mark story as passing and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-035B-02] - Dashboard: Date Range Filter
  frontend/src/features/routing/components/BrainSettingsPage.tsx
Due: frontend-lint, frontend-type-check

docs: [BRAIN-035B-02] - Mark story as passing and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-035B-03] - Dashboard: CSV Export
  frontend/src/features/routing/api/brainSettingsApi.ts
  frontend/src/features/routing/components/BrainSettingsPage.tsx
  src/api/routers/brain_settings.py
Due: frontend-lint, frontend-type-check

docs: [BRAIN-035B-03] - Mark story as passing and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-035B-04] - Dashboard: Real-time Usage Counter
  frontend/src/features/routing/api/brainSettingsApi.ts
  frontend/src/features/routing/components/BrainSettingsPage.tsx
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/routers/brain_settings.py
Due: frontend-lint, frontend-type-check

feat: [BRAIN-034A] - Token Tracking Infrastructure
  src/contexts/knowledge/application/ports/i_llm_client.py
  src/contexts/knowledge/application/ports/i_token_usage_repository.py
  src/contexts/knowledge/application/services/__pycache__/__init__.cpython-312.pyc
  src/contexts/knowledge/application/services/token_tracker.py
  src/contexts/knowledge/infrastructure/adapters/__init__.py
  src/contexts/knowledge/infrastructure/adapters/claude_llm_client.py
  src/contexts/knowledge/infrastructure/adapters/gemini_llm_client.py
  src/contexts/knowledge/infrastructure/adapters/in_memory_token_usage_repository.py
  src/contexts/knowledge/infrastructure/adapters/ollama_llm_client.py
  src/contexts/knowledge/infrastructure/adapters/openai_llm_client.py
  tests/unit/contexts/knowledge/application/services/test_token_tracker.py
Due: validate-test-markers

feat: [BRAIN-036-01] - Context Inspector Button Placement
  frontend/src/components/narrative/EditorComponent.tsx
Due: frontend-lint, frontend-type-check

docs: [BRAIN-036-01] - Mark story as passing and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-036-02] - Context Inspector: Panel Component
  frontend/src/components/narrative/ContextInspector.tsx
  frontend/src/components/narrative/NarrativeEditorLayout.tsx
  frontend/src/features/routing/api/brainSettingsApi.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/routers/brain_settings.py
  src/api/schemas.py
Due: frontend-lint, frontend-type-check

feat: [BRAIN-036-03] - Context Inspector: Highlight Used Chunks
  frontend/src/components/narrative/ContextInspector.tsx
  frontend/src/features/routing/api/brainSettingsApi.ts
  src/api/routers/brain_settings.py
  src/api/schemas.py
Due: frontend-lint, frontend-type-check

docs: [BRAIN-036-03] - Mark story as passing and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-036-04] - Context Inspector: Manual Chunk Selection
  frontend/src/components/narrative/ContextInspector.tsx
  frontend/src/components/narrative/NarrativeEditorLayout.tsx
  frontend/src/components/ui/checkbox.tsx
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: [BRAIN-036-05] - Context Inspector: Context Window Display
  frontend/src/components/narrative/ContextInspector.tsx
  frontend/src/components/ui/progress.tsx
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: [BRAIN-037A-01] - Chat Backend: POST Endpoint
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/routers/brain_settings.py
Due: none

docs: [BRAIN-037A-02] - Mark RAG Integration as complete
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-037A-03, BRAIN-037A-04] - Chat Context and Streaming
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/routers/brain_settings.py
Due: none

feat: [BRAIN-037B-01] - Chat UI: Floating Widget
  frontend/src/components/ChatInterface.tsx
  frontend/src/components/composed/AppShell.tsx
  frontend/src/features/routing/api/brainSettingsApi.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

docs: [BRAIN-037B-02] - Mark Chat UI Message Display as complete
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-038-01, BRAIN-038-02] - Smart Tagging Service Setup
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/knowledge/application/services/__init__.py
  src/contexts/knowledge/application/services/smart_tagging_service.py
  tests/unit/contexts/knowledge/application/services/test_smart_tagging_service.py
Due: validate-test-markers

feat: [BRAIN-038-03] - Smart Tagging: Auto-trigger on content creation
  src/contexts/knowledge/application/event_handlers/__init__.py
  src/contexts/knowledge/application/event_handlers/knowledge_event_subscriber.py
  src/contexts/knowledge/application/event_handlers/smart_tagging_event_handler.py
  tests/unit/contexts/knowledge/application/event_handlers/test_smart_tagging_event_handler.py
Due: validate-test-markers

docs: [BRAIN-038-03] - Mark Smart Tagging Auto-trigger as complete
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-038-04] - Smart Tagging: Metadata Storage
  src/contexts/character/domain/aggregates/character.py
  src/contexts/character/domain/repositories/character_repository.py
  src/contexts/narrative/domain/entities/scene.py
  src/contexts/world/domain/entities/lore_entry.py
  src/contexts/world/domain/repositories/lore_entry_repository.py
  tests/unit/contexts/character/domain/test_character_aggregate.py
  tests/unit/contexts/narrative/domain/entities/test_scene_entity.py
  tests/unit/contexts/world/domain/test_lore_entry.py
Due: validate-test-markers

docs: [BRAIN-038-04] - Mark Smart Tagging Metadata Storage as complete
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-038-05] Smart Tagging: Manual Override
  frontend/src/components/narrative/SmartTagsEditor.tsx
  frontend/src/features/routing/api/smartTagsApi.ts
  src/api/routers/lore.py
  src/api/routers/structure.py
  src/api/schemas.py
  src/contexts/character/domain/aggregates/character.py
  src/contexts/knowledge/application/event_handlers/smart_tagging_event_handler.py
  src/contexts/narrative/domain/entities/scene.py
  src/contexts/world/domain/entities/lore_entry.py
  tests/unit/contexts/knowledge/application/event_handlers/test_manual_smart_tags.py
Due: validate-test-markers, frontend-lint, frontend-type-check

docs: [BRAIN-038-05] Mark Smart Tagging Manual Override as complete
  scripts/ralph/prd.json
Due: none

docs: [BRAIN-038-05] Add progress log entry
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-039A-01] Chunking Strategy Interface
  src/contexts/knowledge/application/ports/i_chunking_strategy.py
  tests/unit/contexts/knowledge/application/ports/test_i_chunking_strategy.py
Due: validate-test-markers

docs: [BRAIN-039A-01] Mark story as complete and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-039A-02] Fixed Chunking Strategy Implementation
  src/contexts/knowledge/infrastructure/adapters/__init__.py
  src/contexts/knowledge/infrastructure/adapters/chunking_strategy_adapters.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_chunking_strategy_adapters.py
Due: validate-test-markers

Path conditions:
  validate-test-markers: any of: ^tests/.*test_.*\.py$
  frontend-lint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  frontend-type-check: any of: ^frontend/src/.*\.(ts|tsx)$
