Repository Jackela/Novel-Engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-test-markers, frontend-lint, frontend-type-check

validate-test-markers:
  name: Validate test pyramid markers
  entry: python scripts/testing/validate-test-markers.py
  language: system
  pass_filenames: true
  verbose: true
  description: 'Ensures all test functions have proper pyramid markers
  
    (@pytest.mark.unit, @pytest.mark.integration, or @pytest.mark.e2e).
  
  
  ...

frontend-lint:
  name: Frontend Lint
  entry: npm run lint
  language: system
  pass_filenames: false
  dir: frontend

frontend-type-check:
  name: Frontend Type Check
  entry: npm run type-check
  language: system
  pass_filenames: false
  dir: frontend

feat: [QUAL-001] Strict type hygiene for frontend
  frontend/src/types/schemas.ts
  scripts/ralph/prd.json
Due: frontend-lint, frontend-type-check

feat: [QUAL-002] Backend docstrings and architecture documentation
  scripts/ralph/prd.json
  src/api/schemas.py
  src/contexts/narrative/ARCHITECTURE.md
  src/contexts/narrative/__init__.py
  src/contexts/story/application/services/scene_service.py
Due: none

feat: [TEST-001] Frontend E2E smoke tests
  frontend/tests/e2e/world-generation.spec.ts
  scripts/ralph/prd.json
Due: none

feat: [TEST-002] Backend chaos testing for error handling
  scripts/ralph/prd.json
  tests/integration/test_error_handling.py
Due: validate-test-markers

feat: [DEV-001] Narrative Engine Context Builder
  scripts/ralph/prd.json
  src/contexts/story/application/services/context_assembler.py
  tests/unit/contexts/story/application/services/test_context_assembler.py
Due: validate-test-markers

feat: [DEV-002] Narrative Engine Streaming API integration
  scripts/ralph/prd.json
  src/api/main_api_server.py
Due: none

fix: correct API endpoint paths in error handling tests
  tests/integration/test_error_handling.py
Due: validate-test-markers

feat: [DOC-001] Add docstrings to domain entities
  src/contexts/world/domain/entities/__init__.py
  src/contexts/world/domain/entities/entity.py
  src/contexts/world/domain/entities/faction.py
  src/contexts/world/domain/entities/history_event.py
  src/contexts/world/domain/entities/location.py
  src/contexts/world/domain/entities/world_setting.py
Due: none

feat: [CLEAN-001] Remove console.log, mark all QA tasks complete
  frontend/src/features/stories/StoryEditorPage.tsx
  scripts/ralph/prd.json
Due: frontend-lint, frontend-type-check

feat: [DOC-001] Add docstrings to domain entities
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [DOC-002] Verify generator infrastructure docstrings complete
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [DOC-003] Add JSDoc documentation for useWorldGeneration state machine
  frontend/src/features/weaver/hooks/useWorldGeneration.ts
Due: frontend-lint, frontend-type-check

feat: [TEST-001] Add E2E smoke tests for navigation
  frontend/tests/e2e/navigation.spec.ts
  scripts/ralph/CLAUDE.md
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [TEST-002] Fix E2E generation smoke tests to match actual UI
  frontend/tests/e2e/world-generation.spec.ts
Due: none

chore: Mark TEST-002 as complete in PRD
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

chore: [CLEAN-001] Verify codebase is free of debugging console.log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [UI-FIX-001] Fix catch-all route redirect using TanStack Router $ syntax
  frontend/src/app/router.tsx
Due: frontend-lint, frontend-type-check

feat: [TEST-FIX-001] Fix hanging Playwright browsers
  frontend/playwright.config.ts
  frontend/tests/e2e/setup/global-teardown.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  tests/playwright.config.ts
Due: none

feat: [MOCK-001] LLM Mock Infrastructure for E2E Testing
  frontend/tests/e2e/llm-mock-verification.spec.ts
  frontend/tests/e2e/utils/llmMocks.ts
  tests/mocks/llm_handlers.ts
Due: none

feat: [NAR-001] Domain Story & Chapter Entities
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/narrative/domain/__init__.py
  src/contexts/narrative/domain/entities/__init__.py
  src/contexts/narrative/domain/entities/chapter.py
  src/contexts/narrative/domain/entities/story.py
  src/contexts/narrative/domain/value_objects/__init__.py
  tests/unit/contexts/narrative/domain/entities/__init__.py
  tests/unit/contexts/narrative/domain/entities/test_chapter_entity.py
  tests/unit/contexts/narrative/domain/entities/test_story_entity.py
Due: validate-test-markers

feat: [NAR-002] Domain: Scene & Beat Entities
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/narrative/domain/__init__.py
  src/contexts/narrative/domain/entities/__init__.py
  src/contexts/narrative/domain/entities/beat.py
  src/contexts/narrative/domain/entities/scene.py
  tests/unit/contexts/narrative/domain/entities/test_beat_entity.py
  tests/unit/contexts/narrative/domain/entities/test_scene_entity.py
Due: validate-test-markers

feat: [NAR-003] Backend: Narrative Repository Port
  src/contexts/narrative/application/__init__.py
  src/contexts/narrative/application/ports/__init__.py
  src/contexts/narrative/application/ports/narrative_repository_port.py
  src/contexts/narrative/infrastructure/__init__.py
  src/contexts/narrative/infrastructure/repositories/__init__.py
  src/contexts/narrative/infrastructure/repositories/in_memory_narrative_repository.py
  tests/unit/contexts/narrative/application/ports/__init__.py
  tests/unit/contexts/narrative/infrastructure/__init__.py
  tests/unit/contexts/narrative/infrastructure/repositories/__init__.py
  tests/unit/contexts/narrative/infrastructure/repositories/test_in_memory_narrative_repository.py
Due: validate-test-markers

feat: [NAR-004] Backend: Structure API (CRUD)
  docs/api/openapi.current.json
  src/api/main_api_server.py
  src/api/routers/structure.py
  src/api/schemas.py
Due: none

feat: [NAR-005] Backend: Streaming Endpoint Stub
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  scripts/verify_stream_endpoint.py
  src/api/main_api_server.py
  src/api/routers/narrative_generation.py
  tests/unit/api/routers/test_narrative_generation_router.py
Due: validate-test-markers

feat: [NAR-006] Install Tiptap and dnd-kit dependencies, add EditorComponent
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/narrative/EditorComponent.tsx
Due: frontend-lint, frontend-type-check

feat: [NAR-007] Add NarrativeSidebar component for story outline navigation
  frontend/src/components/narrative/NarrativeSidebar.tsx
Due: frontend-lint, frontend-type-check

feat: [NAR-008] Add EditorComponent toolbar and NarrativeEditorLayout
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/narrative/EditorComponent.tsx
  frontend/src/components/narrative/NarrativeEditorLayout.tsx
  frontend/src/components/narrative/NarrativeSidebar.tsx
  frontend/src/components/ui/toggle.tsx
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: [NAR-009] Connect NarrativeSidebar to Structure API
  frontend/src/components/narrative/NarrativeEditorLayout.tsx
  frontend/src/hooks/useStoryStructure.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/narrativeApi.ts
  frontend/src/types/schemas.ts
Due: frontend-lint, frontend-type-check

feat: [NAR-010] Add useStoryStream SSE streaming hook
  frontend/src/hooks/useStoryStream.ts
Due: frontend-lint, frontend-type-check

feat: [NAR-011] Integrate useStoryStream into EditorComponent for streaming text insertion
  frontend/src/components/narrative/EditorComponent.tsx
  frontend/src/components/narrative/NarrativeEditorLayout.tsx
  frontend/src/hooks/useStoryStream.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: [NAR-012] Add E2E Ghostwriter Test for narrative generation flow
  frontend/tests/e2e/narrative-gen.spec.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [NAR-001] Verify Domain Story & Chapter Entities
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [NAR-002] Verify Scene & Beat Domain Entities
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [NAR-003] Verify Narrative Repository Port
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [NAR-004] Register Structure API and add unit tests
  docs/api/openapi.current.json
  src/api/app.py
  tests/api/test_structure_api.py
Due: validate-test-markers

feat: [NAR-005] Verify Streaming Endpoint Stub
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [NAR-006] Verify Tiptap & Dependencies Installation
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [NAR-007] Implement Outliner UI (NarrativeSidebar)
  frontend/src/components/narrative/NarrativeEditorLayout.tsx
  frontend/src/components/narrative/NarrativeSidebar.tsx
Due: frontend-lint, frontend-type-check

feat: [NAR-008] Implement Editor UI (Main Canvas) with 20/80 split layout
  frontend/src/features/narrative/NarrativePage.tsx
Due: frontend-lint, frontend-type-check

feat: [NAR-009] Connect Structure API to Outliner UI
  frontend/src/features/narrative/NarrativePage.tsx
Due: frontend-lint, frontend-type-check

Path conditions:
  validate-test-markers: any of: ^tests/.*test_.*\.py$
  frontend-lint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  frontend-type-check: any of: ^frontend/src/.*\.(ts|tsx)$
