Repository Jackela/Novel-Engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-test-markers, frontend-lint, frontend-type-check

.pre-commit-config.yaml:

# Pre-commit hooks for Novel Engine
# See https://pre-commit.com for more information

repos:
  # Test marker validation
  - repo: local
    hooks:
      - id: validate-test-markers
        name: Validate test pyramid markers
        entry: python scripts/testing/validate-test-markers.py
        language: system
        files: ^tests/.*test_.*\.py$
        pass_filenames: true
        verbose: true
        description: |
          Ensures all test functions have proper pyramid markers
          (@pytest.mark.unit, @pytest.mark.integration, or @pytest.mark.e2e).

          To bypass temporarily, include [skip-marker-check] in commit message.

  # Frontend quality gates
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend Lint
        entry: npm run lint
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        dir: frontend

      - id: frontend-type-check
        name: Frontend Type Check
        entry: npm run type-check
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false
        dir: frontend

  # Standard Python hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=100]

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  # Linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args:
          - --max-line-length=100
          - --extend-ignore=E203,W503
          - --exclude=.git,__pycache__,.venv,build,dist

  # Type checking (optional - can be slow)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [types-all]
  #       args: [--ignore-missing-imports]

# Configuration
default_language_version:
  python: python3.11

# Skip specific hooks when needed
# To skip marker validation: SKIP=validate-test-markers git commit -m "message"
# Or include [skip-marker-check] in commit message

fix: Correct dependency chains in PRD
  scripts/ralph/prd.json
Due: none

fix: Resolve all PRD issues identified by subagent review
  scripts/ralph/prd.json
Due: none

fix: Apply PRD remediation from multi-agent review
  scripts/ralph/prd.json
Due: none

chore: Reset progress.txt for fresh Ralph run
  scripts/ralph/progress.txt
Due: none

feat: SIM-001 - Domain - WorldCalendar Value Object
  src/contexts/world/domain/value_objects/__init__.py
  src/contexts/world/domain/value_objects/world_calendar.py
  tests/unit/contexts/world/domain/value_objects/__init__.py
  tests/unit/contexts/world/domain/value_objects/test_world_calendar.py
Due: validate-test-markers

chore: Mark SIM-001 complete, update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: SIM-002 - Domain - Calendar Integration
  src/contexts/world/domain/aggregates/world_state.py
  src/contexts/world/domain/events/world_events.py
  tests/unit/contexts/world/domain/aggregates/__init__.py
  tests/unit/contexts/world/domain/aggregates/test_world_state.py
Due: validate-test-markers

chore: Mark SIM-002 complete, update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: SIM-003 - API - Calendar Router
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/app.py
  src/api/main_api_server.py
  src/api/routers/calendar.py
  tests/api/routers/__init__.py
  tests/api/routers/test_calendar.py
Due: validate-test-markers

feat: SIM-004 - Frontend - Calendar Display Component
  frontend/src/components/world/CalendarDisplay.tsx
  frontend/src/features/world/WorldPage.tsx
  frontend/src/lib/api/calendarApi.ts
  frontend/src/lib/api/index.ts
  frontend/src/types/schemas.ts
  frontend/tests/e2e/calendar.spec.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: SIM-005 - Domain - Enhance HistoryEvent
  src/contexts/world/domain/entities/history_event.py
  tests/unit/contexts/world/domain/test_world_entities.py
Due: validate-test-markers

chore: Mark SIM-005 complete, update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: SIM-006 - API - Events Router
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/routers/events.py
  src/api/schemas.py
  tests/api/routers/test_history_events.py
Due: validate-test-markers

feat: SIM-007 - Frontend - Timeline Component
  frontend/src/components/world/WorldTimeline.tsx
  frontend/src/lib/api/eventsApi.ts
  frontend/src/lib/api/index.ts
  frontend/src/types/schemas.ts
  frontend/tests/e2e/timeline.spec.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: SIM-008 - Domain - DiplomaticStatus Enum
  src/contexts/world/domain/value_objects/__init__.py
  src/contexts/world/domain/value_objects/diplomatic_status.py
  tests/unit/contexts/world/domain/value_objects/test_diplomatic_status.py
Due: validate-test-markers

chore: Mark SIM-008 complete, update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: SIM-009 - Domain - DiplomacyMatrix Aggregate
  src/contexts/world/domain/aggregates/__init__.py
  src/contexts/world/domain/aggregates/diplomacy_matrix.py
  tests/unit/contexts/world/domain/aggregates/test_diplomacy_matrix.py
Due: validate-test-markers

chore: Mark SIM-009 complete, update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: SIM-010 - API - Diplomacy Router
  src/api/app.py
  src/api/main_api_server.py
  src/api/routers/diplomacy.py
  tests/api/routers/test_diplomacy.py
Due: validate-test-markers

chore: Mark SIM-010 complete, update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: SIM-011 - Frontend - Diplomacy Matrix Grid
  frontend/src/components/world/DiplomacyMatrix.tsx
  frontend/src/lib/api/diplomacyApi.ts
  frontend/src/lib/api/index.ts
  frontend/src/types/schemas.ts
  frontend/tests/e2e/diplomacy.spec.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: SIM-012 - Domain - FactionIntent Entity
  src/contexts/world/domain/entities/__init__.py
  src/contexts/world/domain/entities/faction_intent.py
  tests/unit/contexts/world/domain/entities/test_faction_intent.py
Due: validate-test-markers

chore: Mark SIM-012 complete, update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: SIM-013 - Application - FactionIntentGenerator
  src/contexts/world/application/services/faction_intent_generator.py
  tests/unit/contexts/world/application/services/test_faction_intent_generator.py
Due: validate-test-markers

chore: Mark SIM-013 complete, update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: SIM-014 - Domain - SimulationTick Value Object
  src/contexts/world/domain/value_objects/__init__.py
  src/contexts/world/domain/value_objects/simulation_tick.py
  tests/unit/contexts/world/domain/value_objects/test_simulation_tick.py
Due: validate-test-markers

chore: Mark SIM-014 complete, update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: SIM-015 - Application - Basic Simulation Tick
  src/contexts/world/application/services/world_simulation_service.py
  tests/unit/contexts/world/application/services/test_world_simulation_service.py
Due: validate-test-markers

chore: Mark SIM-015 complete, update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: SIM-016 - Application - Intent Resolution
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/world/application/services/world_simulation_service.py
  tests/unit/contexts/world/application/services/test_intent_resolution.py
Due: validate-test-markers

feat: SIM-019 - Domain - Character Birth Date
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/character/domain/aggregates/character.py
  tests/unit/contexts/character/domain/test_character_aggregate.py
Due: validate-test-markers

feat: SIM-020 - Domain - Character Location Tracking
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/character/domain/aggregates/character.py
  src/contexts/character/domain/events/character_events.py
  tests/unit/contexts/character/domain/test_character_aggregate.py
Due: validate-test-markers

feat: SIM-021 - Domain - CharacterReaction Value Object
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/character/domain/value_objects/__init__.py
  src/contexts/character/domain/value_objects/character_reaction.py
  tests/unit/contexts/character/domain/test_character_reaction.py
Due: validate-test-markers

feat: SIM-022 - Application - Character Reactor
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/character/application/services/character_reactor.py
  tests/unit/contexts/character/application/services/test_character_reactor.py
Due: validate-test-markers

feat: SIM-023 - Frontend - Character Location Display
  frontend/src/components/narrative/WorldSidebarTab.tsx
  frontend/src/components/world/LocationTree.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/types/schemas.ts
  frontend/tests/e2e/location-tree.spec.ts
  src/api/schemas.py
Due: frontend-lint, frontend-type-check

docs: Update PRD and progress for SIM-023 completion
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: SIM-024 - Domain - Rumor Entity
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/world/domain/entities/__init__.py
  src/contexts/world/domain/entities/rumor.py
  tests/unit/contexts/world/domain/entities/test_rumor.py
Due: validate-test-markers

feat: SIM-025 - Application - Rumor Propagation
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/world/application/services/__init__.py
  src/contexts/world/application/services/rumor_propagation_service.py
  tests/unit/contexts/world/application/services/test_rumor_propagation_service.py
Due: validate-test-markers

feat: SIM-027 - Application - Sanity Checker
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/world/application/services/__init__.py
  src/contexts/world/application/services/simulation_sanity_checker.py
  tests/unit/contexts/world/application/services/test_simulation_sanity_checker.py
Due: validate-test-markers

feat: SIM-028 - Domain - WorldSnapshot Entity
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/world/domain/entities/__init__.py
  src/contexts/world/domain/entities/world_snapshot.py
  tests/unit/contexts/world/domain/entities/test_world_snapshot.py
Due: validate-test-markers
