Repository Jackela/Novel-Engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-test-markers, frontend-lint, frontend-type-check

validate-test-markers:
  name: Validate test pyramid markers
  entry: python scripts/testing/validate-test-markers.py
  language: system
  pass_filenames: true
  verbose: true
  description: 'Ensures all test functions have proper pyramid markers
  
    (@pytest.mark.unit, @pytest.mark.integration, or @pytest.mark.e2e).
  
  
  ...

frontend-lint:
  name: Frontend Lint
  entry: npm run lint
  language: system
  pass_filenames: false
  dir: frontend

frontend-type-check:
  name: Frontend Type Check
  entry: npm run type-check
  language: system
  pass_filenames: false
  dir: frontend

feat: [NAR-010] Verify SSE Streaming Hook implementation
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [NAR-011] Verify Editor Streaming Integration
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [NAR-012] Verify E2E Ghostwriter Test Suite
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [NAR-013] Verify Drag & Drop Reordering in NarrativeSidebar
  frontend/tests/e2e/scene-drag-drop.spec.ts
Due: none

feat: [DOC-004] Add Narrative Engine architecture documentation
  docs/architecture/narrative_engine.mermaid
Due: none

feat: [WORLD-001] Domain: Character Entity Upgrade
  docs/api/openapi.current.json
  frontend/src/mocks/handlers.ts
  frontend/src/types/schemas.ts
  src/api/schemas.py
  src/contexts/character/domain/value_objects/character_profile.py
Due: frontend-lint, frontend-type-check

feat: [WORLD-002] Frontend: Character Profile Form
  frontend/src/features/characters/CharacterProfileForm.tsx
  frontend/src/features/characters/index.ts
Due: frontend-lint, frontend-type-check

feat: [WORLD-003] Domain: Relationship System
  src/api/main_api_server.py
  src/api/routers/relationships.py
  src/api/schemas.py
  src/contexts/world/domain/entities/__init__.py
  src/contexts/world/domain/entities/relationship.py
  src/contexts/world/domain/repositories/relationship_repository.py
  src/contexts/world/infrastructure/persistence/in_memory_relationship_repository.py
  tests/unit/contexts/world/domain/test_relationship.py
Due: validate-test-markers

feat: [WORLD-004] Frontend: Install React Flow
  frontend/src/components/graph/RelationshipGraph.tsx
  frontend/src/components/graph/index.ts
  frontend/src/components/graph/nodes/CharacterNode.tsx
  frontend/src/components/graph/nodes/index.ts
  frontend/src/features/world/WorldPage.tsx
Due: frontend-lint, frontend-type-check

feat: [WORLD-005] Character Graph Visualizer
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/graph/RelationshipGraph.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/types/schemas.ts
Due: frontend-lint, frontend-type-check

feat: [WORLD-006] Verify Location Hierarchy (Already Implemented)
  scripts/ralph/.last-branch
  scripts/ralph/archive/2026-01-31-feat/arch-fortification/prd.json
  scripts/ralph/archive/2026-01-31-feat/arch-fortification/progress.txt
  scripts/ralph/archive/2026-02-01-feat/domain-and-fortification/prd.json
  scripts/ralph/archive/2026-02-01-feat/domain-and-fortification/progress.txt
  scripts/ralph/progress.txt
Due: none

feat: [WORLD-007] Frontend: Location Tree View
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/collapsible.tsx
  frontend/src/components/world/LocationTree.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/types/schemas.ts
Due: frontend-lint, frontend-type-check

feat: [WORLD-008] Domain: Inventory & Items
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/main_api_server.py
  src/api/routers/items.py
  src/api/schemas.py
  src/contexts/character/domain/aggregates/character.py
  src/contexts/world/domain/entities/__init__.py
  src/contexts/world/domain/entities/item.py
  src/contexts/world/domain/repositories/item_repository.py
  src/contexts/world/infrastructure/persistence/in_memory_item_repository.py
  tests/unit/contexts/world/domain/test_item.py
Due: validate-test-markers

feat: [WORLD-009] Frontend: Inventory UI
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/tabs.tsx
  frontend/src/features/characters/CharacterDetailsDialog.tsx
  frontend/src/features/characters/components/InventoryTab.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/types/schemas.ts
Due: frontend-lint, frontend-type-check

feat: [WORLD-010] Backend: Knowledge Base (Wiki) API
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/app.py
  src/api/main_api_server.py
  src/api/routers/lore.py
  src/api/schemas.py
  src/contexts/world/domain/entities/__init__.py
  src/contexts/world/domain/entities/lore_entry.py
  src/contexts/world/domain/repositories/lore_entry_repository.py
  src/contexts/world/infrastructure/persistence/__init__.py
  src/contexts/world/infrastructure/persistence/in_memory_lore_entry_repository.py
  tests/api/test_lore_api.py
  tests/unit/contexts/world/domain/test_lore_entry.py
Due: validate-test-markers

feat: [WORLD-011] Frontend: Wiki Dashboard
  frontend/src/app/router.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/features/world/WikiDashboard.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/WikiPage.tsx
  frontend/src/types/schemas.ts
Due: frontend-lint, frontend-type-check

feat: [WORLD-012] AI: Character Generator (Structure)
  src/contexts/world/infrastructure/generators/__init__.py
  src/contexts/world/infrastructure/generators/character_profile_generator.py
  tests/unit/contexts/world/infrastructure/test_character_profile_generator.py
Due: validate-test-markers

feat: [WORLD-013] Frontend: 'Generate Profile' Button
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/providers.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/features/characters/CharacterProfileForm.tsx
  frontend/src/lib/api/generationApi.ts
  frontend/src/mocks/handlers.ts
  frontend/src/types/schemas.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/routers/generation.py
  src/api/schemas.py
Due: frontend-lint, frontend-type-check

feat: [WORLD-014] Domain: Magic/Rule System
  src/api/app.py
  src/api/main_api_server.py
  src/api/routers/world_rules.py
  src/api/schemas.py
  src/contexts/world/domain/entities/__init__.py
  src/contexts/world/domain/entities/world_rule.py
  src/contexts/world/domain/repositories/world_rule_repository.py
  src/contexts/world/infrastructure/persistence/in_memory_world_rule_repository.py
  tests/unit/contexts/world/domain/test_world_rule.py
Due: validate-test-markers

feat: [WORLD-015] Frontend: World Rules Editor
  frontend/src/features/world/WorldRulesEditor.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/types/schemas.ts
Due: frontend-lint, frontend-type-check

feat: [WORLD-016] Integration: Sidebar 'World' Tab
  frontend/src/components/narrative/NarrativeSidebarWithTabs.tsx
  frontend/src/components/narrative/WorldSidebarTab.tsx
  frontend/src/components/narrative/index.ts
  frontend/src/lib/api/worldDataApi.ts
  frontend/src/types/schemas.ts
Due: frontend-lint, frontend-type-check

feat: [WORLD-017] Integration: Drag-to-Insert character mentions
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/editor/CharacterMention.ts
  frontend/src/components/editor/DraggableCharacterItem.tsx
  frontend/src/components/narrative/EditorComponent.tsx
  frontend/src/components/narrative/NarrativeEditorLayout.tsx
  frontend/src/components/narrative/WorldSidebarTab.tsx
  frontend/src/styles/tailwind.css
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: [WORLD-018] Integration: Hover Card for character mentions
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/editor/CharacterMention.ts
  frontend/src/components/editor/CharacterMentionView.tsx
  frontend/src/components/ui/hover-card.tsx
Due: frontend-lint, frontend-type-check

feat: [WORLD-019] UX: Global Search (Cmd+K)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/ProtectedLayout.tsx
  frontend/src/components/GlobalSearch.tsx
  frontend/src/components/ui/command.tsx
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: [WORLD-020] E2E: World Building Smoke Test
  frontend/tests/e2e/world-building.spec.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [CHAR-021] Domain: Character Psychology Model (Big 5)
  src/api/schemas.py
  src/contexts/character/domain/aggregates/character.py
  src/contexts/character/domain/value_objects/__init__.py
  src/contexts/character/domain/value_objects/character_psychology.py
  tests/unit/contexts/character/domain/test_character_psychology.py
Due: validate-test-markers

feat: [CHAR-022] Frontend: Psychology Radar Chart
  frontend/src/features/characters/CharacterDetailsDialog.tsx
  frontend/src/features/characters/components/PsychologyChart.tsx
  frontend/src/types/schemas.ts
  scripts/ralph/prd.json
  src/api/schemas.py
Due: frontend-lint, frontend-type-check

feat: [CHAR-023] Domain: Character Memory System
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/main_api_server.py
  src/api/routers/memories.py
  src/api/schemas.py
  src/contexts/character/domain/aggregates/character.py
  src/contexts/character/domain/value_objects/__init__.py
  src/contexts/character/domain/value_objects/character_memory.py
  tests/unit/contexts/character/domain/test_character_memory.py
Due: validate-test-markers

feat: [CHAR-024] Frontend: Memory Timeline
  frontend/src/features/characters/CharacterDetailsDialog.tsx
  frontend/src/features/characters/components/MemoryTimeline.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/types/schemas.ts
Due: frontend-lint, frontend-type-check

chore: Update PRD and progress for CHAR-024
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [CHAR-025] Domain: Dynamic Relationship Evolution
  scripts/ralph/prd.json
  src/api/routers/relationships.py
  src/api/schemas.py
  src/contexts/world/domain/entities/__init__.py
  src/contexts/world/domain/entities/relationship.py
  tests/unit/contexts/world/domain/test_relationship.py
Due: validate-test-markers

feat: [CHAR-026] Frontend: Relationship Status Bars
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/graph/RelationshipGraph.tsx
  frontend/src/components/graph/RelationshipStatusBars.tsx
  frontend/src/components/graph/index.ts
  frontend/src/mocks/handlers.ts
  frontend/src/shared/components/ui/Progress.tsx
  frontend/src/shared/components/ui/index.ts
  frontend/src/types/schemas.ts
Due: frontend-lint, frontend-type-check

feat: [CHAR-027] AI Voice/Dialogue Generator
  scripts/ralph/prd.json
  src/api/schemas.py
  src/contexts/world/infrastructure/generators/__init__.py
  src/contexts/world/infrastructure/generators/llm_world_generator.py
  src/contexts/world/infrastructure/prompts/dialogue_gen.yaml
  tests/unit/contexts/world/infrastructure/test_dialogue_generation.py
Due: validate-test-markers

feat: [CHAR-028] Frontend Dialogue Tester
  frontend/src/app/router.tsx
  frontend/src/features/characters/components/DialogueTester.tsx
  frontend/src/lib/api/dialogueApi.ts
  frontend/src/lib/api/index.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/CharacterVoicePage.tsx
  frontend/src/types/schemas.ts
  scripts/ralph/prd.json
  src/api/main_api_server.py
  src/api/routers/dialogue.py
Due: frontend-lint, frontend-type-check

feat: [CHAR-029] Domain: Character Arc/Goals
  src/api/main_api_server.py
  src/api/routers/goals.py
  src/api/schemas.py
  src/contexts/character/domain/aggregates/character.py
  src/contexts/character/domain/value_objects/__init__.py
  src/contexts/character/domain/value_objects/character_goal.py
  tests/unit/contexts/character/domain/test_character_goal.py
Due: validate-test-markers

chore: Update PRD and progress for CHAR-029
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [CHAR-030] Frontend Goals Tracker
  frontend/src/features/characters/CharacterDetailsDialog.tsx
  frontend/src/features/characters/components/GoalsList.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/types/schemas.ts
Due: frontend-lint, frontend-type-check

feat: [CHAR-031] Domain: Social Network Analysis
  src/api/main_api_server.py
  src/api/routers/social.py
  src/api/schemas.py
  src/contexts/world/application/services/__init__.py
  src/contexts/world/application/services/social_graph_service.py
  tests/unit/contexts/world/application/__init__.py
  tests/unit/contexts/world/application/test_social_graph_service.py
Due: validate-test-markers

feat: [CHAR-032] Frontend Social Dashboard Widget
  frontend/src/features/dashboard/components/DashboardShell.tsx
  frontend/src/features/dashboard/components/panels/SocialStatsWidget.tsx
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/socialApi.ts
  frontend/src/mocks/handlers.ts
  frontend/src/types/schemas.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: [CHAR-033] AI Relationship Event Generator
  scripts/ralph/.last-branch
  scripts/ralph/archive/2026-02-01-feat/world-deep-dive/prd.json
  scripts/ralph/archive/2026-02-01-feat/world-deep-dive/progress.txt
  scripts/ralph/prd.json
  scripts/ralph/prompt.md
  src/contexts/world/infrastructure/generators/__init__.py
  src/contexts/world/infrastructure/generators/llm_world_generator.py
  src/contexts/world/infrastructure/prompts/relationship_history_gen.yaml
  tests/unit/contexts/world/infrastructure/test_relationship_history_generation.py
Due: validate-test-markers

Path conditions:
  validate-test-markers: any of: ^tests/.*test_.*\.py$
  frontend-lint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  frontend-type-check: any of: ^frontend/src/.*\.(ts|tsx)$
