Repository Jackela/Novel-Engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-test-markers, frontend-lint, frontend-type-check

.pre-commit-config.yaml:

# Pre-commit hooks for Novel Engine
# See https://pre-commit.com for more information

repos:
  # Test marker validation
  - repo: local
    hooks:
      - id: validate-test-markers
        name: Validate test pyramid markers
        entry: python scripts/testing/validate-test-markers.py
        language: system
        files: ^tests/.*test_.*\.py$
        pass_filenames: true
        verbose: true
        description: |
          Ensures all test functions have proper pyramid markers
          (@pytest.mark.unit, @pytest.mark.integration, or @pytest.mark.e2e).

          To bypass temporarily, include [skip-marker-check] in commit message.

  # Frontend quality gates
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend Lint
        entry: npm run lint
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        dir: frontend

      - id: frontend-type-check
        name: Frontend Type Check
        entry: npm run type-check
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false
        dir: frontend

  # Standard Python hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=100]

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  # Linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args:
          - --max-line-length=100
          - --extend-ignore=E203,W503
          - --exclude=.git,__pycache__,.venv,build,dist

  # Type checking (optional - can be slow)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [types-all]
  #       args: [--ignore-missing-imports]

# Configuration
default_language_version:
  python: python3.11

# Skip specific hooks when needed
# To skip marker validation: SKIP=validate-test-markers git commit -m "message"
# Or include [skip-marker-check] in commit message

chore: [BRAIN-017A] - Mark story as passing
  scripts/ralph/prd.json
Due: none

chore: [BRAIN-017A] - Update progress log
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-017B] - Implement Circular Dependency Detection for Extends Chain
  scripts/ralph/progress.txt
  src/contexts/knowledge/domain/models/prompt_template.py
  tests/unit/contexts/knowledge/domain/models/test_prompt_template.py
Due: validate-test-markers

chore: [BRAIN-017B] - Mark story as passing
  scripts/ralph/prd.json
Due: none

chore: [BRAIN-017B] - Update progress log
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-018A] - Implement Prompt A/B Testing Data Model
  src/contexts/knowledge/domain/models/prompt_experiment.py
  tests/unit/contexts/knowledge/domain/models/test_prompt_experiment.py
Due: validate-test-markers

chore: [BRAIN-018A] - Update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-018B] - Implement Prompt A/B Testing - API & Analytics
  src/api/main_api_server.py
  src/api/routers/experiments.py
  src/api/schemas.py
  src/api/services/experiment_router_service.py
  src/contexts/knowledge/application/ports/i_experiment_repository.py
  src/contexts/knowledge/domain/models/__init__.py
  src/contexts/knowledge/infrastructure/adapters/in_memory_experiment_repository.py
  tests/unit/api/routers/test_experiments_router.py
Due: validate-test-markers

chore: [BRAIN-018B] - Update PRD and progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-019A] - Implement Prompt Lab List View
  frontend/src/app/router.tsx
  frontend/src/features/prompts/api/promptApi.ts
  frontend/src/features/prompts/components/PromptsPage.tsx
  frontend/src/features/prompts/index.ts
  frontend/src/pages/BrainPromptsPage.tsx
  frontend/src/types/schemas.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: [BRAIN-019B] - Implement Prompt Lab Editor
  frontend/src/app/router.tsx
  frontend/src/features/prompts/components/PromptEditorPage.tsx
  frontend/src/features/prompts/components/PromptsPage.tsx
  frontend/src/features/prompts/index.ts
  frontend/src/pages/BrainPromptEditorPage.tsx
Due: frontend-lint, frontend-type-check

chore: [BRAIN-019B] - Update PRD and progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-020A] - Implement Prompt Playground UI
  frontend/src/features/prompts/components/PromptEditorPage.tsx
  frontend/src/features/prompts/components/PromptPlaygroundModal.tsx
  frontend/src/features/prompts/index.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: [BRAIN-020B] - Implement Prompt Playground LLM Integration
  frontend/src/features/prompts/api/promptApi.ts
  frontend/src/features/prompts/components/PromptPlaygroundModal.tsx
  frontend/src/types/schemas.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/routers/prompts.py
  src/api/schemas.py
  src/api/services/prompt_router_service.py
Due: frontend-lint, frontend-type-check

feat: [BRAIN-021] - Implement Prompt Comparison View
  frontend/src/features/prompts/api/promptApi.ts
  frontend/src/features/prompts/components/PromptCompareModal.tsx
  frontend/src/features/prompts/components/PromptEditorPage.tsx
  frontend/src/features/prompts/index.ts
  frontend/src/types/schemas.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: [BRAIN-022A] - Implement Prompt Analytics Data Model
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/routers/prompts.py
  src/api/services/prompt_router_service.py
  src/contexts/knowledge/application/ports/i_prompt_usage_repository.py
  src/contexts/knowledge/domain/models/__init__.py
  src/contexts/knowledge/domain/models/prompt_usage.py
  src/contexts/knowledge/infrastructure/adapters/in_memory_prompt_usage_repository.py
  tests/unit/contexts/knowledge/domain/models/test_prompt_usage.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_in_memory_prompt_usage_repository.py
Due: validate-test-markers

feat: [BRAIN-022B] - Implement Prompt Analytics API
  scripts/ralph/prd.json
  src/api/routers/prompts.py
  src/api/schemas.py
  src/api/services/prompt_router_service.py
  tests/unit/api/services/test_prompt_router_service_analytics.py
Due: validate-test-markers

feat: [BRAIN-023] - Implement Model Registry Service
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/knowledge/application/services/__init__.py
  src/contexts/knowledge/application/services/model_registry.py
  src/contexts/knowledge/domain/models/__init__.py
  src/contexts/knowledge/domain/models/model_registry.py
  tests/unit/contexts/knowledge/application/services/test_model_registry.py
Due: validate-test-markers

feat: [BRAIN-024A] - Implement Anthropic Claude LLM Adapter
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/knowledge/infrastructure/adapters/claude_llm_client.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_claude_llm_client.py
Due: validate-test-markers

feat: [BRAIN-024B] - Implement Claude Streaming and Token Counting
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/knowledge/infrastructure/adapters/claude_llm_client.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_claude_llm_client.py
Due: validate-test-markers

feat: [BRAIN-025A, BRAIN-025B] - Enhance Gemini Adapter with Chat History and Models
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/knowledge/infrastructure/adapters/gemini_llm_client.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_gemini_llm_client.py
Due: validate-test-markers

feat: [BRAIN-026A] - Implement OpenAI GPT-4 Turbo/GPT-4o Adapter
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/knowledge/infrastructure/adapters/openai_llm_client.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_openai_llm_client.py
Due: validate-test-markers

feat: [BRAIN-027A/B] - Implement Ollama LLM Adapter
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/knowledge/application/services/__pycache__/__init__.cpython-312.pyc
  src/contexts/knowledge/infrastructure/adapters/ollama_llm_client.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_ollama_llm_client.py
Due: validate-test-markers

feat: [BRAIN-028A] - Implement Model Routing Logic
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/knowledge/application/services/model_router.py
  tests/unit/contexts/knowledge/application/services/test_model_router.py
Due: validate-test-markers

feat: [BRAIN-028B] - Model Routing Configuration
  frontend/src/app/router.tsx
  frontend/src/features/routing/api/routingApi.ts
  frontend/src/features/routing/components/BrainSettingsPage.tsx
  frontend/src/features/routing/index.ts
  frontend/src/pages/BrainSettingsPage.tsx
  src/api/app.py
  src/api/routers/routing.py
  src/api/schemas.py
  src/contexts/knowledge/application/ports/i_routing_config_repository.py
  src/contexts/knowledge/infrastructure/adapters/in_memory_routing_config_repository.py
  tests/unit/contexts/knowledge/domain/models/test_routing_config.py
Due: validate-test-markers, frontend-lint, frontend-type-check

docs: [BRAIN-028B] - Mark story as passing
  scripts/ralph/prd.json
Due: none

docs: [BRAIN-028B] - Add progress log entry
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-029A] - Entity Extraction Service
  src/contexts/knowledge/application/services/__init__.py
  src/contexts/knowledge/application/services/entity_extraction_service.py
  src/contexts/knowledge/domain/models/__init__.py
  src/contexts/knowledge/domain/models/entity.py
  tests/unit/contexts/knowledge/application/services/test_entity_extraction_service.py
Due: validate-test-markers

docs: [BRAIN-028B] - Add progress log entry
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-029B] - Entity Extraction Co-reference Resolution
  src/contexts/knowledge/application/services/__init__.py
  src/contexts/knowledge/application/services/coreference_resolution_service.py
  src/contexts/knowledge/application/services/entity_extraction_service.py
  tests/unit/contexts/knowledge/application/services/test_coreference_resolution_service.py
Due: validate-test-markers

docs: [BRAIN-029B] - Mark story as passing and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-030A] - Relationship Extraction Types
  src/contexts/knowledge/application/services/__pycache__/__init__.cpython-312.pyc
  src/contexts/knowledge/application/services/entity_extraction_service.py
  src/contexts/knowledge/domain/models/entity.py
  tests/unit/contexts/knowledge/application/services/test_entity_extraction_service.py
Due: validate-test-markers

docs: [BRAIN-030A] - Mark story as passing and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-030B] - Relationship Extraction - Advanced
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/knowledge/domain/models/__init__.py
  src/contexts/knowledge/domain/models/entity.py
  tests/unit/contexts/knowledge/application/services/test_entity_extraction_service.py
Due: validate-test-markers

feat: [BRAIN-031A] - Graph Storage - NetworkX
  pyproject.toml
  src/contexts/knowledge/application/ports/i_graph_store.py
  src/contexts/knowledge/infrastructure/adapters/__init__.py
  src/contexts/knowledge/infrastructure/adapters/networkx_graph_store.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_networkx_graph_store.py
Due: validate-test-markers

docs: [BRAIN-031A] - Mark story as passing and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-031B] - Graph Storage - Neo4j & Export
  src/contexts/knowledge/application/ports/i_graph_store.py
  src/contexts/knowledge/infrastructure/adapters/__init__.py
  src/contexts/knowledge/infrastructure/adapters/neo4j_graph_store.py
  src/contexts/knowledge/infrastructure/adapters/networkx_graph_store.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_networkx_graph_store.py
Due: validate-test-markers

docs: [BRAIN-031B] - Mark story as passing and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-032A] - Graph Retrieval - Service
  src/contexts/knowledge/application/services/__init__.py
  src/contexts/knowledge/application/services/graph_retrieval_service.py
  tests/unit/contexts/knowledge/application/services/test_graph_retrieval_service.py
Due: validate-test-markers

docs: [BRAIN-032A] - Mark story as passing and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none
