Repository Jackela/Novel-Engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-test-markers, frontend-lint, frontend-type-check

.pre-commit-config.yaml:

# Pre-commit hooks for Novel Engine
# See https://pre-commit.com for more information

repos:
  # Test marker validation
  - repo: local
    hooks:
      - id: validate-test-markers
        name: Validate test pyramid markers
        entry: python scripts/testing/validate-test-markers.py
        language: system
        files: ^tests/.*test_.*\.py$
        pass_filenames: true
        verbose: true
        description: |
          Ensures all test functions have proper pyramid markers
          (@pytest.mark.unit, @pytest.mark.integration, or @pytest.mark.e2e).

          To bypass temporarily, include [skip-marker-check] in commit message.

  # Frontend quality gates
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend Lint
        entry: npm run lint
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        dir: frontend

      - id: frontend-type-check
        name: Frontend Type Check
        entry: npm run type-check
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false
        dir: frontend

  # Standard Python hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=100]

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  # Linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args:
          - --max-line-length=100
          - --extend-ignore=E203,W503
          - --exclude=.git,__pycache__,.venv,build,dist

  # Type checking (optional - can be slow)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [types-all]
  #       args: [--ignore-missing-imports]

# Configuration
default_language_version:
  python: python3.11

# Skip specific hooks when needed
# To skip marker validation: SKIP=validate-test-markers git commit -m "message"
# Or include [skip-marker-check] in commit message

fix(security): harden logging and path handling
  ops/__init__.py
  src/ai_intelligence/export_integration_engine.py
  src/api/routers/characters.py
  src/api/secure_main_api.py
  src/decision/pause_controller.py
Due: none

chore(frontend): add yaml dev dependency
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(frontend): remove unused imports
  frontend/src/components/common/ErrorState.tsx
  frontend/src/features/dashboard/Dashboard.tsx
  frontend/tests/unit/hooks/useDashboardCharactersDataset.test.tsx
Due: frontend-lint, frontend-type-check

fix(api): tighten character path handling
  src/api/routers/characters.py
  src/decision/pause_controller.py
Due: none

fix(codeql): harden api logging and errors
  contexts/orchestration/api/turn_api.py
  production_api_server.py
  src/api/character_api.py
  src/api/emergent_narrative_api.py
  src/api/interaction_api.py
  src/api/logging_system.py
  src/api/main_api_server.py
  src/api/routers/characters.py
  src/api/routers/events.py
  src/api/routers/guest.py
  src/api/routers/orchestration.py
  src/api/story_generation_api.py
  src/api/subjective_reality_api.py
  src/decision/api_router.py
  src/prompts/optimizer.py
Due: none

fix(codeql): tighten infra and security handling
  contexts/world/infrastructure/projections/world_projector.py
  core_platform/messaging/kafka_client.py
  deploy/staging/deploy.py
  k8s/autoscaling.yaml
  src/bridge/llm_coordinator.py
  src/orchestrators/enhanced_multi_agent_bridge.py
  src/security/security_dashboard.py
  src/security/security_integration.py
  src/security/ssl_config.py
  src/templates/enhanced_docs.html
  tests/integration/test_e2e_turn_orchestration.py
  tests/performance/test_director_optimization.py
Due: validate-test-markers

fix(codeql): sanitize frontend scripts and workers
  frontend/.stylelintrc.cjs
  frontend/public/sw-mobile.js
  frontend/scripts/lint-hex-tsx.mjs
  frontend/scripts/test-cleanup.js
  frontend/tests/e2e/run-uat.ts
  frontend/tests/e2e/utils/TestDataHelpers.ts
  scripts/mcp_chrome_runner.js
  scripts/testing/test-pyramid-monitor-fast.py
  scripts/testing/test-pyramid-monitor.py
Due: none

fix(api): restore guest import cookie
  src/api/routers/guest.py
Due: none

fix(codeql): close remaining security alerts
  frontend/public/sw-mobile.js
  src/api/routers/guest.py
  src/security/security_dashboard.py
  src/security/security_integration.py
Due: none

fix(api): harden guest session cookies
  src/api/routers/guest.py
Due: none

chore: disable dependabot
  .github/dependabot.yml
Due: none

feat: finalize dashboard accessibility parity
  docs/testing/uat/UAT_DAY5_INTEGRATION_REGRESSION_TESTING.md
  frontend/src/features/dashboard/CharacterNetworks.tsx
  frontend/src/features/dashboard/NarrativeTimeline.tsx
  frontend/src/features/dashboard/QuickActions.tsx
  frontend/src/features/dashboard/RealTimeActivity.tsx
  frontend/src/features/dashboard/TurnPipelineStatus.tsx
  frontend/src/features/dashboard/WorldStateMap.tsx
  frontend/src/features/dashboard/__tests__/dashboard-accessibility.test.tsx
  frontend/tests/e2e/accessibility.spec.ts
  openspec/changes/dashboard-accessibility-parity/proposal.md
  openspec/changes/dashboard-accessibility-parity/tasks.md
Due: frontend-lint, frontend-type-check

archive dashboard proposals
  openspec/changes/archive/2025-12-31-condense-dashboard-fold/design.md
  openspec/changes/archive/2025-12-31-condense-dashboard-fold/proposal.md
  openspec/changes/archive/2025-12-31-condense-dashboard-fold/specs/dashboard-layout/spec.md
  openspec/changes/archive/2025-12-31-condense-dashboard-fold/tasks.md
  openspec/changes/archive/2025-12-31-dashboard-accessibility-parity/proposal.md
  openspec/changes/archive/2025-12-31-dashboard-accessibility-parity/specs/dashboard-interactions/spec.md
  openspec/changes/archive/2025-12-31-dashboard-accessibility-parity/tasks.md
  openspec/changes/archive/2025-12-31-dashboard-data-routing-hygiene/proposal.md
  openspec/changes/archive/2025-12-31-dashboard-data-routing-hygiene/specs/dashboard-interactions/spec.md
  openspec/changes/archive/2025-12-31-dashboard-data-routing-hygiene/tasks.md
  openspec/changes/archive/2025-12-31-refine-dashboard-flow-layout/design.md
  openspec/changes/archive/2025-12-31-refine-dashboard-flow-layout/proposal.md
  openspec/changes/archive/2025-12-31-refine-dashboard-flow-layout/specs/dashboard-layout/spec.md
  openspec/changes/archive/2025-12-31-refine-dashboard-flow-layout/specs/devtools-audit/spec.md
  openspec/changes/archive/2025-12-31-refine-dashboard-flow-layout/tasks.md
  openspec/changes/dashboard-accessibility-parity/specs/dashboard-interactions/spec.md
  openspec/changes/dashboard-data-routing-hygiene/specs/dashboard-interactions/spec.md
  openspec/changes/refine-dashboard-flow-layout/specs/dashboard-layout/spec.md
  openspec/specs/dashboard-interactions/spec.md
  openspec/specs/dashboard-layout/spec.md
  openspec/specs/devtools-audit/spec.md
Due: none

align local CI scripts with GA checks
  scripts/validate_ci_locally.ps1
  scripts/validate_ci_locally.sh
Due: none

update docs for local CI parity
  docs/coding-standards.md
  docs/observability/charter.md
Due: none

fix: resolve all 9 failing frontend unit tests to achieve 100% pass rate
  frontend/src/components/Navbar.tsx
  frontend/src/contexts/authContextStore.ts
  frontend/src/contexts/useAuthContext.ts
  frontend/src/features/dashboard/__tests__/dashboard-accessibility.test.tsx
  frontend/src/test/setup.ts
  frontend/tests/unit/components/dashboard/DashboardLayout.test.tsx
  frontend/tests/unit/contexts/AuthContext.guest.test.tsx
Due: frontend-lint, frontend-type-check

fix: update vite config to use comprehensive test setup file
  frontend/vite.config.ts
Due: none

fix: resolve test failures in build-and-test workflow
  frontend/src/test/setup.ts
  frontend/vite.config.ts
Due: frontend-lint, frontend-type-check

fix: remove duplicate useAuthContext export from AuthContext.tsx
  frontend/src/contexts/AuthContext.tsx
Due: frontend-lint, frontend-type-check

fix: restore useAuthContext export in AuthContext.tsx
  frontend/src/contexts/AuthContext.tsx
Due: frontend-lint, frontend-type-check

Fix CI gate failures
  frontend/playwright.config.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/features/dashboard/__tests__/dashboard-accessibility.test.tsx
  frontend/src/services/queries.ts
  frontend/tests/unit/components/dashboard/DashboardLayout.test.tsx
Due: frontend-lint, frontend-type-check

Fix CI auth context usage
  frontend/src/contexts/AuthContext.tsx
  frontend/tests/unit/components/dashboard/DashboardLayout.test.tsx
  frontend/vite.config.ts
Due: frontend-lint, frontend-type-check

Allow Playwright port override for local CI
  frontend/package.json
  frontend/playwright.config.ts
  frontend/vite.config.ts
  scripts/validate_ci_locally.ps1
Due: none

Use lib apiClient directly
  frontend/src/services/api.ts
Due: frontend-lint, frontend-type-check

Refactor service API imports
  frontend/src/services/api/apiClient.ts
  frontend/src/services/api/authAPI.ts
  frontend/src/services/api/charactersAPI.ts
  frontend/src/services/api/dashboardAPI.ts
  frontend/src/services/api/decisionAPI.ts
  frontend/src/services/api/guestAPI.ts
  frontend/src/services/api/index.ts
Due: frontend-lint, frontend-type-check

Fix api_server router logging for APIRouter
  api_server.py
Due: none

fix(ci): remove reference to deleted test_enhanced_bridge.py file
  .github/workflows/ci.yml
Due: none

feat(weaver): optimize state selectors and add E2E visual tests
  frontend/src/features/weaver/store/weaverStore.ts
Due: frontend-lint, frontend-type-check

fix(weaver): align orchestration payload schema
  frontend/src/features/weaver/store/weaverStore.ts
  frontend/src/shared/types/orchestration.ts
Due: frontend-lint, frontend-type-check

feat(frontend): enforce strict contract-first architecture via zod, react-hook-form and shadcn
  frontend/src/features/characters/CharacterCreationDialog.test.tsx
  frontend/src/features/characters/CharacterCreationDialog.tsx
  frontend/src/features/characters/CharacterDetailsDialog.tsx
  frontend/src/features/characters/CharactersPage.tsx
  frontend/src/features/characters/api/characterApi.ts
  frontend/src/features/characters/components/CharacterCard.tsx
  frontend/src/features/characters/components/CharacterForm.tsx
  frontend/src/features/characters/components/CharacterGrid.tsx
  frontend/src/features/characters/index.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/shared/types/character.ts
  frontend/src/types/index.ts
  frontend/src/types/schemas.ts
Due: frontend-lint, frontend-type-check

chore: add READY_FOR_PR audit
  READY_FOR_PR.md
Due: none

fix(frontend): bridge shadcn utils import
  frontend/src/lib/utils.ts
Due: frontend-lint, frontend-type-check

chore: align auth contracts and remove legacy types
  READY_FOR_PR.md
  frontend/src/features/auth/stores/authStore.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/types/accessibility.ts
  frontend/src/types/auth.ts
  frontend/src/types/campaign.ts
  frontend/src/types/dto.ts
  frontend/src/types/errors.ts
  frontend/src/types/index.ts
  frontend/src/types/logging.ts
  frontend/src/types/schemas.ts
  src/api/schemas.py
Due: frontend-lint, frontend-type-check
