Repository Jackela/Novel-Engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-test-markers, frontend-lint, frontend-type-check

.pre-commit-config.yaml:

# Pre-commit hooks for Novel Engine
# See https://pre-commit.com for more information

repos:
  # Test marker validation
  - repo: local
    hooks:
      - id: validate-test-markers
        name: Validate test pyramid markers
        entry: python scripts/testing/validate-test-markers.py
        language: system
        files: ^tests/.*test_.*\.py$
        pass_filenames: true
        verbose: true
        description: |
          Ensures all test functions have proper pyramid markers
          (@pytest.mark.unit, @pytest.mark.integration, or @pytest.mark.e2e).

          To bypass temporarily, include [skip-marker-check] in commit message.

  # Frontend quality gates
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend Lint
        entry: npm run lint
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        dir: frontend

      - id: frontend-type-check
        name: Frontend Type Check
        entry: npm run type-check
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false
        dir: frontend

  # Standard Python hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=100]

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  # Linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args:
          - --max-line-length=100
          - --extend-ignore=E203,W503
          - --exclude=.git,__pycache__,.venv,build,dist

  # Type checking (optional - can be slow)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [types-all]
  #       args: [--ignore-missing-imports]

# Configuration
default_language_version:
  python: python3.11

# Skip specific hooks when needed
# To skip marker validation: SKIP=validate-test-markers git commit -m "message"
# Or include [skip-marker-check] in commit message

docs: [BRAIN-039A-02] Mark story as complete and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-039A-03] Sentence and Paragraph Chunking Strategies
  src/contexts/knowledge/infrastructure/adapters/__init__.py
  src/contexts/knowledge/infrastructure/adapters/chunking_strategy_adapters.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_chunking_strategy_adapters.py
Due: validate-test-markers

docs: [BRAIN-039A-03] Mark story as complete and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-039A-04] Semantic Chunking Strategy
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/knowledge/infrastructure/adapters/__init__.py
  src/contexts/knowledge/infrastructure/adapters/chunking_strategy_adapters.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_chunking_strategy_adapters.py
Due: validate-test-markers

feat: [BRAIN-039A-05] Chunking: Auto-detection Strategy
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/knowledge/domain/models/chunking_strategy.py
  src/contexts/knowledge/infrastructure/adapters/__init__.py
  src/contexts/knowledge/infrastructure/adapters/chunking_strategy_adapters.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_chunking_strategy_adapters.py
Due: validate-test-markers

feat: [BRAIN-039B-01] Chunking: Narrative Flow
  src/contexts/knowledge/domain/models/chunking_strategy.py
  src/contexts/knowledge/infrastructure/adapters/chunking_strategy_adapters.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_chunking_strategy_adapters.py
Due: validate-test-markers

docs: [BRAIN-039B-01] Mark story complete and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-039B-02] Chunking: Configurable Overlap
  src/contexts/knowledge/domain/models/chunking_strategy.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_chunking_strategy_adapters.py
Due: validate-test-markers

docs: [BRAIN-039B-02] Mark story complete and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-039B-03] Chunking: Coherence Verification
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/knowledge/infrastructure/adapters/__init__.py
  src/contexts/knowledge/infrastructure/adapters/chunking_strategy_adapters.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_chunking_strategy_adapters.py
Due: validate-test-markers

feat: [BRAIN-040A-01] E2E Test File Setup
  frontend/tests/e2e/brain-rag.spec.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [BRAIN-040A-02] E2E Lore Entry Creation Test Fixes
  frontend/tests/e2e/brain-rag.spec.ts
Due: none

docs: [BRAIN-040A-02] Mark story complete and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

docs: [BRAIN-040A-03/040B] Mark remaining E2E stories complete
  scripts/ralph/prd.json
Due: none

fix: Resolve typecheck errors in SmartTagsEditor and PromptsPage
  frontend/src/components/narrative/SmartTagsEditor.tsx
  frontend/src/features/prompts/components/PromptsPage.tsx
Due: frontend-lint, frontend-type-check

feat: [OPT-001] Backend: Ingestion Processor Abstraction
  src/contexts/knowledge/application/ports/i_ingestion_processor.py
  src/contexts/knowledge/application/services/ingestion_processor_factory.py
  src/contexts/knowledge/application/services/ingestion_processors.py
  src/contexts/knowledge/application/services/knowledge_ingestion_service.py
  tests/unit/contexts/knowledge/application/services/test_ingestion_processors.py
Due: validate-test-markers

docs: [OPT-001] Mark story complete and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [OPT-002] Backend: Embedding Cache Layer
  src/contexts/knowledge/application/services/__init__.py
  src/contexts/knowledge/application/services/embedding_cache_service.py
  src/contexts/knowledge/infrastructure/adapters/__init__.py
  src/contexts/knowledge/infrastructure/adapters/cached_embedding_service.py
  src/contexts/knowledge/infrastructure/adapters/embedding_generator_adapter.py
  tests/unit/contexts/knowledge/application/__init__.py
  tests/unit/contexts/knowledge/application/services/__init__.py
  tests/unit/contexts/knowledge/application/services/test_embedding_cache_service.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_cached_embedding_service.py
Due: validate-test-markers

docs: [OPT-002] Mark story complete and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [OPT-003] - AI: RAG Re-ranking Integration
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/knowledge/application/services/retrieval_service.py
  tests/unit/contexts/knowledge/application/services/test_retrieval_service.py
Due: validate-test-markers

feat: [OPT-004] - Frontend: Chat Virtualization
  frontend/src/components/ChatInterface.tsx
Due: frontend-lint, frontend-type-check

docs: [OPT-004] Mark story complete and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [OPT-005] - Backend: Async Ingestion Job API
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/routers/brain_settings.py
  src/api/schemas.py
  tests/unit/api/routers/test_brain_ingestion_jobs.py
Due: validate-test-markers

feat: [OPT-006] - Domain: Structured Metadata Schema
  scripts/migrations/backfill_knowledge_metadata.py
  src/api/schemas.py
  src/contexts/knowledge/domain/models/__init__.py
  src/contexts/knowledge/domain/models/knowledge_metadata.py
  src/contexts/knowledge/domain/models/source_knowledge_entry.py
  tests/unit/contexts/knowledge/domain/models/test_knowledge_metadata.py
  tests/unit/contexts/knowledge/domain/models/test_source_knowledge_entry.py
Due: validate-test-markers

docs: [OPT-006] Mark story complete and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [OPT-007] - Test: Golden Dataset Evaluation Harness
  scripts/evaluation/__init__.py
  scripts/evaluation/run_golden_dataset.py
  tests/evaluation/__init__.py
  tests/evaluation/golden_dataset.json
  tests/evaluation/test_golden_dataset.py
Due: validate-test-markers

docs: [OPT-007] Mark story complete and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [OPT-008] - UX: Markdown + Code Highlighting in Chat
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ChatInterface.tsx
  frontend/src/components/ui/markdown.tsx
Due: frontend-lint, frontend-type-check

docs: [OPT-008] Mark story complete and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [OPT-009] - Backend: Context Window Manager
  src/api/routers/brain_settings.py
  src/contexts/knowledge/application/services/__init__.py
  src/contexts/knowledge/application/services/context_window_manager.py
  tests/unit/contexts/knowledge/application/services/test_context_window_manager.py
Due: validate-test-markers

docs: [OPT-009] Mark story complete and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

fix: [OPT-010] - Fix mypy type errors in application services
  src/contexts/knowledge/application/services/__pycache__/__init__.cpython-312.pyc
  src/contexts/knowledge/application/services/__pycache__/knowledge_ingestion_service.cpython-312.pyc
  src/contexts/knowledge/application/services/query_aware_retrieval_service.py
  src/contexts/knowledge/application/services/token_counter.py
  tests/unit/contexts/knowledge/application/services/__pycache__/test_knowledge_ingestion_service.cpython-312-pytest-8.4.2.pyc
Due: none

docs: [OPT-010] Mark story complete and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: [OPT-011] - Frontend: Optimistic Updates for Smart Tags
  frontend/src/components/narrative/SmartTagsEditor.tsx
  frontend/src/features/routing/api/smartTagsHooks.tsx
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: frontend-lint, frontend-type-check

feat: [OPT-012] - Local Model Prompt Strategy
  src/contexts/knowledge/application/services/__init__.py
  src/contexts/knowledge/application/services/model_registry.py
  src/contexts/knowledge/application/services/prompt_formatter.py
  src/contexts/knowledge/domain/models/model_registry.py
  tests/unit/contexts/knowledge/application/services/test_prompt_formatter.py
Due: validate-test-markers

docs: [OPT-012] Mark story complete and update progress log
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

docs: [OPT-013] - Add RAG Pipeline Architecture Diagram
  README.en.md
  README.md
  docs/architecture/rag_pipeline.mermaid
  docs/index.md
Due: none

docs: [OPT-013] Mark story complete in PRD
  scripts/ralph/prd.json
Due: none

docs: [OPT-013] Update progress log
  scripts/ralph/progress.txt
Due: none

feat: [OPT-014] - API Key Storage Hardening
  README.md
  SECURITY.md
  config/env/.env.example
  src/api/routers/brain_settings.py
  tests/unit/api/__init__.py
  tests/unit/api/routers/__init__.py
  tests/unit/api/routers/test_brain_settings_security.py
Due: validate-test-markers
