Repository Jackela/Novel-Engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-test-markers, frontend-lint, frontend-type-check

validate-test-markers:
  name: Validate test pyramid markers
  entry: python scripts/testing/validate-test-markers.py
  language: system
  pass_filenames: true
  verbose: true
  description: 'Ensures all test functions have proper pyramid markers
  
    (@pytest.mark.unit, @pytest.mark.integration, or @pytest.mark.e2e).
  
  
  ...

frontend-lint:
  name: Frontend Lint
  entry: npm run lint
  language: system
  pass_filenames: false
  dir: frontend

frontend-type-check:
  name: Frontend Type Check
  entry: npm run type-check
  language: system
  pass_filenames: false
  dir: frontend

ci: upgrade actions/cache to v5 for Node.js 24
  .github/workflows/ci.yml
Due: none

ci: align CodeQL language matrix with main branch config
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

ci: run all historical CodeQL languages to clear stale configurations
  .github/workflows/codeql.yml
Due: none

ci: revert CodeQL matrix to base branch configuration
  .github/workflows/codeql.yml
Due: none

ci: revert codeql-config.yml to base branch state for config matching test
  .github/codeql/codeql-config.yml
Due: none

ci: clean up CodeQL config paths and remove stale entries
  .github/codeql/codeql-config.yml
Due: none

ci: add cache-suffix to setup-uv to avoid cross-workflow cache contention
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

tooling: add AI guardrails, local safety checks, and CI mypy tests
  .ai-guard
  .cursorrules
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .secrets.baseline
  AUDIT_REPORT_Linus.md
  justfile
  scripts/ai/regression_check.py
Due: none

tooling: add AI guardrails and local safety checks (#199)
  .ai-guard
  .cursorrules
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .secrets.baseline
  AUDIT_REPORT_Linus.md
  justfile
  scripts/ai/regression_check.py
Due: none

chore: release v0.3.1
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/api/openapi.current.json
  openspec/specs/novel-studio/spec.md
  pyproject.toml
  scripts/qa/check_ssot.py
  src/shared/infrastructure/config/settings.py
  src/shared/infrastructure/logging/config.py
  tests/unit/infrastructure/config/test_settings.py
  uv.lock
Due: validate-test-markers

chore(deps): update uv.lock for fastapi bump
  uv.lock
Due: none

chore(deps): update uv.lock for structlog bump
  uv.lock
Due: none

chore(deps): update uv.lock for ruff bump
  uv.lock
Due: none

chore(deps): combine frontend major version bumps (react 19, react-router-dom 7, typescript 6, lucide-react 1)
  frontend/package.json
Due: none

chore(deps): align frontend lockfile and types for react 19 / react-router-dom 7 / typescript 6
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  pnpm-lock.yaml
Due: frontend-lint, frontend-type-check

chore(deps): combine frontend major version bumps
  frontend/package.json
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  pnpm-lock.yaml
Due: frontend-lint, frontend-type-check

fix(studio): complete UoW, token usage, and test remediation
  .importlinter
  AGENTS.md
  frontend/src/app/api.ts
  frontend/src/app/types/studio.ts
  frontend/src/features/studio/MarkdownEditor.tsx
  frontend/src/features/studio/StudioInspector.tsx
  frontend/src/features/studio/StudioPage.tsx
  frontend/src/features/studio/components/StudioSettingsPanel.test.tsx
  frontend/src/features/studio/components/StudioSettingsPanel.tsx
  frontend/src/features/studio/hooks/useDocumentDraft.ts
  frontend/src/features/studio/hooks/useStudioProviders.test.tsx
  frontend/src/features/studio/hooks/useStudioProviders.ts
  frontend/src/features/studio/studioConstants.ts
  src/contexts/ai/application/ports/text_generation_port.py
  src/contexts/ai/infrastructure/providers/dashscope_text_generation_provider.py
  src/contexts/ai/infrastructure/providers/openai_compatible_text_generation_provider.py
  src/contexts/studio/application/service_common.py
  src/contexts/studio/application/services/ai_service.py
  src/contexts/studio/application/services/job_service.py
  src/contexts/studio/application/services/revision_service.py
  src/contexts/studio/domain/principal.py
  src/contexts/studio/domain/utils.py
  src/contexts/studio/infrastructure/database.py
  src/contexts/studio/infrastructure/models.py
  src/contexts/studio/infrastructure/repository/auth.py
  src/contexts/studio/infrastructure/repository/base.py
  src/contexts/studio/infrastructure/repository/common.py
  src/contexts/studio/infrastructure/repository/document.py
  src/contexts/studio/infrastructure/repository/project.py
  src/contexts/studio/interface/http/router.py
  tests/contexts/ai/infrastructure/test_text_generation_providers.py
  tests/contexts/studio/test_services.py
  tests/e2e/test_studio_workflow.py
  tests/fakes/__init__.py
  tests/fakes/fake_studio_repository.py
  tests/unit/contexts/studio/application/__init__.py
  tests/unit/contexts/studio/application/conftest.py
  tests/unit/contexts/studio/application/test_ai_service.py
  tests/unit/contexts/studio/application/test_document_service.py
  tests/unit/contexts/studio/application/test_project_service.py
Due: validate-test-markers, frontend-lint, frontend-type-check

tooling: enforce source file size budgets
  .github/workflows/ci.yml
  README.md
  scripts/qa/check_file_sizes.py
Due: none

chore: align Python quality configuration
  pyproject.toml
Due: none

chore: remove empty shared application layer
  .importlinter
  src/shared/application/__init__.py
Due: none

fix(studio): write export artifacts atomically
  src/contexts/studio/application/services/export_service.py
Due: none

refactor(studio): extract inspector state hook
  frontend/src/features/studio/StudioPage.tsx
  frontend/src/features/studio/hooks/useStudioInspectorState.test.tsx
  frontend/src/features/studio/hooks/useStudioInspectorState.ts
Due: frontend-lint, frontend-type-check

fix(studio): preserve revision error messages
  frontend/src/features/studio/hooks/useDocumentDraft.test.tsx
  frontend/src/features/studio/hooks/useDocumentDraft.ts
Due: frontend-lint, frontend-type-check

test(studio): expand hook coverage
  frontend/src/features/studio/hooks/useActiveDocument.test.tsx
  frontend/src/features/studio/hooks/useExportDownload.test.tsx
  frontend/src/features/studio/hooks/useStudioActions.test.tsx
  frontend/src/features/studio/hooks/useStudioProject.test.tsx
  frontend/src/features/studio/hooks/useStudioProposal.test.tsx
  frontend/src/features/studio/hooks/useStudioSearchJobs.test.tsx
Due: frontend-lint, frontend-type-check

docs: reconcile audit remediation status
  .gitignore
  AUDIT_REPORT.md
Due: none

fix(api): pin Swagger UI assets with SRI
  src/apps/api/main.py
  src/apps/api/swagger_ui.py
  tests/apps/api/test_studio.py
Due: validate-test-markers

refactor(studio): inject runtime store dependencies
  scripts/qa/check_file_sizes.py
  src/apps/api/health.py
  src/apps/api/main.py
  src/apps/api/runtime.py
  src/apps/cli/novel_engine.py
  src/contexts/studio/application/services/__init__.py
  src/contexts/studio/application/services/facade.py
  src/contexts/studio/application/services/facade_auth_project.py
  src/contexts/studio/application/services/facade_base.py
  src/contexts/studio/application/services/facade_document.py
  src/contexts/studio/application/services/facade_workflow.py
  src/contexts/studio/interface/http/dependencies.py
  src/contexts/studio/interface/http/errors.py
  src/contexts/studio/interface/http/project_router.py
  src/contexts/studio/interface/http/router.py
  src/contexts/studio/interface/http/schemas.py
  src/contexts/studio/interface/http/session_router.py
  src/contexts/studio/interface/http/workflow_router.py
  tests/apps/api/test_studio.py
  tests/conftest.py
  tests/contexts/studio/interface/http/test_router.py
  tests/contexts/studio/test_ai_sanitization.py
  tests/contexts/studio/test_services.py
Due: validate-test-markers

docs: complete audit remediation status
  AGENTS.md
  AUDIT_REPORT.md
Due: none

tooling: reconcile audit guardrails
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
  README.md
  frontend/AGENTS.md
  pyproject.toml
  scripts/__init__.py
  scripts/ai/regression_check.py
  scripts/qa/__init__.py
  scripts/qa/check_file_sizes.py
  scripts/qa/check_repo_hygiene.py
  scripts/qa/check_ssot.py
  src/contexts/ai/infrastructure/providers/dashscope_text_generation_provider.py
  src/contexts/ai/infrastructure/providers/deterministic_text_generation_provider.py
  src/contexts/studio/AGENTS.md
  src/contexts/studio/application/service_common.py
  src/contexts/studio/application/services/ai_service.py
  src/contexts/studio/application/services/auth_service.py
  src/contexts/studio/application/services/document_service.py
  src/contexts/studio/application/services/import_service.py
  src/contexts/studio/application/services/job_service.py
  src/contexts/studio/application/services/project_service.py
  src/contexts/studio/infrastructure/exporters/epub_exporter.py
  src/contexts/studio/infrastructure/models.py
  src/contexts/studio/infrastructure/repository/common.py
  src/contexts/studio/infrastructure/repository/document.py
  src/contexts/studio/infrastructure/repository/job.py
  src/contexts/studio/infrastructure/repository/project.py
  src/contexts/studio/infrastructure/repository/snapshot.py
  src/shared/infrastructure/config/settings.py
  tests/contexts/ai/infrastructure/test_provider_factory.py
  tests/contexts/ai/infrastructure/test_text_generation_providers.py
  tests/contract/test_text_generation_provider_contract.py
  tests/e2e/test_studio_workflow.py
  tests/fakes/fake_studio_repository.py
  tests/unit/contexts/studio/application/test_ai_service.py
  tests/unit/infrastructure/config/test_settings.py
  tests/unit/scripts/qa/test_check_file_sizes.py
Due: validate-test-markers

chore(deps-dev): sync ruff lockfile
  uv.lock
Due: none

chore(deps): sync fastapi lockfile
  uv.lock
Due: none

Path conditions:
  validate-test-markers: any of: ^tests/.*test_.*\.py$
  frontend-lint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  frontend-type-check: any of: ^frontend/src/.*\.(ts|tsx)$
