Repository Jackela/Novel-Engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-test-markers, frontend-lint, frontend-type-check

.pre-commit-config.yaml:

# Pre-commit hooks for Novel Engine
# See https://pre-commit.com for more information

repos:
  # Test marker validation
  - repo: local
    hooks:
      - id: validate-test-markers
        name: Validate test pyramid markers
        entry: python scripts/testing/validate-test-markers.py
        language: system
        files: ^tests/.*test_.*\.py$
        pass_filenames: true
        verbose: true
        description: |
          Ensures all test functions have proper pyramid markers
          (@pytest.mark.unit, @pytest.mark.integration, or @pytest.mark.e2e).

          To bypass temporarily, include [skip-marker-check] in commit message.

  # Frontend quality gates
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend Lint
        entry: npm run lint
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        dir: frontend

      - id: frontend-type-check
        name: Frontend Type Check
        entry: npm run type-check
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false
        dir: frontend

  # Standard Python hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=100]

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  # Linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args:
          - --max-line-length=100
          - --extend-ignore=E203,W503
          - --exclude=.git,__pycache__,.venv,build,dist

  # Type checking (optional - can be slow)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [types-all]
  #       args: [--ignore-missing-imports]

# Configuration
default_language_version:
  python: python3.11

# Skip specific hooks when needed
# To skip marker validation: SKIP=validate-test-markers git commit -m "message"
# Or include [skip-marker-check] in commit message

chore: keep codeql node runtime on 20
  .github/workflows/codeql.yml
Due: none

chore: clean up dependabot hygiene
  .github/dependabot.yml
  README.md
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: harden quality gates and live smokes
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .importlinter
  README.md
  docs/security/codeql-alerts.md
  frontend/package.json
  frontend/scripts/run-playwright.mjs
  frontend/scripts/start-e2e-stack.mjs
  pyproject.toml
  src/apps/api/dependencies.py
  src/apps/api/main.py
  src/contexts/knowledge/infrastructure/services/openai_embedding_service.py
  src/contexts/knowledge/infrastructure/vectorStores/chroma_vector_store.py
  src/contexts/narrative/infrastructure/runtime.py
  src/shared/infrastructure/auth/jwt_utils.py
  src/shared/infrastructure/config/settings.py
  src/shared/infrastructure/persistence/pool_manager.py
  tests/conftest.py
  tests/contexts/knowledge/infrastructure/vectorStores/test_chroma_vector_store_live.py
  tests/contexts/narrative/application/test_story_workflow_service.py
  tests/contexts/narrative/infrastructure/repositories/test_postgres_chapter_repository.py
  tests/contexts/narrative/infrastructure/repositories/test_postgres_scene_repository.py
  tests/contexts/narrative/infrastructure/repositories/test_postgres_story_repository.py
  tests/shared/infrastructure/honcho/test_honcho_live_smoke.py
  tests/text_generation_contract_support.py
Due: validate-test-markers

fix: promote guest sessions to user workspaces on login
  frontend/tests/e2e/frontend-smoke.spec.ts
  src/contexts/identity/interface/http/auth_router.py
  tests/apps/api/test_auth.py
Due: validate-test-markers

fix: harden longform dashscope workflow
  scripts/uat/run_dashscope_longform_uat.py
  src/contexts/ai/infrastructure/providers/dashscope_text_generation_provider.py
  src/contexts/narrative/application/services/chapter_drafting_service.py
  src/contexts/narrative/application/services/semantic_review_service.py
  src/contexts/narrative/application/services/story_planning_service.py
  src/contexts/narrative/application/services/story_revision_service.py
  src/contexts/narrative/application/services/story_workflow_service.py
  src/contexts/narrative/application/services/story_workflow_support.py
  tests/contexts/ai/infrastructure/test_provider_factory.py
  tests/contexts/narrative/application/test_story_workflow_service.py
  tests/scripts/test_run_dashscope_longform_uat.py
Due: validate-test-markers

feat: redesign author shell and harden uat
  .github/pull_request_template.md
  .github/workflows/manual-longform-uat.yml
  README.md
  frontend/playwright.config.ts
  frontend/src/app/AppLayout.tsx
  frontend/src/features/auth/LandingPage.tsx
  frontend/src/features/auth/LoginPage.tsx
  frontend/src/features/story/StoryWorkbenchPage.test.tsx
  frontend/src/features/story/StoryWorkbenchPage.tsx
  frontend/src/shared/styles/global.css
  frontend/tests/e2e/frontend-smoke.spec.ts
  scripts/uat/__init__.py
  scripts/uat/run_dashscope_longform_uat.py
  src/apps/api/routes/guest.py
  tests/apps/api/test_auth.py
  tests/scripts/test_run_dashscope_longform_uat.py
Due: validate-test-markers, frontend-lint, frontend-type-check

fix: improve auth error handling for user flows
  frontend/src/app/api.test.ts
  frontend/src/app/api.ts
  frontend/tests/e2e/frontend-smoke.spec.ts
  src/contexts/identity/interface/http/error_handlers.py
  tests/apps/api/test_auth.py
Due: validate-test-markers, frontend-lint, frontend-type-check

feat: harden ci and terminal arc flow
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/dashscope-longform-gate.yml
  .github/workflows/manual-longform-uat.yml
  README.md
  frontend/src/app/api.ts
  frontend/src/app/config.ts
  frontend/src/app/types.ts
  frontend/src/features/auth/AuthProvider.test.tsx
  frontend/src/features/auth/AuthProvider.tsx
  frontend/src/features/auth/LandingPage.tsx
  frontend/src/features/auth/LoginPage.tsx
  frontend/src/features/story/StoryWorkbenchPage.test.tsx
  frontend/src/features/story/StoryWorkbenchPage.tsx
  frontend/src/features/story/useStoryWorkbench.ts
  frontend/src/shared/storage.ts
  frontend/tests/e2e/frontend-smoke.spec.ts
  scripts/uat/run_dashscope_longform_uat.py
  src/apps/api/routes/guest.py
  src/apps/api/routes/story.py
  src/contexts/ai/infrastructure/providers/dashscope_text_generation_provider.py
  src/contexts/ai/infrastructure/providers/deterministic_text_generation_provider.py
  src/contexts/identity/interface/http/auth_router.py
  src/contexts/narrative/application/services/chapter_drafting_service.py
  src/contexts/narrative/application/services/hybrid_publication_gate.py
  src/contexts/narrative/application/services/semantic_review_service.py
  src/contexts/narrative/application/services/story_publication_service.py
  src/contexts/narrative/application/services/story_revision_service.py
  src/contexts/narrative/application/services/story_workflow_service.py
  src/contexts/narrative/application/services/story_workflow_support.py
  src/contexts/narrative/interface/http/error_handlers.py
  tests/apps/api/test_main.py
  tests/apps/api/test_story_routes.py
  tests/contexts/ai/infrastructure/test_provider_factory.py
  tests/contexts/narrative/application/test_semantic_review_judge_contract.py
  tests/contexts/narrative/application/test_story_regression_corpus.py
  tests/contexts/narrative/application/test_story_workflow_service.py
  tests/scripts/test_run_dashscope_longform_uat.py
Due: validate-test-markers, frontend-lint, frontend-type-check

fix: clarify current pipeline publish behavior
  frontend/src/features/story/StoryWorkbenchPage.tsx
Due: frontend-lint, frontend-type-check

fix: make ci workflow secret-gated via env
  .github/workflows/ci.yml
Due: none

fix: make ci optional smoke jobs skip without secrets
  .github/workflows/ci.yml
Due: none

fix: remove narrative package re-export cycles
  src/contexts/narrative/application/services/__init__.py
  src/contexts/narrative/infrastructure/repositories/__init__.py
Due: none

fix: serialize narrative postgres json payloads
  src/contexts/narrative/infrastructure/repositories/postgres_chapter_repository.py
  src/contexts/narrative/infrastructure/repositories/postgres_json.py
  src/contexts/narrative/infrastructure/repositories/postgres_scene_repository.py
  src/contexts/narrative/infrastructure/repositories/postgres_story_repository.py
Due: none

fix: update chroma ci heartbeat probe
  .github/workflows/ci.yml
Due: none

fix: stabilize dashscope judge contract
  tests/contexts/narrative/application/test_semantic_review_judge_contract.py
Due: validate-test-markers

fix: tighten terminal arc closure semantics
  src/contexts/narrative/application/services/story_revision_service.py
  tests/contexts/narrative/application/test_story_workflow_service.py
Due: validate-test-markers

fix: tighten terminal arc closure cues
  src/contexts/narrative/application/services/story_revision_service.py
  tests/contexts/narrative/application/test_story_workflow_service.py
Due: validate-test-markers

fix: clarify terminal arc handoff cues
  src/contexts/narrative/application/services/story_revision_service.py
  tests/contexts/narrative/application/test_story_workflow_service.py
Due: validate-test-markers

fix: harden terminal arc witness handling
  src/contexts/narrative/application/services/story_revision_service.py
  tests/contexts/narrative/application/test_story_workflow_service.py
Due: validate-test-markers

fix: remove terminal arc template placeholders
  src/contexts/narrative/application/services/story_revision_service.py
  tests/contexts/narrative/application/test_story_workflow_service.py
Due: validate-test-markers

fix: eliminate terminal arc witness duplication
  src/contexts/narrative/application/services/story_revision_service.py
  tests/contexts/narrative/application/test_story_workflow_service.py
Due: validate-test-markers

fix: harden late-arc witness selection
  frontend/tests/e2e/frontend-smoke.spec.ts
  src/contexts/narrative/application/services/story_revision_service.py
  tests/contexts/narrative/application/test_story_workflow_service.py
Due: validate-test-markers

fix: align terminal arc summaries with event language
  src/contexts/narrative/application/services/story_revision_service.py
  tests/contexts/narrative/application/test_story_workflow_service.py
Due: validate-test-markers

fix: harden terminal arc role selection
  src/contexts/narrative/application/services/chapter_drafting_service.py
  src/contexts/narrative/application/services/story_revision_service.py
  tests/contexts/narrative/application/test_story_workflow_service.py
Due: validate-test-markers

fix: keep named late-arc witnesses distinct
  src/contexts/narrative/application/services/chapter_drafting_service.py
  src/contexts/narrative/application/services/story_revision_service.py
  tests/contexts/narrative/application/test_story_workflow_service.py
Due: validate-test-markers

Harden terminal arc role semantics and dedupe closure witnesses
  src/contexts/narrative/application/services/story_revision_service.py
  tests/contexts/narrative/application/test_story_workflow_service.py
Due: validate-test-markers

Tighten aftermath pacing and memorial vessel semantics
  src/contexts/narrative/application/services/story_revision_service.py
  tests/contexts/narrative/application/test_story_workflow_service.py
Due: validate-test-markers

Backfill terminal actor slots to prevent unnamed late-arc prose
  src/contexts/narrative/application/services/story_revision_service.py
Due: none

refactor terminal-arc repair and remove external API calls from PR CI
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/dashscope-longform-gate.yml
  src/contexts/narrative/application/services/chapter_drafting_service.py
  src/contexts/narrative/application/services/story_revision_service.py
  tests/contexts/narrative/application/test_story_workflow_service.py
Due: validate-test-markers

ci: stop duplicate branch runs on codex feature pushes
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

chore: migrate repo tooling and CI to uv
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dashscope-longform-gate.yml
  .github/workflows/manual-longform-uat.yml
  .gitignore
  README.md
  uv.lock
Due: none

feat(frontend): adopt shadcn studio routes and auth surface
  frontend/components.json
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/app/AppLayout.tsx
  frontend/src/app/router.tsx
  frontend/src/components/Button.tsx
  frontend/src/components/Panel.tsx
  frontend/src/components/StatusPill.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/features/auth/LandingPage.tsx
  frontend/src/features/auth/LoginPage.tsx
  frontend/src/features/story/StoryWorkbenchPage.test.tsx
  frontend/src/features/story/StoryWorkbenchPage.tsx
  frontend/src/index.css
  frontend/src/lib/utils.ts
  frontend/src/main.tsx
  frontend/tailwind.config.js
  frontend/tests/e2e/frontend-smoke.spec.ts
Due: frontend-lint, frontend-type-check

pin setup-uv action
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dashscope-longform-gate.yml
  .github/workflows/manual-longform-uat.yml
Due: none

run e2e backend through uv
  frontend/scripts/start-e2e-stack.mjs
Due: none

stabilize codeql categories
  .github/workflows/codeql.yml
Due: none

bridge codeql baseline categories
  .github/workflows/codeql.yml
Due: none
