Repository Jackela/Novel-Engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-test-markers, frontend-lint, frontend-type-check

validate-test-markers:
  name: Validate test pyramid markers
  entry: python scripts/testing/validate-test-markers.py
  language: system
  pass_filenames: true
  verbose: true
  description: 'Ensures all test functions have proper pyramid markers
  
    (@pytest.mark.unit, @pytest.mark.integration, or @pytest.mark.e2e).
  
  
  ...

frontend-lint:
  name: Frontend Lint
  entry: npm run lint
  language: system
  pass_filenames: false
  dir: frontend

frontend-type-check:
  name: Frontend Type Check
  entry: npm run type-check
  language: system
  pass_filenames: false
  dir: frontend

chore(deps): sync frontend maintenance lockfile
  pnpm-lock.yaml
Due: none

chore(deps-dev): sync node types lockfile
  pnpm-lock.yaml
Due: none

chore(deps-dev): sync react hooks lint update
  frontend/eslint.config.js
  pnpm-lock.yaml
Due: none

chore(deps-dev): sync globals lockfile
  pnpm-lock.yaml
Due: none

chore(deps-dev): sync eslint lockfile
  pnpm-lock.yaml
Due: none

fix(studio): harden runtime contracts
  CHANGELOG.md
  frontend/src/app/api.test.ts
  frontend/src/app/api.ts
  frontend/src/app/apiContract.ts
  frontend/src/app/apiWorkflowContract.ts
  openspec/specs/novel-studio/spec.md
  src/apps/api/health.py
  src/apps/api/runtime.py
  src/contexts/studio/application/services/ai_service.py
  src/contexts/studio/interface/http/session_router.py
  src/contexts/studio/interface/http/workflow_router.py
  src/shared/infrastructure/rate_limit/token_bucket.py
  tests/apps/api/test_app_owned_settings.py
  tests/shared/infrastructure/rate_limit/test_token_bucket.py
  tests/unit/contexts/studio/application/test_ai_service.py
Due: validate-test-markers, frontend-lint, frontend-type-check

chore: snapshot strict review baseline
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  AGENTS.md
  docs/api/openapi.current.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/ai/regression_check.py
  scripts/qa/check_openapi_snapshot.py
  scripts/qa/check_repo_hygiene.py
  scripts/qa/check_ssot.py
  src/apps/api/middleware/error_handler.py
  src/contexts/studio/interface/http/errors.py
  tests/apps/api/test_csrf.py
  tests/conftest.py
  tests/unit/scripts/ai/test_regression_check.py
  uv.lock
Due: validate-test-markers

fix(studio): reduce hook state sync
  frontend/src/features/studio/hooks/useDocumentDraft.ts
  frontend/src/features/studio/hooks/useStudioInspectorState.ts
  frontend/src/features/studio/hooks/useStudioProposal.ts
Due: frontend-lint, frontend-type-check

fix(studio): clear small ui diagnostics
  frontend/src/features/studio/StudioNavigator.tsx
  frontend/src/features/studio/StudioTopbar.tsx
  frontend/src/features/studio/components/StudioCopilotPanel.tsx
Due: frontend-lint, frontend-type-check

fix(studio): defer editor and search work
  frontend/src/app/router.tsx
  frontend/src/features/studio/MarkdownEditor.tsx
  frontend/src/features/studio/hooks/useStudioSearch.ts
Due: frontend-lint, frontend-type-check

fix(studio): derive active document selection
  frontend/src/features/studio/StudioPage.tsx
  frontend/src/features/studio/hooks/useActiveDocument.test.tsx
  frontend/src/features/studio/hooks/useActiveDocument.ts
Due: frontend-lint, frontend-type-check

fix(studio): cache document revisions outside render state
  frontend/src/features/studio/hooks/useDocumentDraft.ts
  frontend/src/features/studio/hooks/useRevisionCache.ts
Due: frontend-lint, frontend-type-check

ci: gate coverage and react diagnostics
  .github/workflows/ci.yml
  tests/apps/api/test_health.py
  tests/contexts/ai/infrastructure/test_deterministic_text_generation_provider.py
Due: validate-test-markers

fix(e2e): suppress controlled shutdown noise
  frontend/scripts/start-e2e-stack.mjs
Due: none

refactor(tests): split fake repository jobs
  scripts/qa/check_file_sizes.py
  tests/fakes/fake_studio_repository.py
  tests/fakes/fake_studio_repository_jobs.py
Due: none

fix(ai): allow moved safety guard lines
  scripts/ai/regression_check.py
  scripts/ai/regression_diff.py
  tests/unit/scripts/ai/test_regression_check.py
Due: validate-test-markers

fix(ai): ignore safety keywords in comments
  scripts/ai/regression_check.py
  tests/unit/scripts/ai/test_regression_check.py
Due: validate-test-markers

refactor(tests): split fake repository auth
  scripts/qa/check_file_sizes.py
  tests/fakes/fake_studio_repository.py
  tests/fakes/fake_studio_repository_auth.py
Due: none

refactor(tests): split fake repository reviews
  scripts/qa/check_file_sizes.py
  tests/fakes/fake_studio_repository.py
  tests/fakes/fake_studio_repository_review_export.py
Due: none

refactor(tests): split fake repository snapshots
  scripts/qa/check_file_sizes.py
  tests/fakes/fake_studio_repository.py
  tests/fakes/fake_studio_repository_snapshots.py
Due: none

refactor(tests): split fake repository projects
  scripts/qa/check_file_sizes.py
  tests/fakes/fake_studio_repository.py
  tests/fakes/fake_studio_repository_projects.py
Due: none

refactor(tests): split fake repository search
  scripts/qa/check_file_sizes.py
  tests/fakes/fake_studio_repository.py
  tests/fakes/fake_studio_repository_search.py
Due: none

refactor(tests): move fake review issue builder
  scripts/qa/check_file_sizes.py
  tests/fakes/fake_studio_repository.py
  tests/fakes/fake_studio_repository_review_export.py
Due: none

refactor(tests): split fake repository documents
  scripts/qa/check_file_sizes.py
  tests/fakes/fake_studio_repository.py
  tests/fakes/fake_studio_repository_documents.py
Due: none

refactor(ai): remove deterministic provider size baseline
  scripts/qa/check_file_sizes.py
  src/contexts/ai/infrastructure/providers/deterministic_text_generation_provider.py
Due: none

refactor(studio): remove models size baseline
  scripts/qa/check_file_sizes.py
  src/contexts/studio/infrastructure/models.py
Due: none

refactor(tests): split openai provider tests
  scripts/qa/check_file_sizes.py
  tests/contexts/ai/infrastructure/test_openai_text_generation_provider.py
  tests/contexts/ai/infrastructure/test_text_generation_providers.py
Due: validate-test-markers

refactor(tests): split dashscope provider tests
  scripts/qa/check_file_sizes.py
  tests/contexts/ai/infrastructure/test_dashscope_text_generation_provider.py
  tests/contexts/ai/infrastructure/test_text_generation_providers.py
Due: validate-test-markers

refactor(studio): split document repository search
  scripts/qa/check_file_sizes.py
  src/contexts/studio/infrastructure/repository/document.py
  src/contexts/studio/infrastructure/repository/document_search.py
Due: none

refactor(studio): split service payload helpers
  scripts/qa/check_file_sizes.py
  src/contexts/studio/application/service_common.py
  src/contexts/studio/application/service_payloads.py
Due: none

refactor(studio): split ai job persistence
  scripts/qa/check_file_sizes.py
  src/contexts/studio/application/services/ai_job_persistence.py
  src/contexts/studio/application/services/ai_service.py
Due: none

refactor(config): split settings sections
  scripts/qa/check_file_sizes.py
  src/shared/infrastructure/config/settings.py
  src/shared/infrastructure/config/settings_sections.py
Due: none

fix(config): avoid copied settings suppressions
  src/shared/infrastructure/config/settings_sections.py
Due: none

refactor(ai): split dashscope protocol
  scripts/qa/check_file_sizes.py
  src/contexts/ai/infrastructure/providers/dashscope_protocol.py
  src/contexts/ai/infrastructure/providers/dashscope_text_generation_provider.py
Due: none

refactor(studio): split repository port sections
  scripts/qa/check_file_sizes.py
  src/contexts/studio/application/ports/studio_repository.py
  src/contexts/studio/application/ports/studio_repository_sections.py
  tests/unit/scripts/qa/test_check_file_sizes.py
Due: validate-test-markers

fix(ai): avoid dashscope version path residue
  src/contexts/ai/infrastructure/providers/dashscope_protocol.py
Due: none

docs(shared): align product identity docstrings
  src/shared/domain/exceptions.py
  src/shared/domain/types.py
  src/shared/infrastructure/middleware/__init__.py
Due: none

test(cli): cover operational commands
  tests/apps/cli/test_novel_engine.py
Due: validate-test-markers

test(cli): cover runtime preparation
  tests/apps/cli/test_novel_engine.py
Due: validate-test-markers

Path conditions:
  validate-test-markers: any of: ^tests/.*test_.*\.py$
  frontend-lint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  frontend-type-check: any of: ^frontend/src/.*\.(ts|tsx)$
