Repository Jackela/Novel-Engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-test-markers, frontend-lint, frontend-type-check

validate-test-markers:
  name: Validate test pyramid markers
  entry: python scripts/testing/validate-test-markers.py
  language: system
  pass_filenames: true
  verbose: true
  description: 'Ensures all test functions have proper pyramid markers
  
    (@pytest.mark.unit, @pytest.mark.integration, or @pytest.mark.e2e).
  
  
  ...

frontend-lint:
  name: Frontend Lint
  entry: npm run lint
  language: system
  pass_filenames: false
  dir: frontend

frontend-type-check:
  name: Frontend Type Check
  entry: npm run type-check
  language: system
  pass_filenames: false
  dir: frontend

refactor(tests): tighten cli fakes
  tests/apps/cli/test_novel_engine.py
Due: validate-test-markers

refactor(tests): split cli fakes
  tests/apps/cli/cli_fakes.py
  tests/apps/cli/test_novel_engine.py
Due: validate-test-markers

fix(studio): include retry terminal events
  src/contexts/studio/application/services/job_service.py
  tests/fakes/fake_studio_repository.py
  tests/unit/contexts/studio/application/test_job_service.py
Due: validate-test-markers

refactor(ai): split deterministic editorial review
  src/contexts/ai/infrastructure/providers/deterministic_editorial_review.py
  src/contexts/ai/infrastructure/providers/deterministic_text_generation_provider.py
Due: none

refactor(ai): split dashscope json parsing
  src/contexts/ai/infrastructure/providers/dashscope_json.py
  src/contexts/ai/infrastructure/providers/dashscope_protocol.py
Due: none

refactor(ai): split dashscope payload coercion
  src/contexts/ai/infrastructure/providers/dashscope_payload.py
  src/contexts/ai/infrastructure/providers/dashscope_text_generation_provider.py
  tests/contexts/ai/infrastructure/test_dashscope_payload.py
Due: validate-test-markers

refactor(studio): extract project repository payloads
  src/contexts/studio/infrastructure/repository/project.py
  src/contexts/studio/infrastructure/repository/project_payloads.py
Due: none

refactor(studio): split document revision repository
  src/contexts/studio/infrastructure/repository/document.py
  src/contexts/studio/infrastructure/repository/document_revisions.py
Due: none

refactor(studio): split repository dto contracts
  src/contexts/studio/application/ports/studio_repository_dtos.py
  src/contexts/studio/application/ports/studio_repository_sections.py
Due: none

refactor(studio): split workflow orm models
  src/contexts/studio/infrastructure/model_base.py
  src/contexts/studio/infrastructure/models.py
  src/contexts/studio/infrastructure/workflow_models.py
Due: none

refactor(tests): split dashscope provider errors
  tests/contexts/ai/infrastructure/test_dashscope_text_generation_provider.py
  tests/contexts/ai/infrastructure/test_dashscope_text_generation_provider_errors.py
Due: validate-test-markers

refactor(config): split llm settings
  src/shared/infrastructure/config/llm_settings.py
  src/shared/infrastructure/config/settings_base.py
  src/shared/infrastructure/config/settings_sections.py
Due: none

docs: align bug report version example
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

fix(ci): ignore guardrail fixture strings
  scripts/ai/regression_check.py
  tests/unit/scripts/ai/test_regression_check_fixtures.py
Due: validate-test-markers

fix(ci): support python 3.12 f-string tokens
  scripts/ai/regression_check.py
  tests/unit/scripts/ai/test_regression_check_fixtures.py
Due: validate-test-markers

ci: print react doctor diagnostics
  .github/workflows/ci.yml
Due: none

fix(frontend): trim api contract exports
  frontend/src/app/apiContract.ts
Due: frontend-lint, frontend-type-check

Teach regression guardrail about auth secret injection
  scripts/ai/regression_check.py
  tests/unit/scripts/ai/test_regression_check.py
Due: validate-test-markers

refactor(studio): harden async state and view contracts
  frontend/src/features/studio/StudioComponents.test.tsx
  frontend/src/features/studio/StudioInspector.tsx
  frontend/src/features/studio/StudioInspectorPanels.tsx
  frontend/src/features/studio/components/StudioHistoryPanel.test.tsx
  frontend/src/features/studio/components/StudioHistoryPanel.tsx
  frontend/src/features/studio/components/StudioSettingsPanel.tsx
  frontend/src/features/studio/hooks/studioPageModelView.test.ts
  frontend/src/features/studio/hooks/studioPageModelView.ts
  frontend/src/features/studio/hooks/useDocumentDraft.ts
  frontend/src/features/studio/hooks/useExportDownload.ts
  frontend/src/features/studio/hooks/useRevisionCache.test.tsx
  frontend/src/features/studio/hooks/useRevisionCache.ts
  frontend/src/features/studio/hooks/useStudioActions.test.tsx
  frontend/src/features/studio/hooks/useStudioActions.ts
  frontend/src/features/studio/hooks/useStudioInspectorState.ts
  frontend/src/features/studio/hooks/useStudioPageModel.ts
  frontend/src/features/studio/hooks/useStudioProposal.ts
  frontend/src/features/studio/studioInspectorTypes.ts
Due: frontend-lint, frontend-type-check

fix(studio): prevent stale revision cache overwrites
  frontend/src/features/studio/hooks/useRevisionCache.test.tsx
  frontend/src/features/studio/hooks/useRevisionCache.ts
Due: frontend-lint, frontend-type-check

fix(studio): satisfy async cache diagnostics
  frontend/src/features/studio/hooks/useRevisionCache.ts
Due: frontend-lint, frontend-type-check

Harden Studio async state and view contracts
  frontend/src/features/studio/StudioComponents.test.tsx
  frontend/src/features/studio/StudioInspector.tsx
  frontend/src/features/studio/StudioInspectorPanels.tsx
  frontend/src/features/studio/components/StudioHistoryPanel.test.tsx
  frontend/src/features/studio/components/StudioHistoryPanel.tsx
  frontend/src/features/studio/components/StudioSettingsPanel.tsx
  frontend/src/features/studio/hooks/studioPageModelView.test.ts
  frontend/src/features/studio/hooks/studioPageModelView.ts
  frontend/src/features/studio/hooks/useDocumentDraft.ts
  frontend/src/features/studio/hooks/useExportDownload.ts
  frontend/src/features/studio/hooks/useRevisionCache.test.tsx
  frontend/src/features/studio/hooks/useRevisionCache.ts
  frontend/src/features/studio/hooks/useStudioActions.test.tsx
  frontend/src/features/studio/hooks/useStudioActions.ts
  frontend/src/features/studio/hooks/useStudioInspectorState.ts
  frontend/src/features/studio/hooks/useStudioPageModel.ts
  frontend/src/features/studio/hooks/useStudioProposal.ts
  frontend/src/features/studio/studioInspectorTypes.ts
Due: frontend-lint, frontend-type-check

docs(domain): add CONTEXT.md glossary and TypeScript rewrite ADR
  CONTEXT.md
  docs/adr/0001-typescript-greenfield-rewrite.md
Due: none

fix(deps): clear high advisories via workspace overrides and react-router bump
  frontend/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

revert: .env.example out of forbidden zone; guardrail tweak moves to its own PR
  .env.example
Due: none

fix(guardrail): scan dangerous additions in product code files only
  scripts/ai/regression_check.py
  tests/unit/scripts/ai/test_regression_check.py
Due: validate-test-markers

fix(guardrail): scan dangerous additions in product code files only (#235)
  frontend/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/ai/regression_check.py
  tests/unit/scripts/ai/test_regression_check.py
Due: validate-test-markers

chore(openspec): archive rename-novel-engine change
  openspec/changes/archive/2026-08-17-rename-novel-engine/proposal.md
  openspec/changes/archive/2026-08-17-rename-novel-engine/specs/novel-studio/spec.md
  openspec/changes/archive/2026-08-17-rename-novel-engine/tasks.md
  openspec/specs/novel-studio/spec.md
Due: none

chore(openspec): archive rename-novel-engine change (#237)
  openspec/changes/archive/2026-08-17-rename-novel-engine/proposal.md
  openspec/changes/archive/2026-08-17-rename-novel-engine/specs/novel-studio/spec.md
  openspec/changes/archive/2026-08-17-rename-novel-engine/tasks.md
  openspec/specs/novel-studio/spec.md
Due: none

chore(ci): disable dependabot version updates
  .github/dependabot.yml
Due: none

chore(ci): disable dependabot version updates (#238)
  .github/dependabot.yml
Due: none

chore: make fixture credentials and password autocomplete scanner-clean
  frontend/src/features/studio/EntryPage.tsx
  tests/apps/api/test_app_owned_settings.py
  tests/contexts/ai/infrastructure/test_dashscope_text_generation_provider.py
  tests/contexts/ai/infrastructure/test_openai_text_generation_provider.py
  tests/contexts/ai/infrastructure/test_provider_factory.py
  tests/credential_fixtures.py
  tests/unit/scripts/ai/test_regression_check.py
Due: validate-test-markers, frontend-lint, frontend-type-check

Path conditions:
  validate-test-markers: any of: ^tests/.*test_.*\.py$
  frontend-lint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  frontend-type-check: any of: ^frontend/src/.*\.(ts|tsx)$
