Repository Jackela/Novel-Engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-test-markers, frontend-lint, frontend-type-check

validate-test-markers:
  name: Validate test pyramid markers
  entry: python scripts/testing/validate-test-markers.py
  language: system
  pass_filenames: true
  verbose: true
  description: 'Ensures all test functions have proper pyramid markers
  
    (@pytest.mark.unit, @pytest.mark.integration, or @pytest.mark.e2e).
  
  
  ...

frontend-lint:
  name: Frontend Lint
  entry: npm run lint
  language: system
  pass_filenames: false
  dir: frontend

frontend-type-check:
  name: Frontend Type Check
  entry: npm run type-check
  language: system
  pass_filenames: false
  dir: frontend

docs: [OPT-014] Mark story complete in PRD
  scripts/ralph/prd.json
Due: none

docs: [OPT-014] Update progress log
  scripts/ralph/progress.txt
Due: none

feat: [OPT-015] - Chat Stress + Resilience E2E Tests
  frontend/tests/e2e/chat-stress.spec.ts
Due: none

docs: [OPT-015] Mark story complete in PRD
  scripts/ralph/prd.json
Due: none

docs: [OPT-015] Update progress log
  scripts/ralph/progress.txt
Due: none

docs: Create OPERATION RESILIENCE PRD for next phase
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

chore: Ignore Ralph worktree directories
  .gitignore
Due: none

docs: Improve PRD for Ralph/Vibe Coding best practices
  scripts/ralph/prd.json
Due: none

docs: Split PRD stories into smaller units (15 → 25 stories)
  scripts/ralph/prd.json
Due: none

feat: RES-001 - API: Add ErrorDetail Schema
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/schemas.py
Due: none

feat: RES-002 - API: Add ValidationError Schema
  scripts/ralph/prd.json
  src/api/schemas.py
Due: none

feat: RES-003 - API: Add 404 Exception Handler
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/errors.py
Due: none

feat: RES-004 & RES-005 - Add Node.js engines and .nvmrc
  frontend/.nvmrc
  frontend/package.json
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

feat: RES-006 & RES-007 - Add /health/live and /health/ready endpoints
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/routers/health.py
Due: none

feat: RES-008 through RES-011 - Fix router prefixes and regenerate OpenAPI
  docs/api/openapi.current.json
  docs/api/openapi.json
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/api/routers/auth.py
  src/api/routers/orchestration.py
Due: none

feat: RES-012 - Implement WorldStateAggregate.save() method
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/world/domain/aggregates/world_state.py
  src/core/result.py
  tests/unit/contexts/world/domain/test_world_state_aggregate.py
Due: validate-test-markers

feat: RES-014, RES-015, RES-016 - Implement MemoryStore with store(), retrieve(), delete()
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  src/contexts/character/infrastructure/persistence/memory_store.py
Due: none

docs: Update progress log for RES-013 through RES-016
  scripts/ralph/progress.txt
Due: none

feat: RES-017 through RES-025 - Complete remaining OPERATION RESILIENCE stories
  frontend/tests/e2e/dashboard-core-uat.spec.ts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

fix: Operation Resilience post-implementation fixes
  docs/api/openapi.current.json
  docs/api/openapi.json
  src/api/app.py
  src/api/errors.py
  src/api/main_api_server.py
  tests/unit/contexts/character/infrastructure/persistence/__init__.py
  tests/unit/contexts/character/infrastructure/persistence/test_memory_store.py
Due: validate-test-markers

feat: Add comprehensive ci-check.sh script for LLM-safe CI validation
  CLAUDE.md
  scripts/ci-check.sh
  tests/unit/contexts/character/infrastructure/persistence/test_memory_store.py
Due: validate-test-markers

fix: Resolve pre-existing CI test failures
  tests/api/test_lore_api.py
  tests/api/test_production_auth_endpoint.py
  tests/contract/test_backend_api_platform_contract.py
  tests/contract/test_cache_api_contract.py
  tests/smoke/test_api_health.py
  tests/unit/contexts/character/domain/test_character_aggregate.py
  tests/unit/contexts/character/domain/test_character_faction.py
  tests/unit/contexts/character/domain/test_character_goal.py
  tests/unit/contexts/character/domain/test_character_memory.py
  tests/unit/contexts/knowledge/application/services/test_bm25_retriever.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_chromadb_vector_store.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_networkx_graph_store.py
  tests/unit/contexts/world/domain/test_faction_leadership.py
  tests/unit/contexts/world/domain/test_world_entities.py
  tests/unit/contexts/world/domain/test_world_state_aggregate.py
  tests/unit/test_unit_api_server.py
Due: validate-test-markers

fix: Add missing domain model files ignored by gitignore
  .gitignore
  src/contexts/knowledge/domain/models/access_control_rule.py
  src/contexts/knowledge/domain/models/access_level.py
  src/contexts/knowledge/domain/models/agent_context.py
  src/contexts/knowledge/domain/models/agent_identity.py
  src/contexts/knowledge/domain/models/knowledge_entry.py
  src/contexts/knowledge/domain/models/knowledge_type.py
  src/contexts/knowledge/domain/models/routing_config.py
  src/contexts/knowledge/domain/models/token_usage.py
  tests/unit/contexts/knowledge/domain/models/test_token_usage.py
Due: validate-test-markers

fix: Update health check endpoints to use /api/health prefix
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/rollback.yml
  .github/workflows/tests.yml
Due: none

fix: Resolve remaining CI failures (reranker test + bundle size)
  frontend/src/components/composed/AppShell.tsx
  frontend/vite.config.ts
  src/contexts/knowledge/infrastructure/adapters/reranker_adapters.py
Due: frontend-lint, frontend-type-check

fix: Skip reranker import test when sentence-transformers is installed
  tests/unit/contexts/knowledge/infrastructure/adapters/test_reranker_adapters.py
Due: validate-test-markers

fix(security): Resolve CodeQL security vulnerabilities (log injection + SSRF)
  src/api/routers/brain_settings.py
  src/api/services/prompt_router_service.py
Due: none

fix(codeql): Resolve remaining CodeQL code quality warnings
  src/agents/director_agent_base.py
  src/api/schemas.py
Due: none

fix(codeql): Resolve remaining CodeQL alerts
  src/api/routers/structure.py
  src/contexts/knowledge/application/services/prompt_formatter.py
  src/contexts/knowledge/application/services/token_tracker.py
  tests/unit/api/routers/test_brain_settings_security.py
  tests/unit/contexts/knowledge/application/ports/test_i_prompt_repository.py
Due: validate-test-markers

fix(codeql): Resolve remaining 7 CodeQL alerts
  src/api/routers/structure.py
  src/contexts/knowledge/application/services/model_registry.py
  tests/unit/contexts/knowledge/application/services/test_graph_retrieval_service.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_chunking_strategy_adapters.py
Due: validate-test-markers

fix(codeql): Resolve last 2 CodeQL false positives
  src/api/routers/structure.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_chunking_strategy_adapters.py
Due: validate-test-markers

fix(codeql): Resolve all 65 remaining CodeQL alerts
  src/api/routers/structure.py
  src/contexts/knowledge/domain/models/prompt_template.py
  src/contexts/knowledge/domain/models/prompt_usage.py
  tests/api/test_production_auth_endpoint.py
  tests/evaluation/test_golden_dataset.py
  tests/test_episodic_memory.py
  tests/test_layered_memory.py
  tests/test_semantic_memory.py
  tests/test_user_stories.py
  tests/unit/contexts/knowledge/application/ports/test_i_chunking_strategy.py
  tests/unit/contexts/knowledge/application/services/test_bm25_retriever.py
  tests/unit/contexts/knowledge/application/services/test_budget_alert_service.py
  tests/unit/contexts/knowledge/application/services/test_hybrid_retriever.py
  tests/unit/contexts/knowledge/application/services/test_knowledge_ingestion_service.py
  tests/unit/contexts/knowledge/application/services/test_model_registry.py
  tests/unit/contexts/knowledge/application/services/test_query_aware_retrieval_service.py
  tests/unit/contexts/knowledge/application/services/test_retrieval_service.py
  tests/unit/contexts/knowledge/application/services/test_token_tracker.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_cached_embedding_service.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_chromadb_vector_store.py
  tests/unit/contexts/knowledge/infrastructure/adapters/test_chunking_strategy_adapters.py
Due: validate-test-markers

chore: Setup Warzone 5 World Simulation PRD
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: none

refactor: Improve PRD stories for better granularity and completeness
  scripts/ralph/prd.json
Due: none

Path conditions:
  validate-test-markers: any of: ^tests/.*test_.*\.py$
  frontend-lint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  frontend-type-check: any of: ^frontend/src/.*\.(ts|tsx)$
