Repository Jackela/Novel-Engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-test-markers, frontend-lint, frontend-type-check

.pre-commit-config.yaml:

# Pre-commit hooks for Novel Engine
# See https://pre-commit.com for more information

repos:
  # Test marker validation
  - repo: local
    hooks:
      - id: validate-test-markers
        name: Validate test pyramid markers
        entry: python scripts/testing/validate-test-markers.py
        language: system
        files: ^tests/.*test_.*\.py$
        pass_filenames: true
        verbose: true
        description: |
          Ensures all test functions have proper pyramid markers
          (@pytest.mark.unit, @pytest.mark.integration, or @pytest.mark.e2e).

          To bypass temporarily, include [skip-marker-check] in commit message.

  # Frontend quality gates
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend Lint
        entry: npm run lint
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        dir: frontend

      - id: frontend-type-check
        name: Frontend Type Check
        entry: npm run type-check
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false
        dir: frontend

  # Standard Python hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags
      - id: check-json
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=100]

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  # Linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args:
          - --max-line-length=100
          - --extend-ignore=E203,W503
          - --exclude=.git,__pycache__,.venv,build,dist

  # Type checking (optional - can be slow)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [types-all]
  #       args: [--ignore-missing-imports]

# Configuration
default_language_version:
  python: python3.11

# Skip specific hooks when needed
# To skip marker validation: SKIP=validate-test-markers git commit -m "message"
# Or include [skip-marker-check] in commit message

fix(ci): resolve integration test and marker validation failures
  src/api/app.py
  tests/unit/contexts/world/domain/value_objects/test_resources.py
Due: validate-test-markers

feat(time): add world calendar/time system (WIP)
  frontend/src/features/world/api/timeApi.ts
  openspec/changes/archive/2026-02-27-split-schemas-by-domain/.openspec.yaml
  openspec/changes/archive/2026-02-27-split-schemas-by-domain/design.md
  openspec/changes/archive/2026-02-27-split-schemas-by-domain/proposal.md
  openspec/changes/archive/2026-02-27-split-schemas-by-domain/specs/spec.md
  openspec/changes/archive/2026-02-27-split-schemas-by-domain/tasks.md
  openspec/changes/archive/2026-02-27-w5-calendar-system/design.md
  openspec/changes/archive/2026-02-27-w5-calendar-system/proposal.md
  openspec/changes/archive/2026-02-27-w5-calendar-system/specs/world-calendar/spec.md
  openspec/changes/archive/2026-02-27-w5-calendar-system/specs/world-time-api/spec.md
  openspec/changes/archive/2026-02-27-w5-calendar-system/tasks.md
  src/api/routers/world_time.py
  src/contexts/world/application/services/time_service.py
  src/contexts/world/domain/events/time_events.py
  src/contexts/world/domain/ports/__init__.py
  src/contexts/world/domain/ports/calendar_repository.py
  src/contexts/world/infrastructure/persistence/in_memory_calendar_repository.py
  tests/integration/api/test_world_time.py
  tests/integration/contexts/world/test_time_service.py
  tests/unit/contexts/world/domain/events/test_time_events.py
Due: validate-test-markers, frontend-lint, frontend-type-check

docs(plan): add Operation Bridge implementation plan
  docs/plans/2026-02-28-w5-foundation-bridge.md
Due: none

feat(simulation): add FactionTickService for time-based updates
  src/contexts/world/application/services/faction_tick_service.py
  tests/unit/contexts/world/application/test_faction_tick_service.py
Due: validate-test-markers

feat(schemas): add WorldTimeResponse and AdvanceTimeRequest schemas
  src/api/schemas/world_schemas.py
  tests/unit/api/schemas/__init__.py
  tests/unit/api/schemas/test_world_schemas.py
Due: validate-test-markers

feat(events): add TimeAdvancedHandler for faction tick processing
  src/contexts/world/application/handlers/__init__.py
  src/contexts/world/application/handlers/time_handler.py
  tests/unit/contexts/world/application/handlers/__init__.py
  tests/unit/contexts/world/application/handlers/test_time_handler.py
Due: validate-test-markers

refactor(eventbus): standardize on Enterprise EventBus in startup
  src/api/startup.py
  tests/unit/api/test_startup.py
Due: validate-test-markers

fix(time): verify world_time router uses new schemas
  src/api/app.py
Due: none

feat(events): register TimeAdvancedHandler with global EventBus
  src/api/startup.py
  tests/integration/api/test_time_event_flow.py
  tests/integration/api/test_world_time.py
Due: validate-test-markers

fix(events): implement EventHandler interface for TimeAdvancedHandler
  src/api/startup.py
  src/contexts/world/application/handlers/__init__.py
  src/contexts/world/application/handlers/time_handler.py
  tests/unit/contexts/world/application/handlers/test_time_handler.py
Due: validate-test-markers

fix(test): update world_time tests to match schema constraints
  tests/integration/api/test_world_time.py
Due: validate-test-markers

docs(openspec): Add w5-faction-ai-intents change proposal
  openspec/changes/w5-faction-ai-intents/.openspec.yaml
  openspec/changes/w5-faction-ai-intents/design.md
  openspec/changes/w5-faction-ai-intents/proposal.md
  openspec/changes/w5-faction-ai-intents/specs/faction-decision-service/spec.md
  openspec/changes/w5-faction-ai-intents/specs/faction-intel-api/spec.md
  openspec/changes/w5-faction-ai-intents/specs/faction-intel-panel/spec.md
  openspec/changes/w5-faction-ai-intents/specs/faction-intent/spec.md
  openspec/changes/w5-faction-ai-intents/tasks.md
Due: none

feat(w5): Implement AI-driven faction decision-making system
  frontend/src/features/world/api/factionIntelApi.ts
  frontend/src/features/world/components/FactionIntelPanel.tsx
  frontend/src/features/world/index.ts
  frontend/src/types/schemas.ts
  src/api/app.py
  src/api/routers/faction_intel.py
  src/api/schemas/world_schemas.py
  src/contexts/world/application/services/__init__.py
  src/contexts/world/application/services/faction_decision_service.py
  src/contexts/world/application/services/faction_intent_generator.py
  src/contexts/world/domain/entities/__init__.py
  src/contexts/world/domain/entities/faction_intent.py
  src/contexts/world/domain/events/intent_events.py
  src/contexts/world/domain/ports/__init__.py
  src/contexts/world/domain/ports/faction_intent_repository.py
  src/contexts/world/infrastructure/persistence/__init__.py
  src/contexts/world/infrastructure/persistence/in_memory_faction_intent_repository.py
  tests/unit/contexts/world/application/services/test_faction_intent_generator.py
  tests/unit/contexts/world/domain/entities/test_faction_intent.py
Due: validate-test-markers, frontend-lint, frontend-type-check

docs(openspec): Update w5-faction-ai-intents tasks progress (10/12 complete)
  openspec/changes/w5-faction-ai-intents/tasks.md
Due: none

fix(test): Update intent resolution tests for new FactionIntent API
  src/contexts/world/application/services/world_simulation_service.py
  tests/unit/contexts/world/application/services/test_intent_resolution.py
Due: validate-test-markers

fix(ci): Add global pytest timeout to prevent external process termination
  pyproject.toml
Due: none

feat(w5): faction AI decision-making system (10/12 tasks complete)
  openspec/changes/w5-faction-ai-intents/tasks.md
  src/api/routers/faction_intel.py
  src/api/schemas/world_schemas.py
  src/api/startup.py
  src/contexts/world/application/services/faction_decision_service.py
  src/contexts/world/domain/events/intent_events.py
  src/contexts/world/domain/ports/faction_intent_repository.py
  src/contexts/world/infrastructure/prompts/faction_intents.yaml
  tests/integration/api/test_faction_intel_api.py
  tests/integration/events/test_intent_event_bus.py
  tests/unit/contexts/world/application/services/test_faction_decision_service.py
  tests/unit/contexts/world/infrastructure/persistence/test_in_memory_faction_intent_repository.py
Due: validate-test-markers

fix(chat): Fix stale closure bug in ChatInterface message handling
  frontend/src/components/ChatInterface.tsx
Due: frontend-lint, frontend-type-check

fix(security): Remove hardcoded credentials from configuration
  config/environments/environments.yaml
  core_platform/config/settings.py
  src/infrastructure/state_store.py
Due: none

perf: Add batch save to FactionIntentRepository to fix N+1 query pattern
  src/contexts/world/application/services/faction_decision_service.py
  src/contexts/world/domain/ports/faction_intent_repository.py
  src/contexts/world/infrastructure/persistence/in_memory_faction_intent_repository.py
  tests/unit/contexts/world/application/services/test_faction_decision_service.py
  tests/unit/contexts/world/infrastructure/persistence/test_in_memory_faction_intent_repository.py
Due: validate-test-markers

feat(health): Add PostgreSQL, Redis, and LLM health checks
  src/api/routers/health.py
Due: none

perf(world): Add React memoization to CalendarDisplay, RumorBoard, and DiplomacyGrid
  frontend/src/components/world/CalendarDisplay.tsx
  frontend/src/components/world/DiplomacyGrid.tsx
  frontend/src/components/world/RumorBoard.tsx
Due: frontend-lint, frontend-type-check

fix(types): Replace any type with proper Tiptap command types in EditorComponent
  frontend/src/components/narrative/EditorComponent.tsx
Due: frontend-lint, frontend-type-check

fix(api): Fix DI architecture violations and add environment validation
  src/api/routers/world_time.py
  src/api/startup.py
  tests/integration/api/test_world_time.py
  tests/unit/api/test_startup.py
Due: validate-test-markers

test(services): Add unit tests for GeopoliticsService, FactionTickService, TimeService, SocialGraphService
  tests/unit/contexts/world/application/services/test_faction_tick_service.py
  tests/unit/contexts/world/application/services/test_geopolitics_service.py
  tests/unit/contexts/world/application/services/test_social_graph_service.py
  tests/unit/contexts/world/application/services/test_time_service.py
Due: validate-test-markers

test(api): Add integration tests for social, structure, world, world_rules, world_state, cache, rumors, health routers
  tests/integration/api/test_cache.py
  tests/integration/api/test_health.py
  tests/integration/api/test_rumors.py
  tests/integration/api/test_social.py
  tests/integration/api/test_structure.py
  tests/integration/api/test_world.py
  tests/integration/api/test_world_rules.py
  tests/integration/api/test_world_state.py
Due: validate-test-markers

test(api): Add integration tests for auth, brain_settings, campaigns, dialogue, diplomacy, events, factions, generation routers
  tests/integration/api/test_auth.py
  tests/integration/api/test_brain_settings.py
  tests/integration/api/test_campaigns.py
  tests/integration/api/test_dialogue.py
  tests/integration/api/test_diplomacy.py
  tests/integration/api/test_events.py
  tests/integration/api/test_factions.py
  tests/integration/api/test_generation.py
  tests/integration/api/test_goals.py
  tests/integration/api/test_items.py
  tests/integration/api/test_lore.py
  tests/integration/api/test_memories.py
  tests/integration/api/test_prompts.py
  tests/integration/api/test_relationships.py
  tests/integration/api/test_simulation.py
  tests/integration/api/test_snapshots.py
Due: validate-test-markers

test: fix unit test assertions and API integration tests
  tests/integration/api/test_factions.py
Due: validate-test-markers

fix(scripts): Fix ci-check.sh syntax error and line endings
  scripts/ci-check.sh
Due: none

fix: Remediation Batch 1 & 2 - Security, React, Type Safety
  .githooks/pre-push
  README.md
  core_platform/config/settings.py
  core_platform/persistence/alembic.ini
  frontend/src/components/ChatInterface.tsx
  k8s/base/secret.yaml
  k8s/monitoring.yaml
  k8s/secrets.yaml
  scripts/ci-local-vs-ga.sh
  scripts/setup-hooks.sh
  src/contexts/knowledge/application/services/rag_integration_service.py
  src/contexts/knowledge/application/services/retrieval_service.py
  src/contexts/knowledge/infrastructure/adapters/neo4j_graph_store.py
  src/security/security_integration.py
  tests/helpers/postgres.py
  tests/unit/contexts/knowledge/application/services/test_retrieval_service.py
Due: validate-test-markers, frontend-lint, frontend-type-check

test: add API integration tests for Batch 3 routers
  src/api/app.py
  src/api/errors.py
  tests/integration/api/test_auth.py
  tests/integration/api/test_brain_settings.py
  tests/integration/api/test_campaigns.py
  tests/integration/api/test_dialogue.py
  tests/integration/api/test_diplomacy.py
  tests/integration/api/test_events.py
  tests/integration/api/test_goals.py
  tests/integration/api/test_items.py
  tests/integration/api/test_lore.py
  tests/integration/api/test_memories.py
  tests/integration/api/test_prompts.py
  tests/integration/api/test_structure.py
  tests/integration/api/test_world.py
  tests/integration/api/test_world_state.py
Due: validate-test-markers

feat(infra): Batch 4 infrastructure and polish improvements
  docker/Dockerfile
  docker/Dockerfile.production
  docker/docker-compose.enterprise.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  frontend/src/components/world/RumorBoard.tsx
  frontend/src/components/world/WorldTimeline.tsx
  frontend/src/features/characters/components/MemoryTimeline.tsx
  tests/conftest.py
Due: frontend-lint, frontend-type-check

fix(test): Fix pre-existing test failures
  tests/evaluation/test_golden_dataset.py
  tests/integration/api/test_brain_settings.py
  tests/integration/api/test_campaigns.py
  tests/integration/api/test_events.py
  tests/integration/api/test_items.py
  tests/integration/api/test_lore.py
  tests/unit/contexts/knowledge/application/services/test_query_aware_retrieval_service.py
  tests/unit/contexts/knowledge/application/services/test_rag_integration_service.py
Due: validate-test-markers

fix(logging): Change 'message' kwarg to 'details' in logger.warning
  src/contexts/world/application/services/time_service.py
Due: none

fix(test): Fix remaining 3 pre-existing integration test failures
  tests/integration/api/test_campaigns.py
  tests/integration/api/test_snapshots.py
Due: validate-test-markers
